@charset "UTF-8";
.mobile {display: none;}

/*header/footer*/
#header {position: fixed;left: 0;top: 0;z-index: 9;width:100%;background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);border-bottom:1px solid rgba(255, 255, 255, 0.4);transition: all .3s;}
#header .header_inner {display:flex;flex-direction:row;align-items:center;justify-content:space-between;width:100%;max-width:1800px;margin:0 auto;}
#header .content_inner {display:flex;flex-direction: row;justify-content:space-between;align-items:center;height: 100%;}
#header .logo span {display:block;width:337px;height:40px;background-repeat:no-repeat;background-position: center;background-size:100% 100%;transition:background-image .3s;}
#header .logo span.white {display: block;background-image: url(../images/common/logo_white.svg);}
#header .logo span.color {display: none;background-image: url(../images/common/logo.svg);}
#header .util_wrap {display:flex;flex-direction:row;align-items:center;}
#header .util {display:flex;flex-direction:row;align-items:center;}
#header .util .home {position:relative;font-size: 14px;font-weight: 700;color:#fff;}
#header .util .home::after {content:'';display:block;position:absolute;right:-16px;top:3px;width:1px;height:12px;background-color:#fff;}
#header .util .lang {display:flex;flex-direction:row;align-items:center;margin-left:43px;}
#header .util .lang a {display:block;text-align:center;border:1px solid transparent;color:#fff;font-weight:500;width:60px;line-height:32px;text-align:center;}
#header .util .lang a + a {margin-left:-1px;border-left:1px solid rgba(255, 255, 255, 0.4);}
#header .util .lang a.active {background-color:#fff;color:#2E3192;font-weight:700;}
#header.active .util .lang a.active,
#header.fixed .util .lang a.active {border-color:#2E3192;background-color:#2E3192;color:#fff;}
#header.active .util .lang a + a,
#header.fixed .util .lang a + a {border:none;border-left:1px solid #000;}
#header .btn_menu {display:blcok;position:relative;margin-left:27px;width:24px;height: 22px;}
#header .btn_menu span {display: block;position: absolute;height: 2px;width: 100%;background: #fff;border-radius: 4px;opacity: 1;left: 0;border-radius: 2px;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
#header .btn_menu span:nth-child(1) {top: 0px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
#header .btn_menu span:nth-child(2) {top: 10px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
#header .btn_menu span:nth-child(3) {top: 20px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
#header .btn_menu.close span:nth-child(1) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top:1px;left: 3px;}
#header .btn_menu.close span:nth-child(2) {width: 0%;opacity: 0;}
#header .btn_menu.close span:nth-child(3) {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);top: 18px;left: 3px;}
#nav {position:relative;z-index:1;}
#nav > ul {font-size:0;text-align:center;}
#nav > ul > li {display:inline-block;vertical-align:middle;position:relative;}
#nav > ul > li + li {margin-left:17px;}
#nav > ul > li > a {display: block;position:relative;padding: 0 32px;font-size:16px;font-weight: 700;color: #fff;line-height:80px;transition:all .3s;}
#nav > ul > li:hover > a::after {content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:3px;background-color: #2E3192;}
#nav .sub_menu {position:absolute;padding:36px 0;width:100%;display:none;}
#nav .sub_menu li {}
#nav .sub_menu li a {display:block;padding:12px 0;color:#636363;}
#mNav {display: none;position: fixed;left: 0;top:50px;width: 100%;height:calc(100vh - 50px);background: #fff;}
#mNav ul li a {display: block;padding:0 20px;border-bottom: 1px solid rgba(38, 34, 34, 0.2);font-size: 20px;font-weight: 700;line-height: 50px;}
#header.fixed,
#header.active {background: #fff;border-bottom-color:#cbcbcb;}
#header.fixed .logo span.color,
#header.active .logo span.color {display:block;}
#header.fixed .logo span.white,
#header.active .logo span.white {display:none;}
#header.fixed #nav ul li a,
#header.active #nav ul li a {color: #000;}
#header.fixed .btn_menu span,
#header.active .btn_menu span {background: #000;}
.header_bg {position:absolute;left:0;top:81px;width:100%;background:#fff;height:0;transition: height .3s;overflow:hidden;}
#header.active .header_bg {height:352px;}
.header_bg_inner {width:100%;max-width:1800px;height:352px;margin:0 auto;position:relative;}
.header_bg .bg_logo {position:absolute;right:60px;bottom:36px;}

#header.active .util .home,
#header.fixed .util .home {color:#000;}
#header.active .util .home::after,
#header.fixed .util .home::after {background-color:#000;}
#header.active .util .lang a,
#header.fixed .util .lang a {border-color:#000;color:#000;}
#header.fixed .util .lang a.active
#header.active .util .lang a.active {background-color:#2E3192;color:#fff;}

#sitemap {display:none;position:fixed;left:0;top:81px;width:100%;height:calc(100vh - 81px);overflow-y:auto;background:#fff;z-index:99;}
#sitemap .sitemap_top {display:none;flex-direction:row;align-items:center;gap:24px;padding-bottom:25px;margin-bottom:25px;border-bottom:1px solid #B0B0B0;width:100%;}
#sitemap .sitemap_top .home {position:relative;font-size: 18px;font-weight: 700;color:#000;}
#sitemap .sitemap_top .home::after {content:'';display:block;position:absolute;right:-12px;top:3px;width:1px;height:12px;background-color:#000;}
#sitemap .sitemap_top .lang {display:flex;flex-direction:row;align-items:center;}
#sitemap .sitemap_top .lang a {display:block;text-align:center;border:1px solid #000;color:#abadd3;font-weight:500;width:60px;line-height:32px;text-align:center;}
#sitemap .sitemap_top .lang a + a {margin-left:-1px;}
#sitemap .sitemap_top .lang a.active {background-color:#2E3192;color:#fff;font-weight:700;}
#sitemap .sitemap_inner {display:flex;align-items:center;justify-content:center;width:100%;height:100%;max-width:1600px;margin:0 auto;flex-direction:column;}
#sitemap .sitemap_inner > ul {}
#sitemap .sitemap_inner > ul > li {display:flex;flex-direction:row;align-items:center;padding-bottom:25px;margin-bottom:25px;border-bottom:1px solid #B0B0B0;}
#sitemap .sitemap_inner > ul > li h2 {margin-right:240px;font-size:40px;line-height:1.2;font-weight:700;}
#sitemap .sitemap_inner > ul > li > ul {display:flex;flex-direction:row;gap:56px;align-items:center;}
#sitemap .sitemap_inner > ul > li > ul > li {}
#sitemap .sitemap_inner > ul > li > ul > li > a {display:block;position:relative;padding-left:20px;font-size:24px;font-weight:500;color:#636363;line-height:1.2;}
#sitemap .sitemap_inner > ul > li > ul > li > a::before {content:'';display:block;position:absolute;left:0;top:10px;width:4px;height:4px;background:#E98913;}

#footer {height:186px;background-color:#F6F6F6;z-index:1;}
#footer .content_inner {padding:50px 0 0 0;display: flex;justify-content: space-between;align-items: flex-start;}
#footer .footer_company {}
#footer .footer_company .logo {margin-bottom:24px;}
#footer .footer_company address {font-size:14px;line-height:1.6;}
#footer .footer_company .footer_info {display:flex;flex-direction:row;gap:0 20px;margin-top:4px;}
#footer .footer_company .footer_info + .footer_info {margin-top:10px;}
#footer .footer_company .info_item {position:relative;}
#footer .footer_company .info_item::after {content:'';display:block;position:absolute;right:-10px;top:3px;width:1px;height:12px;background-color:#636363;}
#footer .footer_company .info_item:last-child::after {display:none;}
#footer .footer_company .info_item b {margin-right:5px;font-size:14px;font-weight:700;color:#636363;}
#footer .footer_company .info_item span {font-size:14px;color:#636363;}
#footer .footer_company .copyright {margin-top:10px;font-size:14px;color:#636363;letter-spacing: 0;}
#footer .footer_privacy {text-align:right;}
#footer .footer_privacy ul {display:inline-flex;flex-direction:row;gap:32px;}
#footer .footer_privacy ul li {position:relative;font-size:16px;color:#191919;font-weight:500;}
#footer .footer_privacy ul li + li::before {content:'';display:block;position:absolute;left:-16px;top:0;width:1px;height:12px;background-color:#b0b0b0;}
#footer .footer_privacy .btn_family {position:relative;border:1px solid #b0b0b0;padding:7px 16px;width:160px;height:40px;margin-left:24px;text-align:left;}
#footer .footer_privacy .btn_family span {display:block;line-height:1.6;color:#191919;}
#footer .footer_privacy .btn_family::after {content:'';display:block;position:absolute;right:12px;top:50%;transform:translateY(-50%);background:url(../images/ico/arw_down_black.svg) no-repeat center/100% 100%;width:24px;height:24px;}
#footer .footer_privacy .footer_logo {margin-top:26px;display:flex;align-items:center;flex-direction:row;gap:24px;justify-content:flex-end;}
#footer .footer_privacy .footer_logo img {}

/*common*/
.section {position:relative;}
.section .title_wrap {margin-bottom: 64px;overflow:hidden;}
.section .title_wrap.center_type {text-align:center;}
.section .title_wrap.center_type .sub_exp.sm {margin-top: 0;font-size: 24px;font-weight: 300;}
.section .title_wrap.center_type .sub_exp.sm + .sub_exp {margin-top: 8px;}
.section .title_wrap h2 {position: relative;font-size:56px;font-weight: 700;color: #191919;opacity: 0;transform:translateX(200px);transition:all .7s;word-break:keep-all;line-height:1.2;}
.section .title_wrap .sub_exp {margin-top:24px;font-size: 18px;line-height:1.61;opacity: 0;transform:translateX(100px);transition:all .7s;transition-delay: 1s;word-break:keep-all;}
.section .title_wrap.center_type .sub_exp {transition-delay:.5s;}
.section .title_wrap.center_type .sub_exp.sm {transition-delay:0s;}
.section .title_wrap h3 + .sub_exp {color: #fff;}
.section .title_wrap.white_type h2 {color: #fff;}
.section .title_wrap.white_type h2:after {background: #C4C4C4;}
.section .title_wrap.white_type .sub_exp {color: #fff;}
.section .title_wrap h3 {font-size:30px;font-weight: 800;color: #fff;opacity: 0;transform:translateX(200px);transition:all .7s;word-break:keep-all;}
.section.active .title_wrap h2:after {width:50px;}
.section.active .title_wrap h2,
.section.active .title_wrap h3,
.section.active .title_wrap .sub_exp {opacity:1;transform:translateX(0);}

/*main_visual*/
.main_visual {position: relative;}
.main_visual .text_wrap {display: flex;align-items:center;justify-content:center;position:absolute;left: 0;top: 0;z-index:1;height: 100%;width: 100%;}
.main_visual .text_wrap p {font-size:50px;font-weight: 800;color: #fff;line-height:1.5;opacity:0;transform:translateY(100px);transition:transform 1s ease-in-out, opacity 1s ease-in-out;transition-delay:.5s;word-break:keep-all;}
.main_visual .text_wrap span {display:block;margin-top: 20px;font-size:32px;font-weight: 100;color: #fff;line-height:1.5;opacity:0;transform:translateY(100px);transition:transform 1s ease-in-out, opacity 1s ease-in-out;transition-delay:1s;word-break:keep-all;}
.main_visual .text_wrap a { display: inline-block; border: 1px solid #fff; margin-top: 50px; padding: 12px 60px; color: #fff; font-size: 17px; opacity: 0; transform: translateY(100px); transition: transform 1s ease-in-out, opacity 1s ease-in-out; transition-delay: 1.5s;}
.main_visual .swiper-slide:before {content: '';display:block;position:absolute;left: 0;top: 0;z-index: 1;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.2);}
.main_visual .swiper-slide-active .text_wrap p {transform: translateY(0);opacity:1;}
.main_visual .swiper-slide-active .text_wrap span {transform: translateY(0);opacity:1;}
.main_visual .swiper-slide-active .text_wrap a {transform: translateY(0);opacity:1;}
.main_visual .swiper_controls {position:absolute;bottom: 110px;z-index:2;width: 100%;}
.main_visual .swiper_controls .content_inner {position:relative;}
.main_visual .swiper-pagination {display: inline-block;position:static;width: auto;font-size:16px;color: #fff;}
.main_visual .swiper-pagination span {display:inline-block;width: 16px;height: 16px;margin:0 10px !important;padding:3px;background: transparent;opacity:1;vertical-align:middle;cursor:pointer;border-radius:0;}
.main_visual .swiper-pagination span em {display:block;width:10px;height:10px;background:#fff;text-indent:-9999em;}
.main_visual .swiper-pagination span.swiper-pagination-bullet-active,
.main_visual .swiper-pagination span.swiper-pagination-current {background:#E98913;font-weight:800;}
.main_visual .swiper-pagination span.swiper-pagination-bullet-active + .progress {display:inline-block;}
.main_visual .swiper-button-prev, .main_visual .swiper-button-next {display: inline-block;position: static;width: 10px;height: 18px;margin-top:0;background-size:100% 100%;background-repeat:no-repeat;vertical-align:middle;}
.main_visual .swiper-pagination span.swiper-pagination-bullet-active em,
.main_visual .swiper-pagination span.swiper-pagination-current em {display:none;}
.main_visual .swiper-button-prev {margin-right: 10px;background-image:url(../images/ico/ico_slider_prev.svg);}
.main_visual .swiper-button-next {margin-left: 10px;background-image:url(../images/ico/ico_slider_next.svg);}
.main_visual .ico_scroll {position:absolute;left:50%;bottom:30px;z-index:2;width:77px;height: 60px;background: url(../images/ico/ico_scroll.svg) no-repeat center/100% 100%;text-indent:-9999em;transform:translateX(-50%);animation: bounce .8s infinite linear;}
.progress {display: inline-block;position: relative;width:124px;height:1px;margin: 0 10px;background: #fff;vertical-align:middle;}
.progress .progress_bar {position:absolute;left: 0;top: -1px;width: 0;height: 3px;border-radius:2px;background: #E98913;}
.progress.active .progress_bar {animation:5s start linear;}
.img_wrap {position:relative;width: 100%;height: 100vh;overflow:hidden;}
.img_wrap .bg {position:relative;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover;transform: translateZ(0) scale(1.1) rotate(0.1deg);transition: 5s;transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);}
.swiper-slide-active .img_wrap .bg {transform: translateZ(0) scale(1) rotate(0deg);}

/*서비스구성*/
#sectionService {background-color:#f6f6f6;}
#sectionService .title_wrap {padding-top:125px;}
#sectionService .content_inner {display:flex;flex-direction:column;justify-content:center;height:100%;}
#sectionService .accordion_wrap {width:100%;}
#sectionService .accordion_wrap .d_flex {display:flex;flex-wrap:nowrap;height: 630px;align-items:stretch;}
#sectionService .accordion_item {display: block;overflow: hidden;position: relative;height:100%;flex-basis:calc(100% / 4);background-repeat:no-repeat;background-position:center;background-size: cover;transition: flex-basis .5s ease-in-out;cursor:pointer;}
#sectionService .accordion_item.item01 {background-image:url(../images/img/img_service_01.jpg);}
#sectionService .accordion_item.item02 {background-image:url(../images/img/img_service_02.jpg);}
#sectionService .accordion_item.item03 {background-image:url(../images/img/img_service_03.jpg);}
#sectionService .accordion_item .title {position:absolute;left: 50%;width: 100%;height: 100%;padding: 50px 0;transform: translateX(-50%);transition:opacity .3s;display: flex;flex-direction:column;justify-content:flex-end;align-items:center;background-color:rgba(0, 0, 0, 0.5);}
#sectionService .accordion_item .title b {display:block;position: relative;z-index: 1;font-size: 28px;color: #fff;text-align:center;line-height:1.25;}
#sectionService .accordion_item .title em {display:block;position: relative;z-index: 1;font-size: 28px;color: #fff;text-align:center;line-height:1.25;font-weight:300;}
#sectionService .accordion_item .title:before {content: '';display:block;position:absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(51, 51, 51, 0.3);}
#sectionService .accordion_item .text_wrap {overflow: hidden;opacity:0;position:absolute;left: 0;bottom: 0;width: 100%;padding: 50px;transition: all .3s;background-color:rgba(0, 0, 0, 0.5);}
#sectionService .accordion_item .text_wrap:before {content: '';display:block;position:absolute;left: 0;top: 0;width: 100%;height: 100%;background:rgba(0, 0, 0, 0.3);}
#sectionService .accordion_item .text_wrap span {display: block;position: relative;font-size: 28px;font-weight:300;color: #fff;word-break:keep-all;}
#sectionService .accordion_item .text_wrap span b {font-size:inherit;font-weight:700;color:inherit;}
#sectionService .accordion_item .text_wrap p {position: relative;margin-top: 12px;color: #fff;line-height:1.5;word-break:keep-all;font-size:18px;}
#sectionService .accordion_item.active {flex-basis:69%;}
#sectionService .accordion_item:not(.active) {flex-basis:calc((100% - 69%) / 2);}
#sectionService .accordion_item.active .title {opacity:0;}
#sectionService .accordion_item.active .text_wrap {opacity:1;transition-delay:.3s;}
#sectionService .accordion_item .view_more {display:block;position:absolute;right:50px;bottom:56px;}
#sectionService .accordion_item .view_more span {display:block;position:relative;padding-right:90px;font-size:18px;color:#fff;}
#sectionService .accordion_item .view_more span::before {content:'';display:block;position:absolute;right:0;top:50%;margin-top:-5px;transform:translateY(-50%);width:84px;height:12px;background:url(../images/ico/arw_right_white2.svg) no-repeat center/100% 100%;z-index:1;}
#sectionService .accordion_item .view_more span::after {content:'';display:block;position:absolute;right:0;top:50%;width:40px;height:40px;border-radius:50%;background-color:#2E3192;transform:translate(10px, -50%);margin-top:-5px;transition:all .3s;}
#sectionService .accordion_item .text_wrap:hover .view_more span::after {transform:translate(19px, -50%);}

#serviceMb {display:none;}

#sectionNetwork .fp-tableCell {vertical-align:top;}
#sectionNetwork .bg_network {position:absolute;top:0;left:50%;width:100%;transform:translate(-50%);height:400px;background:url(../images/bg/bg_network.jpg) no-repeat center/cover;}
#sectionNetwork .content_inner {z-index:1;padding-top:125px;}
#sectionNetwork .title_wrap {margin-bottom:40px;}
#sectionNetwork .title_wrap h2,
#sectionNetwork .title_wrap .sub_exp {color:#fff;}
#sectionNetwork .map_area {width:100%;max-width:1420px;margin:0 auto;position:relative;}
#sectionNetwork .map_area .btn_wrap {position:absolute;right:48px;top:48px;z-index:2;display:flex;flex-direction:row;align-items:center;margin-left:43px;}
#sectionNetwork .map_area .btn_wrap button {display:block;text-align:center;color:#4A4A4A;font-weight:400;width:90px;line-height:32px;text-align:center;}
#sectionNetwork .map_area .btn_wrap button + button {margin-left:-1px; border-left: 1px solid #fff;}
#sectionNetwork .map_area .btn_wrap button.active + button { border-left: none;}
#sectionNetwork .map_area .btn_wrap button.active {border:1px solid #2E3192;background-color:#2E3192;color:#fff;font-weight:700;}
#sectionNetwork .map_area .map_bg {position:absolute;z-index:1;width:100%;height:0;padding-top:43.80281690140845%;}
#sectionNetwork .map_area .map_bg svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#sectionNetwork .map_area .map_bg svg .coord_box { position: relative; z-index: 100;}
#sectionNetwork .map_area .map_bg svg .coord { cursor: pointer;}
#sectionNetwork .map_area .map_bg svg.tooltip { position: absolute; top: unset; width: unset; height: unset; }
#sectionNetwork .map_area .map_bg svg#tooltipCn { left: calc(423 / 1420 * 100%); bottom: calc(300 / 622 * 100%);}
#sectionNetwork .map_area .map_bg svg#tooltipKor { left: calc(500 / 1420 * 100%); bottom: calc(339 / 622 * 100%);}
#sectionNetwork .map_area .map_bg svg#tooltipViet { left: calc(357 / 1420 * 100%); bottom: calc(240 / 622 * 100%);}
#sectionNetwork .map_area .rect_blur { pointer-events: none;}

#sectionNotice {position:relative;z-index:1;}
#sectionNotice .fp-tableCell {vertical-align:top;}
#sectionNotice .content_inner {z-index:1;padding-top:125px;}
#sectionNotice .title_wrap {margin-bottom:70px;}
#sectionNotice .title_wrap h2,
#sectionNotice .title_wrap .sub_exp {color:#fff;}
#sectionNotice .title_wrap:nth-child(2) {text-align:right;}
#sectionNotice .title_area {display:flex;flex-direction:row;justify-content:space-between;}
#sectionNotice .bg_wrap {display:flex;flex-direction:row;position:absolute;top:0;left:50%;width:100%;transform:translate(-50%);}
#sectionNotice .bg_wrap > div {flex-basis:50%;height:400px;background-repeat:no-repeat;background-size:cover;background-position:center;}
#sectionNotice .bg_wrap .recruit {background-image:url(../images/bg/bg_recruit.jpg);}
#sectionNotice .bg_wrap .notice {background-image:url(../images/bg/bg_notice.jpg);}
#sectionNotice .half_wrap {display:flex;flex-direction:row;gap:80px;padding:45px 50px;min-height:622px;box-shadow:10px 3px 10px 0 rgba(0, 0, 0, 0.2);position:relative;z-index:9;background-color:#fff;}
#sectionNotice .half_wrap > div {flex-basis:50%;}
#sectionNotice .half_wrap .more {text-align:right;}
#sectionNotice .half_wrap .more a {display:inline-block;position:relative;font-size:16px;font-weight:500;color:#1C487B;}
#sectionNotice .half_wrap .more a::after {content:'';display:block;position:absolute;right:0;bottom:0;width:100%;border-bottom:1px solid #1C487B;}
#sectionNotice .half_wrap .recruit_wrap {}
#sectionNotice .half_wrap .recruit_wrap ul {}
#sectionNotice .half_wrap .recruit_wrap ul li {display:flex;gap:8px;justify-content:space-between;padding:25px 0;border-bottom:1px solid #4a4a4a;}
#sectionNotice .half_wrap .recruit_wrap ul li .info {flex:1;width:100%;}
#sectionNotice .half_wrap .recruit_wrap ul li .info h3 {margin-bottom:10px;font-size:20px;line-height:1.9;color:#2E3192;}
#sectionNotice .half_wrap .recruit_wrap ul li .info .title {position:relative;padding-bottom:10px;margin-bottom:10px;font-size:22px;line-height:1.63;font-weight:700;}
#sectionNotice .half_wrap .recruit_wrap ul li .info .title::after {content:'';display:block;position:absolute;left:0;bottom:0;width:50px;height:4px;background:#2E3192;}
#sectionNotice .half_wrap .recruit_wrap ul li .info .date {color:#4a4a4a;line-height:1.625;}
#sectionNotice .half_wrap .recruit_wrap ul li .thumb {width:130px;height:130px;border:1px solid #11A75C;}
#sectionNotice .half_wrap .recruit_wrap ul li .thumb div {width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
#sectionNotice .half_wrap .recruit_wrap ul li .thumb div p {font-size:20px;font-weight:500;color:#11A75C;}
#sectionNotice .half_wrap .notice_wrap {}
#sectionNotice .half_wrap .notice_wrap ul {display:flex;flex-direction:row;gap:50px;margin-top:25px;}
#sectionNotice .half_wrap .notice_wrap ul li {position:relative;}
#sectionNotice .half_wrap .notice_wrap ul li + li:before {content:'';display:block;position:absolute;left:-25px;top:0;width:1px;height:100%;background:#4a4a4a;}
#sectionNotice .half_wrap .notice_wrap ul li .info {}
#sectionNotice .half_wrap .notice_wrap ul li .title {position:relative;font-size:22px;font-weight:700;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; max-height: 108px; min-height: 108px; line-height: 36px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-align: left;}
#sectionNotice .half_wrap .notice_wrap ul li .date {position:relative;padding-top:10px;margin-top:10px;color:#4a4a4a;line-height:1.625;}
#sectionNotice .half_wrap .notice_wrap ul li .date::before {content:'';display:block;position:absolute;left:0;top:0;width:50px;height:4px;background:#2E3192;} {font-size:22px;font-weight:700;}
#sectionNotice .half_wrap .notice_wrap ul li .content {margin-top:10px;color:#4a4a4a;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; max-height: 182px; min-height: 182px; line-height: 26px; -webkit-line-clamp: 7; -webkit-box-orient: vertical; text-align: left;}
#noticeMb {display:none;}

@media all and (max-width: 1440px){
	#header .header_inner {padding:0 16px;}
	#header .logo span {width:270px;height:32px;}
	#nav > ul > li > a {padding:0 16px;}
	#header .util {display:none;}
	#sitemap .sitemap_inner > ul > li h2 {margin-right:50px;font-size:30px;}
	#sitemap .sitemap_inner > ul > li > ul {gap:28px;}

	.main_visual .swiper-slide .text_wrap .content_inner {padding:0 16px;}
	.main_visual .swiper_controls {padding:0 16px;}

	#sectionNetwork .map_area .map_bg svg.tooltip { width: calc(152 / 1420 * 100%); max-width: 152px; height: calc(166 / 622 * 100%);}

	#footer .footer_privacy .footer_logo {gap:5px;}
}

@media all and (max-width: 1024px){
	.fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell {height:auto !important;}

	#header .header_inner {height:80px;}
	#nav {display:none;}
	#sitemap .sitemap_top {display:flex;}

	#footer {height:auto;}
	#footer .content_inner {padding:32px 16px;flex-direction:column;}
	#footer .footer_company {}
	#footer .footer_company .logo {margin-bottom:16px;}
	#footer .footer_company .logo img {width:154px;}
	#footer .footer_company address {font-size:14px;line-height:1.6;}
	#footer .footer_company .footer_info {flex-wrap:wrap;}
	#footer .footer_company .footer_info + .footer_info {margin-top:4px;}
	#footer .footer_company .info_item b {font-size:12px;}
	#footer .footer_company .info_item span {font-size:12px;}
	#footer .footer_company .copyright {margin-top:4px;font-size:12px;color:#636363;}
	#footer .footer_privacy {display:flex;flex-direction:column;margin-top:24px;}
	#footer .footer_privacy ul li {font-size:14px;}
	#footer .footer_privacy .btn_family {padding:7px 12px;width:140px;height:36px;margin:24px 0 0 0;}
	#footer .footer_privacy .btn_family span {font-size:14px;}
	#footer .footer_privacy .footer_logo {gap:12px;margin-top:24px;flex-wrap: wrap;justify-content: flex-start;}
	#footer .footer_privacy .footer_logo img {height:32px;}

	#sitemap .sitemap_inner {align-items:flex-start;justify-content:flex-start;padding:32px 16px;}
	#sitemap .sitemap_inner > ul {width:100%;}
	#sitemap .sitemap_inner > ul > li {flex-direction:column;align-items:flex-start;}
	#sitemap .sitemap_inner > ul > li h2 {margin-right:0;margin-bottom:24px;font-size:28px;}
	#sitemap .sitemap_inner > ul > li > ul {flex-direction: column;align-items: flex-start;gap:20px;}
	#sitemap .sitemap_inner > ul > li:first-child > ul {flex-wrap:wrap;flex-direction:row;gap:20px 0;}
	#sitemap .sitemap_inner > ul > li:first-child > ul > li {flex-basis:50%;}
	#sitemap .sitemap_inner > ul > li > ul > li > a {padding-left:12px;font-size:18px;}

	.section .title_wrap {padding-top:40px;margin-bottom:20px;}
	.section .title_wrap h2 {font-size:32px;}
	.section .title_wrap .sub_exp {margin-top:12px;font-size:16px;}

	/*서비스구성*/
	#sectionService .title_wrap {padding:40px 20px 0;}
	#sectionService .content_inner {display:block;}
	#serviceMb {display:block;}
	#servicePc {display:none;}
	#sectionService .swiper-slide {width:320px;height:436px;}
	#sectionService .swiper-slide:first-child {padding-left:20px;}
	#sectionService .accordion_item .text_wrap {padding:20px 16px;opacity:1;}
	#sectionService .accordion_item .text_wrap span {font-size: 20px;}
	#sectionService .accordion_item .text_wrap p {margin-top: 10px;font-size:16px;}
	#sectionService .accordion_item .view_more {position:static;margin-top:25px;display:inline-block;}
	#sectionService .accordion_item .view_more span {font-size:18px;}

	#sectionNetwork .bg_network {height:223px;}
	#sectionNetwork .title_wrap {padding:40px 20px;}
	#sectionNetwork .content_inner {padding:0;}
	#sectionNetwork .map_area {width:calc(100% - 40px);margin-top:-60px;}
	#sectionNetwork .map_area .map_bg {position: relative;}

	#sectionNotice .content_inner {padding-top:0;}
	#sectionNotice .title_wrap {margin-bottom:0;padding:40px 20px;}
	#sectionNotice #noticePc .bg_wrap .notice {display:none;}
	#sectionNotice #noticePc .title_wrap:nth-child(2) {display:none;}
	#sectionNotice .title_area {display:flex;flex-direction:row;justify-content:space-between;}
	#sectionNotice .bg_wrap {display:block;}
	#sectionNotice .bg_wrap > div {height:223px;}
	#sectionNotice .bg_wrap > div:nth-child(2) {display:none;}
	#sectionNotice .half_wrap {flex-direction:column;min-height:auto;padding:30px 20px;width:calc(100% - 40px);left:20px;}
	#sectionNotice .half_wrap > div {flex-basis:100%;}
	#sectionNotice .half_wrap .more a {font-weight:400;}
	#sectionNotice .half_wrap .recruit_wrap ul li {padding:25px 0;position:relative;}
	#sectionNotice .half_wrap .recruit_wrap ul li:first-child {padding-top:0;}
	#sectionNotice .half_wrap .recruit_wrap ul li:last-child {border:none;padding-bottom:0;}
	#sectionNotice .half_wrap .recruit_wrap ul li .info h3 {margin-bottom:20px;font-size:18px;}
	#sectionNotice .half_wrap .recruit_wrap ul li .info .title {padding-bottom:16px;margin-bottom:16px;font-size:18px;}
	#sectionNotice .half_wrap .recruit_wrap ul li .info .date {font-size:14px;}
	#sectionNotice .half_wrap .recruit_wrap ul li .thumb {position:absolute;right:0;bottom:25px;width:80px;height:40px;}
	#sectionNotice .half_wrap .recruit_wrap ul li .thumb div p {font-size:18px;}
	#sectionNotice #noticePc .half_wrap .notice_wrap {display:none;}
	#sectionNotice .half_wrap .notice_wrap ul {flex-direction:column;gap:0;margin-top:0;}
	#sectionNotice .half_wrap .notice_wrap ul li {padding:25px 0;position:relative;}
	#sectionNotice .half_wrap .notice_wrap ul li:last-child {padding-bottom:0;}
	#sectionNotice .half_wrap .notice_wrap ul li:last-child::before {display:none;}
	#sectionNotice .half_wrap .notice_wrap ul li::before,
	#sectionNotice .half_wrap .notice_wrap ul li + li::before {content:'';display:block;position:absolute;left:0;top:auto;bottom:0;width:100%;height:1px;background:#4a4a4a;}
	#sectionNotice .half_wrap .notice_wrap ul li .title {margin-bottom:16px;font-size:20px;max-height: 64px;min-height: 64px;line-height: 32px;-webkit-line-clamp: 2;}
	#sectionNotice .half_wrap .notice_wrap ul li .date {font-size:14px;padding-top:20px;}
	#sectionNotice .half_wrap .notice_wrap ul li .content {margin-top:20px;font-size:16px;max-height: 130px; min-height: 130px;-webkit-line-clamp: 5;}
	#noticeMb {display:block;position:relative;}
}
@media all and (max-width: 720px){
	.mobile {display: block;}
	#header .header_inner {height:60px;}
	#header .logo span {width:202px;height:24px;}

	#sitemap {top: 61px;height: calc(100vh - 61px);}

	.main_visual .text_wrap p {font-size:40px;}
	.main_visual .text_wrap span {font-size:20px;}
	.main_visual .swiper_controls {bottom:134px;text-align:center;}

	#sectionNetwork .map_area .btn_wrap {display: none; right:0;top:0;margin-left:0;width:100%;}
	#sectionNetwork .map_area .btn_wrap button {width:50%;}
	#sectionNetwork .map_area .btn_wrap button + button {width:calc(50% + 1px)}
	#sectionNetwork .map_area .map_bg {position: relative; padding-top: calc(460 / 360 * 100%); background-color: #F3F3F3;}
	#sectionNetwork .map_area .map_bg svg#tooltipCn { left: calc(423 / 1420 * 100%); bottom: calc(300 / 622 * 100%);}
	#sectionNetwork .map_area .map_bg svg#tooltipKor { left: calc(500 / 1420 * 100%); bottom: calc(339 / 622 * 100%);}
	#sectionNetwork .map_area .map_bg svg#tooltipViet { left: calc(357 / 1420 * 100%); bottom: calc(240 / 622 * 100%);}
	#sectionNetwork .map_area .map_bg svg { padding: 20px; height: unset;}
	#sectionNetwork .map_area .map_bg svg.map {top: unset; bottom: 0; padding: 0;}
	#sectionNetwork .map_area .map_bg svg.mobile { overflow: visible;}
	#sectionNetwork .map_area .map_bg svg.tooltip {display: none !important;}
}
@media all and (max-width: 375px){
	.section .title_wrap .sub_exp br {display:none;}
	.main_visual .swiper-pagination span {margin:0 5px !important;}
}

@keyframes bounce { 
	0% {transform:translate(-50%,0);} 
	50% {transform:translate(-50%,-20px);}
	100% {transform:translate(-50%,0);} 
}
@keyframes bounce2 { 
	0% {transform:translateY(0);}
	50% {transform:translateY(8px);}
	100% {transform:translateY(0);}
}
@keyframes dash {
	100% {
        stroke-dashoffset: 0;
    }
}
@keyframes start {
  0% {
    width:0%
  }
  100% {
    width:100%
  }
}
@keyframes mymove {
    from {width:0;}
    to {width:100%;}
}