/* s: common */
.sec {
    margin: 90px 0 120px;

    &__inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 24px;
    }

    &__ttl {
        padding-bottom: 56px;
        font-weight: 700;
        font-size: $font-large;
        text-align: center;

        &--front-line {
            position: relative;
            text-align: left;
            padding-bottom: 72px;
            @include flex(null, center);

            &::before {
                width: 4px;
                height: 30px;
                margin-right: 16px;
                background-color: $color-blue;
                @include pseudo(inline-block,$pos: null);
            }
        }
    }

    &__search {
        margin-bottom: 32px;
    }

    &__pagination {
        margin-top: 32px;
    }

    &--type2 {
        margin: 80px 0 160px;
    }
}

.swiper-slide {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transform: translateY(-50%);
    cursor: pointer;
}

.swiper-pagination {
    transform: translateX(-50%);

    &-bullet {
        width: 8px;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.9);
        transition: width 0.3s;
        opacity: 1;
        border-radius: 4px;

        @at-root .schedule & {
            background-color: #E2E2E2;

            &-active {
                background-color: $color-blue3;
            }
        }

        &-active {
            width: 24px;
            background-color: $color-blue3;
        }
    }
}
/* e: common */

/* s: index */
.main-visual {
    position: relative;
    overflow: hidden;
    height: 560px;

    @for $i from 1 through 6 {
        &__slide0#{$i} {
            background-image: url('../images/img/img_slides_0#{$i}.jpg');
        }
    }

    ul {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__btn {
        width: 56px;
        height: 56px;

        &--prev {
            left: 64px;
            background-image: url('../images/icons/arw_slider_prev.svg');
        }

        &--next {
            right: 64px;
            background-image: url('../images/icons/arw_slider_next.svg');
        }
    }

    &__pagination {
        position: absolute;
        bottom: 16px !important;
    }

    &__txtarea {
        height: 100%;
        @extend .sec__inner;
        @include flex(null, center);
    }

    &__ttl {
        font-weight: 700;
        font-size: $font-xl;
        color: $color-white;
        line-height: 1.3;
    }
}

.schedule {

    &__pagination,
    &__btn {
        display: none;
    }

    &__list {
        justify-content: space-between;

    }

    &__slide {
        width: calc((100% - 24px * 2) / 3);
    }

    &__imgbox {
        overflow: hidden;
        padding-top: calc(200 / 368 * 100%);
        border-radius: 10px;
    }

    &__txt {
        position: absolute;
        right: 16px;
        bottom: 16px;
        font-weight: 600;
        font-size: $font-medium;
        color: $color-white;
        gap: 5px;
        @include flex(null, center);

        &::after {
            width: 24px;
            height: 24px;
            background: url('../images/icons/arw_right_white_sm.svg') no-repeat center / 100% auto;
            @include pseudo($pos: null);
        }
    }
}

.notice {
    &__inner {
        display: flex;
    }

    .ttl-wrap {
        position: relative;
        padding-right: 80px;

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: -9999px;
            z-index: -1;
            background-color: $color-gray6;
            @include pseudo();
        }

        &__area {
            display: none;
            padding: 40px 0;

            &--active {
                display: block;
            }

            &:nth-child(1) .ttl-wrap__ttl::after {
                background-image: url('../images/icons/ico_notice.svg');
            }

            &:nth-child(2) .ttl-wrap__ttl::after {
                background-image: url('../images/icons/ico_asteriskSimple.svg');
            }
        }


        &__ttl {
            padding-bottom: 8px;
            font-weight: 700;
            font-size: $font-xxl;
            gap: 16px;
            @include flex(null, center);

            &::after {
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% auto;
                @include pseudo($pos: null);
            }
        }

        &__txt {
            position: relative;
            gap: 4px;
            @include flex(null, center);

            &::after {
                width: 100%;
                max-width: 16px;
                height: 16px;
                background: url('../images/icons/arw_right_black.svg') no-repeat center / 100% auto;
                @include pseudo($pos: null);
            }
        }
    }

    &__content {
        padding: 40px 60px;
    }

    &__tab {
        padding-right: 0;

        .tabs {
            display: flex;
            gap: 40px;

            &__item {
                position: relative;

                &--active {
                    &::before {
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $color-blue;
                        @include pseudo();
                    }

                    .tabs__btn {
                        font-weight: 600;
                        color: $color-black2;
                    }
                }
            }

            &__btn {
                display: inline-block;
                padding-bottom: 16px;
                font-weight: 500;
                font-size: $font-medium;
                color: $color-gray2;
            }
        }

        .tab-content {
            display: none;
            width: 100%;
            height: calc(57px * 5);

            li:last-child {
                border-bottom: 1px solid $color-gray5;
            }

            &--active {
                display: block;
            }

            &__item {
                padding: 16px 8px;
                border-top: 1px solid $color-gray5;
                @include flex(between);
            }

            &__ttl {
                display: block;
                width: 100%;
                @include ellipsis();
            }

            &__date {
                display: inline-block;
                min-width: 112px;
                color: $color-gray2;
                text-align: center;
            }
        }
    }
}
/* e: index */

@include media-down(lg) {
    .main-visual {
        &__txtarea {
            padding: 0 144px;
        }
    }
}

@include media-down(tab) {
    .sec {
        margin: 72px 0 96px;

        &__inner {
            max-width: 100%;
        }

        &__ttl {
            padding-bottom: 44px;
            font-size: $font-medium;

            &--front-line {
                &::before {
                    width: 3px;
                    height: 24px;
                    margin-right: 12px;
                }
            }
        }

        &__search {
            margin-bottom: 25px;
        }

        &__pagination {
            margin-top: 25px;
        }

        &--type2 {
            margin: 64px 0 128px;
        }
    }

    .main-visual {
        height: 450px;

        &__btn {
            display: none;

            &--prev {
                left: 24px;
            }

            &--next {
                right: 24px;
            }
        }

        &__pagination {
            right: 24px;
            left: auto;
            width: 48px;
            padding: 4px;
            background-color: rgba(116, 158, 197, 0.6);
            font-weight: 400;
            font-size: 14px;
            color: $color-white;
            line-height: 17px;
            transform: translateX(0);
            border-radius: 24px;

            & span {
                color: inherit;
            }

            &-total {
                font-weight: 400;
                opacity: 0.8;
            }
        }

        &__txtarea {
            padding: 0 calc(90 / 1200 * 100%);
        }

        &__ttl {
            font-size: $font-large + 6;
        }
    }

    .schedule {
        &__pagination {
            display: block;
            bottom: 0 !important;
            left: 50% !important;
        }

        &__slide {
            width: calc((100% - 16px * 2) / 3);
        }

        &__imgbox {
            padding-top: calc(180 / 256 * 100%);
        }

        &__txt {
            right: 12px;
            bottom: 12px;
            font-size: $font-normal + 4;
        }
    }

    .notice {
        .ttl-wrap {
            &__area {
                padding: 32px 0;
            }

            &__ttl {
                font-size: $font-xl - 4;
            }
        }

        &__content {
            padding: 32px 0 32px 48px;
        }

        &__tab {
            .tabs {
                &__btn {
                    font-size: $font-medium - 4;
                }
            }
        }

        .tab-content {
            &__date {
                min-width: 90px;
                font-size: $font-small;
            }
        }
    }
}

@include media-down(mob) {
    .sec {
        margin: 60px 0;

        &__ttl {
            padding-bottom: 32px;
        }
    }

    .main-visual {
        height: 240px;

        &__txtarea {
            padding: 0 24px;
        }

        &__ttl {
            font-size: $font-medium + 2;
        }
    }

    .schedule {
        position: relative;
        overflow: hidden;

        &__list {
            padding-bottom: 32px;
            gap: 16px;
        }

        &__slide {
            width: 256px;
        }

        &__txt {
            font-size: $font-normal;

            &::after {
                width: 16px;
                height: 16px;
            }
        }
    }

    .notice {
        &__inner {
            flex-direction: column;
        }

        .ttl-wrap {
            max-width: 100%;
            padding-right: 0;
            flex: 1 1 100%;

            &::before {
                right: calc(136 / 768 * 100%);
            }

            &__area {
                padding: 16px 0;
            }

            &__ttl {
                font-size: $font-large;
                gap: 8px;

                &::after {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &__content {
            max-width: 100%;
            padding: 24px 0;
            flex: 1 1 100%;

            &__tab {
                .tabs {
                    &__btn {
                        font-size: $font-normal + 2;
                    }
                }
            }

            .tab-content {
                &__item {
                    flex-direction: column;
                    align-items: start;
                    gap: 4px;
                }

                &__ttl {
                    font-size: $font-small;
                }

                &__date {
                    min-width: auto;
                    font-size: $font-small - 2;
                }
            }
        }
    }
}

@include media-up(pc) {
    .main-visual {
        &__pagination {
            @include media-up(pc) {
                left: 50% !important;
            }
        }
    }
}