@charset "UTF-8";
/* *******************************************************
    * filename : common.css
    * description : reset / common css
    * date : 2023-01-17
******************************************************* */

:root {
    /* header height */
    --header-height: 140px;

    /* color */
    --color-f7f7f7: #f7f7f7;
    --color-f4f3ee: #f4f3ee;
    --color-f3f3f0: #f3f3f0;
    --color-efefef: #efefef;
    --color-aeaeae: #aeaeae;
    --color-5e5e5e: #5e5e5e;
    --color-2a2a2a: #2a2a2a;
    --color-191919: #191919;
    --color-041A71: #041A71;
    --color-369fff: #369FFF;
    --color-192C54: #192C54;
    --color-primary: #192C54;
    --color-fffdfa: #fffdfa;
    --color-a0c101: #a0c101;
    --color-54b428: #54b428;
    --color-116D2B: #116D2B;
    --color-cfcfab: #CFCFAB;
    --color-white: #fff;
    --focus-color: #fafdec;

    /* transition */
    --transition-custom: cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* CSS Document */
*{padding:0;margin:0;-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-family: 'SpoqaHanSansNeo','맑은 고딕','sans-serif';font-size:18px;font-weight: 400; line-height: 1.25; color:var(--color-191919);}
h1,h2,h3,h4,h5,h6,em,strong,li,dd,a,address{padding:0;margin:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background:none;vertical-align:middle;-webkit-appearance: none;-webkit-border-radius: 0;}
img,fieldset,iframe {border:none;}
img{vertical-align:top;}
textarea{resize: vertical;}
select {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;vertical-align:middle;border-radius: 0}
select::-ms-expand {display: none;}
input,textarea {-webkit-appearance: none;-webkit-border-radius: 0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;width:100%;}
table td {word-break: break-all;}
u {text-decoration:none;}
font{ font-weight: inherit; font-size: inherit; line-height: inherit; color: inherit;}
legend,caption {position: absolute;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;}
caption {position: static;color: transparent;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {display: block;margin: 0;}
audio,canvas,progress,video {display: inline-block;}
::-webkit-input-placeholder {font:16px 'SpoqaHanSansNeo', '맑은 고딕','sans-serif'; font-weight: 400; color: #D4D4D4;}
::-moz-placeholder {font:16px 'SpoqaHanSansNeo', '맑은 고딕', 'sans-serif'; font-weight: 400; color: #D4D4D4;}
:-ms-input-placeholder {font:16px 'SpoqaHanSansNeo', '맑은 고딕', 'sans-serif'; font-weight: 400; color: #D4D4D4;}
:-moz-placeholder {font:16px 'SpoqaHanSansNeo', '맑은 고딕', 'sans-serif'; font-weight: 400; color: #D4D4D4;}
input[type=reset],
input[type=button],
input[type=submit] {-webkit-appearance: button;-moz-appearance: button;appearance: button;}
input[type=search] {-webkit-appearance: textfield;}
input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {display: none;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}

/* ::-webkit-scrollbar {width: 8px;height:8px;}
::-webkit-scrollbar-thumb {background-color: var(--fn-gray-cc);}
::-webkit-scrollbar-track {background-color: var(--fn-gray-ee);} */

/* layout */
.row { --fn-gutter-x: 0; --fn-gutter-y: 0; display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--fn-gutter-y)); margin-right: calc(-.5 * var(--fn-gutter-x)); margin-left: calc(-.5 * var(--fn-gutter-x));}
.row > * { flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--fn-gutter-x) * .5); padding-left: calc(var(--fn-gutter-x) * .5); margin-top: var(--fn-gutter-y);}
.col { flex-basis: 0; flex-grow: 1; max-width: 100%;}
.col_1 { flex: 0 0 calc(100% / 12 * 1); max-width: calc(100% / 12 * 1);}
.col_2 { flex: 0 0 calc(100% / 12 * 2); max-width: calc(100% / 12 * 2);}
.col_3 { flex: 0 0 calc(100% / 12 * 3); max-width: calc(100% / 12 * 3);}
.col_4 { flex: 0 0 calc(100% / 12 * 4); max-width: calc(100% / 12 * 4);}
.col_5 { flex: 0 0 calc(100% / 12 * 5); max-width: calc(100% / 12 * 5);}
.col_6 { flex: 0 0 calc(100% / 12 * 6); max-width: calc(100% / 12 * 6);}
.col_7 { flex: 0 0 calc(100% / 12 * 7); max-width: calc(100% / 12 * 7);}
.col_8 { flex: 0 0 calc(100% / 12 * 8); max-width: calc(100% / 12 * 8);}
.col_9 { flex: 0 0 calc(100% / 12 * 9); max-width: calc(100% / 12 * 9);}
.col_10 { flex: 0 0 calc(100% / 12 * 10); max-width: calc(100% / 12 * 10);}
.col_11 { flex: 0 0 calc(100% / 12 * 11); max-width: calc(100% / 12 * 11);}
.col_12 { flex: 0 0 calc(100% / 12 * 12); max-width: calc(100% / 12 * 12);}
.g_px_10, .gx_px_10 { --fn-gutter-x: 10px;}
.g_px_10, .gy_px_10 { --fn-gutter-y: 10px;}
.gy_px_13 { --fn-gutter-y: 13px;}
.g_px_20, .gx_px_20 { --fn-gutter-x: 20px;}
.g_px_20, .gy_px_20 { --fn-gutter-y: 20px;}
.g_px_22, .gx_px_22 { --fn-gutter-x: 22px;}
.g_px_22, .gy_px_22 { --fn-gutter-y: 22px;}
.g_px_30, .gx_px_30 { --fn-gutter-x: 30px;}
.g_px_30, .gy_px_30 { --fn-gutter-y: 30px;}
.g_px_32, .gx_px_32 { --fn-gutter-x: 32px;}
.g_px_32, .gy_px_32 { --fn-gutter-y: 32px;}

/* display */
.d_flex {display:flex !important;width:100%;}
.d_block {display:block !important;}
.d_inline_block {display:inline-block !important;}
.d_inline {display:inline !important;}
.d_none {display:none !important;}
.d_flex.center {align-items:center;justify-content:center;}

/* position */
.relative {position:relative !important;}
.absolute {position:absolute;}

/* width */
.w_auto { width: auto !important;}
.w_px_70 { width: 70px !important;}
.w_px_75 { width: 75px !important;}
.w_px_100 { width: 100px !important;}
.w_25 { width: 25% !important;}
.w_33 { width: 33.333333% !important;}
.w_50 { width: 50% !important;}
.w_100 { width: 100% !important;}
.w_max_100 { max-width: 100% !important;}

/* margin, padding */
.m_auto { margin: auto !important;}
.m_0 { margin: 0 !important;}
.m_px_5 { margin: 5px !important;}
.m_px_10 { margin: 10px !important;}
.m_px_15 { margin: 15px !important;}
.m_px_20 { margin: 20px !important;}
.m_px_25 { margin: 25px !important;}

.ms_auto { margin-left: auto !important;}
.ms_0 { margin-left: 0 !important;}
.ms_px_n1 { margin-left: -1px !important;}
.ms_px_5 { margin-left: 5px !important;}
.ms_px_10 { margin-left: 10px !important;}
.ms_px_15 { margin-left: 15px !important;}
.ms_px_20 { margin-left: 20px !important;}
.ms_px_25 { margin-left: 25px !important;}
.me_auto { margin-right: auto !important;}
.me_0 { margin-right: 0 !important;}
.me_px_1 { margin-right: 1px !important;}
.me_px_5 { margin-right: 5px !important;}
.me_px_10 { margin-right: 10px !important;}
.me_px_15 { margin-right: 15px !important;}
.me_px_20 { margin-right: 20px !important;}
.me_px_25 { margin-right: 25px !important;}
.mt_0 { margin-top: 0 !important;}
.mt_px_3 { margin-top: 3px !important;}
.mt_px_5 { margin-top: 5px !important;}
.mt_px_7 { margin-top: 7px !important;}
.mt_px_8 { margin-top: 8px !important;}
.mt_px_10 { margin-top: 10px !important;}
.mt_px_15 { margin-top: 15px !important;}
.mt_px_20 { margin-top: 20px !important;}
.mt_px_25 { margin-top: 25px !important;}
.mt_px_30 { margin-top: 30px !important;}
.mt_px_40 { margin-top: 40px !important;}
.mt_px_50 { margin-top: 50px !important;}
.mt_px_60 { margin-top: 60px !important;}
.mt_px_100 { margin-top: 100px !important;}
.mb_0 { margin-bottom: 0 !important;}
.mb_px_5 { margin-bottom: 5px !important;}
.mb_px_8 { margin-bottom: 8px !important;}
.mb_px_10 { margin-bottom: 10px !important;}
.mb_px_15 { margin-bottom: 15px !important;}
.mb_px_20 { margin-bottom: 20px !important;}
.mb_px_25 { margin-bottom: 25px !important;}

.mt_px_n5 { margin-top: -5px !important;}
.mt_px_n10 { margin-top: -10px !important;}
.mb_px_n5 { margin-bottom: -5px !important;}
.mb_px_n10 { margin-bottom: -10px !important;}

.mx_auto { margin-left: auto !important; margin-right: auto !important;}
.mx_0 { margin-left: 0 !important; margin-right: 0 !important;}
.mx_px_5 { margin-left: 5px !important; margin-right: 5px !important;}
.mx_px_10 { margin-left: 10px !important; margin-right: 10px !important;}
.mx_px_15 { margin-left: 15px !important; margin-right: 15px !important;}
.mx_px_20 { margin-left: 20px !important; margin-right: 20px !important;}
.mx_px_25 { margin-left: 25px !important; margin-right: 25px !important;}

.my_auto { margin-top: auto !important; margin-bottom: auto !important;}
.my_0 { margin-top: 0 !important; margin-bottom: 0 !important;}
.my_px_5 { margin-top: 5px !important; margin-bottom: 5px !important;}
.my_px_10 { margin-top: 10px !important; margin-bottom: 10px !important;}
.my_px_15 { margin-top: 15px !important; margin-bottom: 15px !important;}
.my_px_20 { margin-top: 20px !important; margin-bottom: 20px !important;}
.my_px_25 { margin-top: 25px !important; margin-bottom: 25px !important;}

.p_auto { padding: auto !important;}
.p_0 { padding: 0 !important;}
.p_px_5 { padding: 5px !important;}
.p_px_10 { padding: 10px !important;}
.p_px_15 { padding: 15px !important;}
.p_px_20 { padding: 20px !important;}
.p_px_25 { padding: 25px !important;}

.ps_0 { padding-left: 0 !important;}
.ps_px_5 { padding-left: 5px !important;}
.ps_px_10 { padding-left: 10px !important;}
.ps_px_13 { padding-left: 13px !important;}
.ps_px_15 { padding-left: 15px !important;}
.ps_px_20 { padding-left: 20px !important;}
.ps_px_25 { padding-left: 25px !important;}
.ps_px_120 { padding-left: 120px !important;}
.pe_0 { padding-right: 0 !important;}
.pe_px_5 { padding-right: 5px !important;}
.pe_px_10 { padding-right: 10px !important;}
.pe_px_15 { padding-right: 15px !important;}
.pe_px_20 { padding-right: 20px !important;}
.pe_px_25 { padding-right: 25px !important;}
.pt_0 { padding-top: 0 !important;}
.pt_px_5 { padding-top: 5px !important;}
.pt_px_10 { padding-top: 10px !important;}
.pt_px_15 { padding-top: 15px !important;}
.pt_px_20 { padding-top: 20px !important;}
.pt_px_25 { padding-top: 25px !important;}
.pb_0 { padding-bottom: 0 !important;}
.pb_px_5 { padding-bottom: 5px !important;}
.pb_px_10 { padding-bottom: 10px !important;}
.pb_px_15 { padding-bottom: 15px !important;}
.pb_px_20 { padding-bottom: 20px !important;}
.pb_px_25 { padding-bottom: 25px !important;}

.px_auto { padding-left: auto !important; padding-right: auto !important;}
.px_0 { padding-left: 0 !important; padding-right: 0 !important;}
.px_px_5 { padding-left: 5px !important; padding-right: 5px !important;}
.px_px_10 { padding-left: 10px !important; padding-right: 10px !important;}
.px_px_15 { padding-left: 15px !important; padding-right: 15px !important;}
.px_px_20 { padding-left: 20px !important; padding-right: 20px !important;}
.px_px_25 { padding-left: 25px !important; padding-right: 25px !important;}

.py_auto { padding-top: auto !important; padding-bottom: auto !important;}
.py_0 { padding-top: 0 !important; padding-bottom: 0 !important;}
.py_px_5 { padding-top: 5px !important; padding-bottom: 5px !important;}
.py_px_10 { padding-top: 10px !important; padding-bottom: 10px !important;}
.py_px_15 { padding-top: 15px !important; padding-bottom: 15px !important;}
.py_px_20 { padding-top: 20px !important; padding-bottom: 20px !important;}
.py_px_25 { padding-top: 25px !important; padding-bottom: 25px !important;}

/* flex */
.flex_fill {flex: 1 1 auto !important;}
.flex_row {flex-direction: row !important;}
.flex_column {flex-direction: column !important;}
.flex_row_reverse {flex-direction: row-reverse !important;}
.flex_column_reverse {flex-direction: column-reverse !important;}
.flex_grow_0 {flex-grow: 0 !important;}
.flex_grow_1 {flex-grow: 1 !important;}
.flex_shrink_0 {flex-shrink: 0 !important;}
.flex_shrink_1 {flex-shrink: 1 !important;}
.flex_wrap {flex-wrap: wrap !important;}
.flex_nowrap {flex-wrap: nowrap !important;}
.flex_wrap_reverse {flex-wrap: wrap-reverse !important;}
.justify_content_start {justify-content: flex-start !important;}
.justify_content_end {justify-content: flex-end !important;}
.justify_content_center {justify-content: center !important;}
.justify_content_between {justify-content: space-between !important;}
.justify_content_around {justify-content: space-around !important;}
.justify_content_evenly {justify-content: space-evenly !important;}
.align_items_start {align-items: flex-start !important;}
.align_items_end {align-items: flex-end !important;}
.align_items_center {align-items: center !important;}
.align_items_baseline {align-items: baseline !important;}
.align_items_stretch {align-items: stretch !important;}
.align_content_start {align-content: flex-start !important;}
.align_content_end {align-content: flex-end !important;}
.align_content_center {align-content: center !important;}
.align_content_between {align-content: space-between !important;}
.align_content_around {align-content: space-around !important;}
.align_content_stretch {align-content: stretch !important;}
.align_self_auto {align-self: auto !important;}
.align_self_start {align-self: flex-start !important;}
.align_self_end {align-self: flex-end !important;}
.align_self_center {align-self: center !important;}
.align_self_baseline {align-self: baseline !important;}
.align_self_stretch {align-self: stretch !important;}

.gap_px_5 { gap: 5px !important;}
.gap_px_6 { gap: 6px !important;}
.gap_px_8 { gap: 8px !important;}
.gap_px_10 { gap: 10px !important;}
.gap_px_12 { gap: 12px !important;}
.gap_px_15 { gap: 15px !important;}
.gap_px_20 { gap: 20px !important;}
.gap_px_25 { gap: 25px !important;}
.gap_px_30 { gap: 30px !important;}
.gap_px_35 { gap: 35px !important;}
.gap_px_80 { gap: 80px !important;}

/* font */
.f_inherit { font-family: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; color: inherit;}
.fw_100 { font-weight: 100 !important;}
.fw_200 { font-weight: 200 !important;}
.fw_300 { font-weight: 300 !important;}
.fw_400 { font-weight: 400 !important;}
.fw_500 { font-weight: 500 !important;}
.fw_600 { font-weight: 600 !important;}
.fw_700 { font-weight: 700 !important;}
.fw_800 { font-weight: 800 !important;}
.fw_900 { font-weight: 900 !important;}
.fs_px_16 { font-size: 16px !important;}
.fs_px_20 { font-size: 20px !important;}
.fs_px_24 { font-size: 24px !important;}
.bg_transparent { background-color: transparent !important;}
.bg_white { background-color: var(--fn-white) !important;}
.color_black { color: var(--fn-gray-11) !important;}
.color_white { color: var(--fn-white) !important;}
.color_gray { color: var(--fn-gray-aa) !important;}
.color_red { color: var(--fn-red) !important;}
.color_blue { color: var(--fn-blue) !important;}
.color_skyblue { color: var(--fn-skyblue) !important;}
.color_orange { color: var(--fn-orange) !important;}
.text-ellipsis { display: block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.line-clamp2{ overflow:hidden; display:block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.text_right { text-align: right !important;}
.color-blue { color: var(--color-369fff);}
.color-green { color: var(--color-54b428);}
.color-darkgreen { color: var(--color-116D2B);}

/*바로가기*/
.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;padding:15px 0;background-color:#494e53;color:#fff;font:16px 'Noto Sans KR', '맑은 고딕','sans-serif'; font-weight: 400;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0}

/*기본*/
a{text-decoration: none;background-color: transparent;-webkit-text-decoration-skip: objects;}
a:hover{text-decoration:none;}
#wrap{width:100%; height: 100%;}
#header{position:relative; z-index: 30;}
#container{position:relative; z-index: 20;}
#footer{position:relative; z-index: 10;}
.mo, .hide {display:none;}
.blind {position: absolute;top: 0;left: 0;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;font-size: 0;line-height: 0;}
.hidden {overflow: hidden !important;}
.img { display: block; width: 100%; max-width: 100%; object-fit: cover;}
.ico { display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}

/* logo */
.logo { display: block; width: 100%; max-width: 290px;}
.logo .logo_img { width: 100%;}

/* layout */
.section { display: flex; align-items: center; position: relative; overflow: hidden;}
.fp-tableCell > .inner { padding: 94px 30px;}
.inner { width: 100%; max-width: 1660px; margin: 0 auto; padding: 0 30px;}

/* text */
[class^="h_"] { font-weight: 700; font-size: 24px;}
.date, .txt:not(.ttl_area .txt){ display: block; margin-top: 16px; font-size: 14px; color: var(--color-5e5e5e);}
.date { user-select: none;}
.ttl_area { position: relative; z-index: 10;}
.ttl_area .txt + .h_ttl { margin-top: 16px;}
.ttl_area .h_ttl { font-family: 'SunBatang', sans-serif; font-weight: 700; font-size: 40px; line-height: 1.175; letter-spacing: -2.4px; color: var(--color-192C54);}
[class$="_area"] .p_desc { margin-top: 16px; line-height: 1.6; color: var(--color-5e5e5e);}
[class$="_img_area"] { position: relative; width: 100%; overflow: hidden;}
[class$="_img_area"] .img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
[class$="_card"] [class$="_txt_area"] { padding-bottom: 16px; border-bottom: 1px solid var(--color-aeaeae); text-align: left;}
[class$="_card"] [class$="_txt_area"] [class^="h_"] { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

@media all and (max-width: 1661px) {
    * { font-size: 0.9375vw;}
    /* logo */
    .logo { max-width: 15.1042vw;}
    /* text */
    [class^="h_"] { font-size: 1.25vw;}
    .date, .txt:not(.ttl_area .txt){ margin-top: 0.8333vw; font-size: 0.7292vw;}
    .ttl_area .txt + .h_ttl { margin-top: 0.8333vw;}
    .ttl_area .h_ttl { font-size: 2.0833vw;}
    [class$="_area"] .p_desc { margin-top: 0.8333vw;}
    [class$="_card"] [class$="_txt_area"] { padding-bottom: 0.8333vw;}
}

@media all and (max-width: 1400px) {
    * { font-size: 13px;}
    /* logo */
    .logo { max-width: 211px;}
    /* text */
    [class^="h_"] { font-size: 18px;}
    .date, .txt:not(.ttl_area .txt){ margin-top: 12px; font-size: 10px;}
    .ttl_area .txt + .h_ttl { margin-top: 12px;}
    .ttl_area .h_ttl { font-size: 29px;}
    [class$="_area"] .p_desc { margin-top: 12px;}
    [class$="_card"] [class$="_txt_area"] { padding-bottom: 12px;}
}

@media all and (max-width: 1024px) {
    * { font-size: 16px;}
    .mo { display: block;}
    .pc { display: none;}
    /* logo */
    .logo { max-width: 152px;}
    /* layout */
    .fp-tableCell > .inner { padding: 32px 20px;}
    .inner { padding: 0 20px;}
    /* text */
    [class^="h_"] { font-size: 20px;}
    .date, .txt:not(.ttl_area .txt){ font-size: 14px;}
    .date { margin-top: 8px;}
    .txt:not(.ttl_area .txt) { margin-top: 16px;}
    .ttl_area .txt + .h_ttl { margin-top: 12px;}
    .ttl_area .h_ttl { font-size: 24px;}
    [class$="_area"] .p_desc { margin-top: 12px;}
    [class$="_card"] [class$="_txt_area"] { padding-bottom: 20px;}
}