@charset "utf-8";
/* *******************************************************
    * filename : style.css
    * description : 전체 레이아웃
    * date : 2023-12-12
******************************************************* */

:root {
    /* gnb width */
    --gnb-mobile-width: 40%;
    /* header height */
    --header-height: 100px;
    /* header color */
    --header-bg-color: #fff;
}

.type1 > div { position: relative; height: var(--header-height); overflow: hidden; background-color: #ccc; transition: all .3s ease-out;}
.type1 .depth1_list { display: flex; justify-content: center; align-items: center; gap: 20px; height: var(--header-height);}
.type1 .depth1_list > li { display: flex; align-items: center;}
.type1 .depth1_list > li > a { font-weight: bold; color: #666; transition: color .4s;}
.type1 .depth1_list > li > a:hover { color: #000;}
.type1 .depth2_list { display: none; position: absolute; top: var(--header-height); left: 0; right: 0; padding: 30px 50px;}
.type1 .depth2_list > ul { display: flex; flex-wrap: wrap; gap: 20px;}
.type1 .depth3_list > li { padding: 10px 0;}

.type2 > div { position: relative; height: var(--header-height);}
.type2 .depth1_list { display: flex; justify-content: center; align-items: center; width: fit-content; margin: 0 auto;}
.type2 .depth1_list > li { position: relative; height: var(--header-height); padding: 0 20px; line-height: var(--header-height); text-align: center;}
.type2 .gnb_depth2_wrapper { display: none; background-color: #ccc;}
.type2 .gnb_depth2_wrapper .inner { display: flex; justify-content: center; width: 100%; padding: 10px 0;}
.type2 .depth2_list li { padding: 10px 20px;} 

.type3 .depth1_list { display: flex; justify-content: center; align-items: center; gap: 0 30px;}
.type3 .depth1_list > li { position: relative; width: 180px; height: var(--header-height); line-height: var(--header-height); text-align: center;}
.type3 .depth2_list { display: none; position: absolute; left: 50%; width: 100%; padding: 10px; border-radius: 10px; background-color: #ccc; transform: translateX(-50%);}
.type3 .depth2_list > ul > li { padding: 10px 0;}

.type4 { height: var(--header-height); overflow: hidden;}
.type4 > div { position: relative; height: var(--header-height);}
.type4 .gnb_overlay_bg { position: absolute; top: var(--header-height); left: 0; width: 100%; background-color: #ccc; box-shadow: 0 3px 5px rgba(0, 0, 0, .15);}
.type4 .depth1_list { display: flex; justify-content: center; align-items: center; width: fit-content; margin: 0 auto;}
.type4 .depth1_list > li { position: relative; height: var(--header-height); padding: 0 20px; line-height: var(--header-height); text-align: center;}
.type4 .depth2_list { width: 100%; padding: 10px 0;}
.type4 .depth2_list li { padding: 10px 0;} 