@charset "utf-8";
/* *******************************************************
    * filename : style.css
    * description : 전체 레이아웃
    * date : 2024-01-17
******************************************************* */

/* header */
#header.type4 { position: fixed; top: 0; width: 100%; height: var(--header-height); overflow: hidden; transition: all .3s ease-in-out;}
#header.type4 .header_inner { display: flex; justify-content: space-between; align-items: center; position: relative; max-width: 1660px; height: var(--header-height); margin: 0 auto; padding: 0 30px;}
#header.type4 .gnb_overlay_bg { position: absolute; top: var(--header-height); left: 0; width: 100%;}
#header.type4 .logo .logo_img.white { display: block;}
#header.type4 .logo .logo_img.color { display: none;}
#header.type4 .depth1_list { display: flex;}
#header.type4 .depth1_list .depth1_item { position: relative; height: var(--header-height); line-height: var(--header-height); padding: 0 28px; text-align: center;}
#header.type4 .depth1_list .depth1_link { position: relative; color: var(--color-white);}
#header.type4 .depth1_list .depth1_item:hover .depth1_link,
#header.type4 .depth1_list .depth1_item:focus .depth1_link { font-weight: 700;}
#header.type4 .depth1_list .depth1_link::before { content: ''; display: none; position: absolute; top: calc(100% + 8px); width: 100%; height: 2px; background-color: var(--color-a0c101);}
#header.type4 .depth1_list .depth1_item:hover .depth1_link::before,
#header.type4 .depth1_list .depth1_item:focus .depth1_link::before { display: block;}
#header.type4 .depth2_list { position: absolute; left: 50%; width: 100%; padding: 10px 0; transform: translateX(-50%);}

#header.type4.color { background-color: var(--color-white);}
#header.type4.color .logo .logo_img.white,
#header.type4.fixed .logo .logo_img.white { display: none;}
#header.type4.color .logo .logo_img.color,
#header.type4.fixed .logo .logo_img.color { display: block;}
#header.type4.color .depth1_list .depth1_link,
#header.type4.fixed .depth1_list .depth1_link { color: var(--color-191919);}

#header.type4.fixed { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(40px);}
#header.type4.up { top: calc(var(--header-height) * -1);}

/* spot */
.spot { min-height: 100dvh;}
.swiper_spot .swiper-slide .inner { padding-top: unset;}
.swiper_spot .swiper-slide .txt_area { position: absolute; top: 260px; text-align: left; z-index: 5;}
.swiper_spot .swiper-slide .txt_area .p_sub_ttl { font-weight: 500; color: var(--color-white);}
.swiper_spot .swiper-slide .txt_area .h_ttl { margin-top: 12px; font-family: 'SunBatang', serif; font-weight: 300; font-size: 40px; line-height: 1.5; letter-spacing: -2.4px; color: var(--color-white);}
.swiper_spot .swiper-slide .bg_area { position: relative;}
.swiper_spot .swiper-slide .bg_area::before { content: ''; display: block; position: absolute; z-index: 1; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 55.55%, rgba(0, 0, 0, 0.70) 90.33%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%); pointer-events: none;}
.swiper_spot .swiper-slide .bg_area .img { height: 100dvh;}
.spot .swiper_spot .swiper-pagination { position: absolute; bottom: 30px;}
.spot .swiper_spot .swiper-pagination .swiper-pagination-bullet { position: relative; width: 10px; height: 10px; margin: 0 12px; background-color: var(--color-white); opacity: .5; transition: opacity .3s;}
.spot .swiper_spot .swiper-pagination .swiper-pagination-bullet::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 24px; height: 24px; border: .5px solid var(--color-white); border-radius: 100%; transform: translate(-50%, -50%); opacity: 0; transition: opacity .3s;}
.spot .swiper_spot .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before { opacity: 1;}
.spot .swiper_spot .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { opacity: 1;}
.spot .spot_info_area { position: absolute; bottom: 100px; width: 100%; z-index: 5;}
.spot .spot_info_area .inner { display: flex;}
.spot .spot_info_area .info_box { width: 33.33%;}
.spot .spot_info_area .info_box:nth-child(2) { width: calc(33.33% + 80px); margin: 0 40px; padding: 0 40px;}
.spot .spot_info_area .info_box .info_hdr .h_ttl { color: var(--color-white);}
.spot .spot_info_area .info_box .info_body { margin-top: 16px; padding-top: 16px; border-top: 1px solid var(--color-white);}
.spot .spot_info_area .info_box .info_body .info_list { position: relative;}
.spot .spot_info_area .info_box .info_body .info_list::before { content: ''; display: block; position: absolute; bottom: 0; right: -40px; width: 1px; height: 100%; background-color: var(--color-white);}
.spot .spot_info_area .info_box .info_body .info_item { display: flex; gap: 16px; color: var(--color-white);}
.spot .spot_info_area .info_box .info_body .info_link:focus,
.spot .spot_info_area .info_box .info_body .info_link:focus + .date,
.spot .spot_info_area .info_box .info_body .info_link:hover,
.spot .spot_info_area .info_box .info_body .info_link:hover + .date { color: var(--color-a0c101);}
.spot .spot_info_area .info_box .info_body .info_item + .info_item { margin-top: 20px;}
.spot .spot_info_area .info_box .info_body .info_link { width: 390px; width: calc(400 / 480 * 100%); font-size: 16px; color: inherit; transition: all .3s;}
.spot .spot_info_area .info_box .info_body .date { margin-top: unset; font-weight: 700; font-size: 16px; color: inherit; transition: all .3s;}
.spot .spot_info_area .info_box .info_body .shortcut_list { display: flex; gap: 32px;}
.spot .spot_info_area .info_box .info_body .shortcut_item { width: 33.33%;}
.spot .spot_info_area .info_box .info_body .shortcut_link { display: block; position: relative; width: 100%; padding-top: 100%; background-color: rgba(255, 255, 255, 0.2); transition: all .3s;}
.spot .spot_info_area .info_box .info_body .shortcut_link:focus,
.spot .spot_info_area .info_box .info_body .shortcut_link:hover { background-color: rgba(160, 193, 1, .2);}
.spot .spot_info_area .info_box .info_body .shortcut_item .txt_box { position: absolute; top: 50%; left: 50%; width: 100%; text-align: center; transform: translate(-50%, -50%);}
.spot .spot_info_area .info_box .info_body .shortcut_item .txt_box .ico { display: block; height: 40px; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; }
.spot .spot_info_area .info_box .info_body .shortcut_item:nth-child(1) .txt_box .ico { background-image: url('../images/icons/ico_shortcut.svg');}
.spot .spot_info_area .info_box .info_body .shortcut_item:nth-child(2) .txt_box .ico { background-image: url('../images/icons/ico_shortcut_01.svg');}
.spot .spot_info_area .info_box .info_body .shortcut_item:nth-child(3) .txt_box .ico { background-image: url('../images/icons/ico_shortcut_02.svg');}
.spot .spot_info_area .info_box .info_body .txt { margin-top: 20px; font-weight: 700; color: var(--color-white);}

/* spot sub */
.spot.sub { min-height: auto; margin-top: var(--header-height);}
.spot.sub .sub_img_area { position: absolute; top: 0; right: 0; z-index: -1; width: calc(1624 / 1920 * 100%); height: 360px;}
.spot.sub .sub_img_area::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; background-color: rgba(0, 0, 0, 0.2);}
.spot.sub .sub_img_area .img { height: 100%;}
.spot.sub .inner { display: flex; justify-content: space-between; align-items: end; padding-top: 130px;}
.spot.sub .sub_cnt_left { width: 580px; padding: 40px; background: url('../images/img/bg_sub_cnt.png') var(--color-191919) no-repeat left 236px center / 700px auto;}
.spot.sub .sub_cnt_left .ttl_area .h_ttl { margin-top: 0; font-weight: 500; font-size: 48px; color: var(--color-white);letter-spacing: -1.92px;}
.spot.sub .sub_cnt_left .ttl_area .p_desc { margin-top: 16px; font-size: 20px; line-height: 1.2; color: var(--color-white);}
.spot.sub .sub_cnt_right { flex: 1;}
.spot.sub .sub_cnt_right .search_area { justify-content: end;}
.spot.sub .sub_cnt_right .search_area .search_box { width: 100%; max-width: 500px;}
.spot.sub .sub_cnt_right .search_area .btn { min-height: 48px;}
#lnb { margin-top: 135px;}
#lnb .lnb_list { display: flex; align-items: center; gap: 40px;}
#lnb .lnb_item { position: relative;}
#lnb .lnb_item + .lnb_item::before { content: ''; display: block; position: absolute; top: 50%; left: -20px; width: 20px; height: 20px; background: url('../images/icons/arw_right_white.svg') no-repeat center center / 100% auto; transform: translate(-50%, -50%);}
#lnb .lnb_link { display: block; width: 20px; height: 20px;}
#lnb .lnb_link .ico.home { width: 100%; height: 100%; background-image: url('../images/icons/ico_home_white.svg');}
#lnb .btn { justify-content: start; min-width: 132px; padding: 9px 0; border: none; border-bottom: 1px solid var(--color-white);}

/* collection */
.section01 { background-color: var(--color-f3f3f0);}
.section01::before { content: ''; display: block; position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: url('../images/img/bg_main_sec02.png') lightgray no-repeat right center / auto 100%; mix-blend-mode: color-burn;}
.section01 .inner { display: flex; gap: 60px;}
.section01 .cnt_left { width: calc(600 / 1600 * 100%);}
.section01 .cnt_left .swiper_col .col_img_area { padding-top: 100%;}
.section01 .cnt_left .swiper_col .col_img_area .img { left: 50%; transform: translate(-50%, -50%);}
.section01 .cnt_right { width: 1100px;}
.section01 .cnt_right { width: calc(1100 / 1600 * 100%);}
.section01 .cnt_right .ttl_area { width: calc(800 / 1920 * 100vw + 32px); max-width: 832px;}
.section01 .cnt_right .ttl_area .btn_wrap { display: flex; justify-content: space-between; align-items: center; margin-top: 40px;}
.section01 .cnt_right .ttl_area .swiper_btn_box { display: flex; align-items: center; gap: 16px;}
.section01 .cnt_right .ttl_area [class^="swiper-button"] { position: static;}
.section01 .cnt_right .swiper_col_sub_wrap { overflow: hidden;}
.section01 .cnt_right .swiper_col_sub { position: relative; margin-top: 40px; margin-left: calc(-32px - 400 / 1920 * 100vw);}
.section01 .cnt_right .swiper_col_sub .swiper-slide { width: calc(400 / 1920 * 100vw); max-width: 400px; height: unset; margin-right: 32px;}
.section01 .cnt_right .swiper_col_sub .col_swiper_card { display: flex; flex-direction: column; align-items: stretch; height: 100%;}
.section01 .cnt_right .swiper_col_sub .col_img_area { width: 100%; height: calc(400 / 1920 * 100vw); overflow: hidden;}
.section01 .cnt_right .swiper_col_sub .col_txt_area { flex: 1;}
.section01 .col_txt_area { margin-top: 24px;}
.section01 [class$="_card"] [class$="_txt_area"] [class^="h_"] { display: block;}

/* exhbn */
.section02 { min-height: 100dvh; background-color: var(--color-white);}
.section02 .swiper_exhbn_wrap { position: relative; margin-top: 48px;}
.section02 .swiper_exhbn_wrap::before,
.section02 .swiper_exhbn_wrap::after { display: block; position: absolute; font-family: 'SunBatang', serif; font-weight: 100; font-size: 100px; color: var(--color-efefef); line-height: 1.18; letter-spacing: -4px; white-space: nowrap;}
.section02 .swiper_exhbn_wrap::before,
.section02 .swiper_exhbn_wrap::after { transition: transform .8s .3s var(--transition-custom);}
.section02 .swiper_exhbn_wrap::before { content: 'DENTAL MUSEUM'; top: -90px; left: -125px; transform: translateX(calc(-100% - 125px));}
.section02 .swiper_exhbn_wrap::after { content: 'SEOUL NATIONAL UNIVERSITY'; bottom: -55px; right: -125px; transform: translateX(calc(100% + 125px));}
.section02.active .swiper_exhbn_wrap::before,
.section02.active .swiper_exhbn_wrap::after { transform: translateX(0);}
.section02 .swiper_exhbn_wrap .swiper-button-prev { left: 0; transform: translateX(-50%);}
.section02 .swiper_exhbn_wrap .swiper-button-next { right: 0; transform: translateX(50%);}
.section02 .swiper_exhbn { padding: 4px;}
.section02 .swiper_exhbn .exhbn_swiper_card { position: relative;}
.section02 .swiper_exhbn .exhbn_swiper_card .exhbn_img_area { position: relative; width: 100%; padding-top: calc(480 / 378 * 100%);}
.section02 .swiper_exhbn .exhbn_swiper_card .bdr_area .bdr { display: block; position: absolute; z-index: 5; background-color: var(--color-a0c101); transition: all .4s var(--transition-custom);}
.section02 .swiper_exhbn .exhbn_swiper_card .bdr_area .bdr:nth-child(1) { top: 0; right: 0; width: 0; height: 4px;}
.section02 .swiper_exhbn .exhbn_swiper_card .bdr_area .bdr:nth-child(2) { top: 0; right: 0; width: 4px; height: 0;}
.section02 .swiper_exhbn .exhbn_swiper_card .bdr_area .bdr:nth-child(3) { bottom: 0; left: 0; width: 0; height: 4px;}
.section02 .swiper_exhbn .exhbn_swiper_card .bdr_area .bdr:nth-child(4) { bottom: 0; left: 0; width: 4px; height: 0;}
.section02 .swiper_exhbn .exhbn_swiper_card:hover .bdr_area .bdr:nth-child(1) { width: 100%;}
.section02 .swiper_exhbn .exhbn_swiper_card:hover .bdr_area .bdr:nth-child(2) { height: 100%;}
.section02 .swiper_exhbn .exhbn_swiper_card:hover .bdr_area .bdr:nth-child(3) { width: 100%;}
.section02 .swiper_exhbn .exhbn_swiper_card:hover .bdr_area .bdr:nth-child(4) { height: 100%;}
.section02 .swiper_exhbn .exhbn_cate { display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; z-index: 5; width: 100%; max-width: 110px; min-height: 40px; font-size: 20px; font-weight: 700; background-color: var(--color-191919); color: var(--color-white);}
.section02 .swiper_exhbn .exhbn_txt_area { margin-top: 32px;}

/* training */
.section03 { background-color: var(--color-f3f3f0);}
.section03::before { content: ''; display: block; position: absolute; top: 67px; right: 0; width: calc(614 / 1920 * 100vw); height: calc(445 / 1920 * 100vw); background: url('../images/img/bg_main_sec03.png') no-repeat center center / 100% auto;}
.section03 .fp-tableCell > .inner { height: calc(100vh - 200px);}
.section03 .swiper_video_cnt { display: flex; justify-content: space-between; align-items: end; gap: 72px; margin-top: 48px;}
.section03 .swiper_video_wrap { position: relative; width: calc(707 / 1600 * 100%);}
.section03 .swiper_video_wrap .video_img_area { padding-top: calc(328 / 707 * 100%);}
.section03 .swiper_video_wrap .video_img_area::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; z-index: 5; width: 56px; height: 56px; background: url('../images/icons/ico_play.svg') no-repeat center center / 100% auto; transform: translate(-50%, -50%);}
.section03 .btn_wrap { display: flex; flex-direction: column; align-self: center; gap: 16px;}
.section03 .btn_wrap [class^="swiper-button"] { position: static; transform: unset;}
.section03 .cnt_right { width: calc(860 / 1600 * 100%);}
.section03 .swiper_video_sub_wrap { overflow: hidden;}
.section03 .swiper_video_sub_wrap .swiper_video_sub { margin-left: calc(-392 / 1920 * 100vw);}
.section03 .swiper_video_sub_wrap .swiper-slide { position: relative; width: calc(360 / 1920 * 100vw);}
.section03 .swiper_video_sub_wrap .video_img_area { padding-top: calc(200 / 360 * 100%);}
.section03 .swiper_video_sub_wrap .video_img_area::before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: 5; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); pointer-events: none;}
.section03 .video_txt_area { margin-top: 24px; padding-bottom: unset; border-bottom: unset;}

/* sub common */
.section_sub .dot,
.section_sub .guide_list .guide_item { position: relative;  color: var(--color-5e5e5e);}
.section_sub .dot,
.section_sub .exp_cnt_right .guide_list { padding-left: 10px;}
.section_sub .dot::before,
.section_sub .guide_list .guide_item::before { content: '•'; display: inline-block; padding-right: 10px; font-weight: inherit; font-size: inherit; line-height: inherit; color: inherit;}
.section_sub .guide_list .guide_item + .guide_item { margin-top: 16px;}
/* sub txt content layout */
.section_sub .ttl_area .h_ttl + .p_desc { margin-top: 16px;}
.section_sub .ttl_area .p_desc { font-size: 20px; color: var(--color-191919);}
.section_sub .cnt_group + .cnt_group { margin-top: 94px;}
.section_sub .cnt_group .ttl_area .h_ttl { color: var(--color-191919);}
.section_sub .cnt_group .ttl_area + .cnt_area { margin-top: 48px;}
.section_sub .cnt_group .cnt_box { padding: 50px 40px; background-color: var(--color-f3f3f0);}
.section_sub .cnt_group .cnt_list { display: flex;}
.section_sub .cnt_group .cnt_list .cnt_item { flex: 1; position: relative; z-index: 5; min-height: 220px; padding-left: 40px;}
.section_sub .cnt_group .cnt_list .cnt_item::before { content: ''; display: block; position: absolute; right: 40px; bottom: 0; z-index: -1; width: 100%; height: 152px; background-repeat: no-repeat; background-position: right center; background-size: auto 100%;}
.section_sub .cnt_group .cnt_list .cnt_item:nth-child(1):before { background-image: url('../images/icons/ico_clock.svg');}
.section_sub .cnt_group .cnt_list .cnt_item:nth-child(2):before { background-image: url('../images/icons/ico_date.svg');}
.section_sub .cnt_group .cnt_list .cnt_item:nth-child(3):before { background-image: url('../images/icons/ico_money.svg');}
.section_sub .cnt_group .cnt_list .cnt_item + .cnt_item { border-left: 1px solid var(--color-aeaeae);}
.section_sub .cnt_group .cnt_list .txt { margin-top: 24px; font-size: 48px; color: var(--color-191919);}
.section_sub .cnt_group .cnt_list .p_desc { font-size: 18px;}
.section_sub .cnt_group .map_area { margin-top: 24px;}
.section_sub .cnt_group .guide_ttl { font-weight: 700; font-size: 18px; color: var(--color-5e5e5e);}
.section_sub .cnt_group .p_ref { color: var(--color-5e5e5e);}
.section_sub .cnt_group .guide_list + .p_ref,
.section_sub .cnt_group .p_txt + .guide_list { margin-top: 24px;}
/* sub exhbn cnt */
.section_sub { padding: 120px 0 94px;}
.section_sub .inner > [class*="_wrap"] + [class*="_wrap"] { margin-top: 94px;}
.section_sub .exhbn_list { display: flex; flex-wrap: wrap; gap: 64px 32px;}
.section_sub .exhbn_list .exhbn_item { width: calc(25% - (32px * 3 / 4));}
.section_sub .exhbn_img_area { padding-top: calc(480 / 378 * 100%);}
.section_sub .exhbn_txt_area { margin-top: 32px;}
.section_sub .exhbn_txt_area .date + .p_desc,
.section_sub .exhbn_txt_area .p_desc + .h_col { margin-top: 16px;}
.section_sub .exhbn_txt_area .p_desc { font-weight: 500; font-size: 16px; line-height: 1.25; color: var(--color-191919);}
.section_sub .pagination { margin-top: 94px; padding-bottom: 8px;}
.section_sub .btn_wrap { display: flex; justify-content: center; gap: 24px;}
/* sub collection cnt */
.section_sub .exhbn_list.type2 .exhbn_img_area,
.section_sub .exhbn_list.type4 .exhbn_img_area { padding-top: 100%;}
/* sub edu last page */
.section_sub.edu_page .exhbn_list.type2 .exhbn_txt_area .h_col { height: 60px; -webkit-line-clamp: 2;}
/* sub edu video cnt */
.section_sub .exhbn_list.type3 .exhbn_item { width: calc(50% - (32px / 2));}
.section_sub .exhbn_list.type3 .exhbn_img_area { padding-top: calc(400 / 784 * 100%);}
.section_sub .exhbn_list.type3 .exhbn_img_area::before,
.section_sub .exhbn_list.type3 .exhbn_img_area::after { content: ''; display: block; position: absolute;}
.section_sub .exhbn_list.type3 .exhbn_img_area::before { top: 50%; left: 50%; z-index: 5; width: 72px; height: 72px; background: url('../images/icons/ico_play.svg') no-repeat center center / 100% auto; transform: translate(-50%, -50%); pointer-events: none;}
.section_sub .exhbn_list.type3 .exhbn_img_area::after { top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5);}
/* permanent page */
.section_sub.pmnt_page .img_wrap { display: flex; gap: 32px; margin-top: 24px;}
.section_sub.pmnt_page .h_ttl + .p_desc { margin-top: 48px; font-size: 18px; color: var(--color-5e5e5e);}
.section_sub.pmnt_page .cnt_area { display: flex; justify-content: center; width: 100%;}
.section_sub.pmnt_page .cnt_left,
.section_sub.pmnt_page .cnt_right { width: calc(50vw + 22px);}
.section_sub.pmnt_page .cnt_left { display: flex; align-items: center; position: relative; z-index: -1; margin-top: 70px; margin-left: calc(-160 / 1920 * 100vw); margin-right: -22px; height: 500px; padding: 0 calc(145 / 1920 * 100vw); background-color: var(--color-f3f3f0);}
.section_sub.pmnt_page .cnt_left::before { content: ''; display: block; position: absolute; top: 40px; left: 40px; width: 100%; max-width: 472px; padding-top: calc(222 / 980 * 100%); background: url('../images/img/bg_pmnt.png') no-repeat center center / 100% auto;}
.section_sub.pmnt_page .cnt_left .p_desc { margin-top: unset;}
.section_sub.pmnt_page .cnt_right { margin-left: -22px; margin-right: calc(-160 / 1920 * 100vw);}
.section_sub.pmnt_page .cnt_group + .inner { margin-top: 94px;}
/* history_page */
.section_sub.history_page .history_cnt_wrap { display: flex; gap: 32px; margin-top: 120px;overflow: hidden;}
.section_sub.history_page .cnt_left { width: calc(754 / 1600 * 100%); overflow: hidden;}
.section_sub.history_page .cnt_left .img_area { position: relative; width: 100%; padding-top: calc(460 / 754 * 100%);}
.section_sub.history_page .cnt_left .img_area .img { position: absolute; top: 0; left: 0; opacity: 0; transition: opacity .4s;}
.section_sub.history_page .cnt_left .img_area.active .img { opacity: 1;}
.section_sub.history_page .cnt_right { width: calc(854 / 1600 * 100% - 32px);}
.section_sub.history_page .history_box + .history_box { margin-top: 94px;}
.section_sub.history_page .history_box .ttl_area .h_ttl { color: var(--color-191919);}
.section_sub.history_page .history_box .guide_list { margin-top: 48px;}
.section_sub.history_page .history_box .guide_item { display: flex;}
.section_sub.history_page .history_box .guide_item + .guide_item { margin-top: 24px;}
.section_sub.history_page .history_box .guide_ttl { display: inline-block; min-width: 184px; margin-right: 8px; font-weight: 700; color: var(--color-5e5e5e);}
/* donate page */
.section_sub.donate_page:not(.type2) { padding-top: 200px;}
.section_sub.donate_page .txt_box { width: calc(912 / 1600 * 100%);}
.section_sub.donate_page .txt_box .h_ttl { font-size: 32px; line-height: 1.6;}
.section_sub.donate_page .txt_box .p_desc { margin-top: 24px; font-size: 24px; line-height: 1.6; color: var(--color-5e5e5e);}
.section_sub.donate_page .cnt_group.collect { position: relative; margin: 0 calc(-160 / 1920 * 100vw); margin-top: 94px; padding: 94px calc(160 / 1920 * 100vw); background-color: var(--color-f3f3f0);}
.section_sub.donate_page .cnt_group.collect::before { content: ''; display: block; position: absolute; bottom: 98px; right: 85px; width: calc(722 / 1920 * 100%); padding-top: calc(1055 / 1920 * 100%); background: url('../images/@/@collect_lg_01.png') no-repeat center bottom / 100% auto;}
.section_sub.donate_page .collect_list { display: flex; gap: 32px;}
.section_sub.donate_page .collect_item { position: relative; width: 100%; max-width: 270px; padding-top: calc(270 / 1600 * 100%); border-radius: 50%; border: 1px solid var(--color-191919); background-color: rgba(207, 207, 171, .2);}
.section_sub.donate_page .collect_item .txt { position: absolute; top: 50%; left: 50%; width: 100%; margin-top: unset; font-size: 18px; line-height: 1.6; text-align: center; color: var(--color-191919); transform: translate(-50%, -50%);}
.section_sub.donate_page .cnt_area.type2 { display: flex; gap: 32px;}
.section_sub.donate_page .cnt_box { position: relative; z-index: 5; flex: 1; padding: 50px 80px;}
.section_sub.donate_page .cnt_box::before { content: ''; display: block; position: absolute; z-index: -1; top: 50%; right: 80px; width: 124px; height: 124px; transform: translateY(-50%);}
.section_sub.donate_page .cnt_box:nth-child(1):before { background: url('../images/icons/ico_call.svg') no-repeat center center / 100% auto;}
.section_sub.donate_page .cnt_box:nth-child(2):before { background: url('../images/icons/ico_mail.svg') no-repeat center center / 100% auto;}
.section_sub.donate_page .cnt_box .txt { margin-top: 24px; font-size: 48px; color: var(--color-191919);}
.section_sub.donate_page.type2 .cnt_group.type2 { position: relative; padding: 0 136px 128px;}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(1) { position: relative; z-index: -1; padding: unset; padding-top: calc(496 / 1328 * 100%); background: url('../images/img/bg_donate.jpg') no-repeat center center / 100% auto;}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(1) .ttl_area { position: absolute; top: 80px; left: 94px;}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(1) .h_ttl { width: 100%; color: var(--color-white);}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(1)::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: none; background-color: rgba(0, 0, 0, .4); transform: none;}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(2) { position: absolute; bottom: 0; right: 0; padding: 64px; background-color: var(--color-191919);}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(2) .p_desc { font-size: 24px; line-height: 1.6; color: var(--color-white);}
.section_sub.donate_page.type2 .cnt_group.type2 .cnt_box:nth-child(2)::before { content: none;}
/* greeting page */
.section_sub.greeting_page { margin-top: 120px; padding-top: 133px;}
.section_sub.greeting_page .cnt_group { display: flex; gap: 100px;}
.section_sub.greeting_page .cnt_left { flex: 1; position: relative; z-index: 5; padding-left: 60px;}
.section_sub.greeting_page .cnt_left::before,
.section_sub.greeting_page .cnt_left::after { content: ''; display: block; position: absolute; z-index: -1; width: 90px; height: 85px; background: url('../images/img/bg_greeting_01.png') no-repeat center center / 100% auto;}
.section_sub.greeting_page .cnt_left::before { top: -48px; left: 0; transform: translateY(-100%);}
.section_sub.greeting_page .cnt_left::after { bottom: 64px; right: -24px; transform: rotate(180deg);}
.section_sub.greeting_page .p_desc + .p_desc { margin-top: 38px;}
.section_sub.greeting_page .txt { margin-top: 48px; font-size: 32px; color: var(--color-191919);}
/* sub exhbn detail */
.section_sub.detail { position: relative;}
.section_sub.detail .btn_outline_primary { position: relative;}
.section_sub.detail .btn_outline_primary::before { content: ''; display: block; position: absolute; top: 50%; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; transform: translateY(-50%);}
.section_sub.detail .btn_outline_primary.btn_prev::before { left: 16px; background-image: url('../images/icons/arw_left_blue.svg');}
.section_sub.detail .btn_outline_primary.btn_next::before { right: 16px; background-image: url('../images/icons/arw_right_blue.svg');}
/* explain area */
.exhbn_exp_wrap { position: relative; display: flex; gap: 120px; padding-bottom: 40px;}
.exhbn_exp_wrap::after { content: ''; display: block; position: absolute; top: -206px; right: 0; width: calc(308 / 1920 * 100vw); height: calc(709 / 1920 * 100vw); background: url('../images/img/bg_section_sub_detail.png') no-repeat center center / 100% auto;}
.exhbn_exp_wrap::before { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: calc(636 / 1600 * 100%); height: calc(660 / 880 * 100%); background-color: var(--color-041A71);}
.exhbn_exp_wrap.type2::before { width: calc(636 / 1600 * 100%); height: calc(600 / 880 * 100%);}
.exhbn_exp_wrap .exp_cnt_left { width: calc((640 + 40) / 1600 * 100%); padding-left: 40px;}
.exhbn_exp_wrap .exp_img_area { padding-top: calc(840 / 640 * 100%);}
.exhbn_exp_wrap.type2 .exp_cnt_left .exp_img_area { padding-top: calc(640 / 640 * 100%);}
.exhbn_exp_wrap .exp_cnt_right { flex: 1;}
.exhbn_exp_wrap .exp_cnt_right .exp_txt_area { display: flex; flex-direction: column; height: 100%;}
.exhbn_exp_wrap .exp_cnt_right .h_ttl { font-size: 40px;}
.exhbn_exp_wrap .exp_cnt_right .h_sub_ttl { font-weight: 500;}
.exhbn_exp_wrap .exp_cnt_right .p_desc { font-size: 16px;}
.exhbn_exp_wrap .exp_cnt_right .exp_box,
.exhbn_exp_wrap .exp_cnt_right .guide_box { margin-top: 48px;}
.exhbn_exp_wrap .exp_cnt_right .guide_list { margin-top: 16px;}
.exhbn_exp_wrap .exp_cnt_right .guide_list .guide_item { font-size: 16px; font-weight: 700;}
.exhbn_exp_wrap .exp_cnt_right .guide_list .guide_ttl { display: inline-block; min-width: 100px; font-size: inherit; font-weight: inherit; color: inherit;}
.exhbn_exp_wrap .exp_cnt_right .guide_list .guide_txt { font-size: inherit; font-weight: 500; color: inherit;}
.exhbn_exp_wrap .exp_cnt_right .btn_wrap { justify-content: flex-start; align-items: end; flex: 1; margin-top: unset;}
/* detail table layout */
.exhbn_tbl_wrap .exhbn_tbl { border-top: 2px solid var(--color-5e5e5e);}
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_hdr,
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_ft,
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_body { border-bottom: 1px solid var(--color-aeaeae);}
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_hdr .tbl_tr,
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_ft .tbl_tr { display: flex; padding: 24px; gap: 72px;}
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_hdr .tbl_ttl .tbl_th { font-weight: 700; font-size: 40px;}
.exhbn_tbl_wrap .exhbn_tbl .tbl_tr + .tbl_tr { border-top: 1px solid var(--color-aeaeae);}
.exhbn_tbl_wrap .exhbn_tbl .exhbn_tbl_body { padding: 56px 24px;}
.exhbn_tbl_wrap .exhbn_tbl .tbl_info { display: flex; align-items: center; gap: 10px; font-size: 16px;}
.exhbn_tbl_wrap .exhbn_tbl .tbl_th { font-weight: 700; font-size: inherit;}
.exhbn_tbl_wrap .exhbn_tbl .tbl_td { font-size: inherit; color: var(--color-5e5e5e);}
.exhbn_tbl_wrap.type2 .exhbn_tbl { border-top-color: var(--color-a0c101);}
.exhbn_tbl_wrap.type2 .exhbn_tbl .exhbn_tbl_hdr { display: block;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .exhbn_tbl_hdr,
.exhbn_tbl_wrap.type2 .exhbn_tbl .exhbn_tbl_body { padding: 0;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_link { display: flex; gap: 72px; padding: 24px;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_link { transition: background .3s ease-in-out;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_link:hover { background-color: var(--focus-color);}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_th,
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td { padding: 0 20px; width: 124px;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_th:nth-child(1),
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(1) { width: 104px; padding-left: 0;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(1) { font-weight: 700; color: var(--color-a0c101);}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_th:nth-child(2),
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(2) { position: relative; flex: 1;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(2) .ico.pin,
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(2) .ico.add { width: 100%; max-width: 16px; height: 16px; margin-left: 16px;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(2) .ico.pin { background-image: url('../images/icons/ico_pin.svg');}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:nth-child(2) .ico.add { background-image: url('../images/icons/ico_add_data.svg');}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_th:last-child,
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td:last-child { width: 104px; padding-right: 0;}
.exhbn_tbl_wrap.type2 .exhbn_tbl .tbl_tr .tbl_td { font-size: 16px;}
/* img swiper area */
.swiper_data_wrap { position: relative;}
.swiper_data_wrap .ttl_area .h_ttl { color: var(--color-191919);}
.swiper_data_wrap [class^="swiper-button"] { top: 300px;}
.swiper_data_wrap .swiper-button-prev { left: 0; transform: translateX(-50%);}
.swiper_data_wrap .swiper-button-next { right: 0; transform: translateX(50%);}
.swiper_data_wrap .data_swiper { margin-top: 48px;}
.swiper_data_wrap .data_swiper .data_img_area { padding-top: 100%; cursor: pointer;}
/* collect intro detail */
.section_sub.detail.intro .exp_box { margin-top: 32px; padding-top: 32px; border-top: 1px solid var(--color-aeaeae);}
.section_sub.detail.intro .exp_box .p_desc { margin-top: 0;}
.section_sub.detail.intro .exhbn_exp_wrap .exp_img_area { border: 1px solid var(--color-aeaeae); background-color: var(--color-white);}

/* footer */
#footer { padding: 50px 0; background-color: var(--color-2a2a2a);}
#footer * { color: var(--color-white);}
#footer .inner { display: flex; gap: 80px; padding-top: unset;}
#footer .f_cnt_right { display: flex; align-items: start; flex-wrap: wrap; width: 100%;}
#footer .f_nav_list { display: flex; align-items: center; gap: 48px;}
#footer .f_nav_list .f_nav_link { font-weight: 500; font-size: 16px;}
#footer .f_info { margin-top: 24px;}
#footer .f_info .txt { display: inline-block; margin-top: 0;}
#footer .f_info .txt + .txt { margin-left: 12px; padding-left: 12px; border-left: 1px solid var(--color-white);}
#footer .copyright { margin-top: 16px; font-size: 14px; color: var(--color-5e5e5e);}
#footer .btn_family { position: relative; min-width: unset; margin-left: auto; padding: 13px 20px; padding-right: 56px; border: 1px solid var(--color-white); font-weight: 500; font-size: 16px;}
#footer .btn_family::after { content: ''; display: inline-block; position: absolute; top: 50%; right: 20px; width: 24px; height: 24px; background: url('../images/icons/arw_bottom_white.svg') no-repeat center center / 100% auto; transform: translateY(-50%);}

/* float btn */
.float_area { position: absolute; top: 50%; left: 0; z-index: 20; transform: translateY(-50%); transition: top .5s cubic-bezier(0.65,0.05,0.36,1);;}
.float_area .float_box { display: flex; flex-direction: column; max-width: 80px; height: 328px; box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.20);}
.float_area .float_txt_box { flex: 1; display: flex; justify-content: center; align-items: center; background-color: var(--color-191919);}
.float_area .float_txt { display: block; font-weight: 700; font-size: 24px; white-space: nowrap; color: var(--color-white); transform: rotate(-90deg);}
.float_area .float_btn { display: block; padding: 24px 22px; font-weight: 700; font-size: 24px; line-height: 1; color: var(--color-white); background-color: var(--color-a0c101); text-align: center;}
.float_area .float_btn::after { content: ''; display: inline-block; width: 16px; height: 16px; margin-top: 5px; background: url('../images/icons/arw_right_white_tail.svg') no-repeat center center / 100% auto;}

@media screen and (max-width: 1661px) {
    /* exhbn */
    .section02 .swiper_exhbn_wrap::before,
    .section02 .swiper_exhbn_wrap::after { font-size: clamp(80px, 6vw, 100px);}
    .section02 .swiper_exhbn_wrap::before { top: -5.42vw; left: -7.53vw;}
    .section02 .swiper_exhbn_wrap::after { right: -18vw;}
    .section02 .swiper_exhbn_wrap { padding: 0 36px;}
    .section02 .swiper_exhbn_wrap .swiper-button-prev { left: 36px;}
    .section02 .swiper_exhbn_wrap .swiper-button-next { right: 36px;}

    /* sub exhbn detail */
    .swiper_data_wrap [class^="swiper-button"] { top: calc(300 / 1660 * 100vw);}

    /* permanent page */
    .section_sub.pmnt_page .cnt_left { margin-left: -30px; padding-right: 77px; padding-left: 30px;}
    .section_sub.pmnt_page .cnt_right { margin-left: -22px; margin-right: -30px;}
}

@media screen and (max-width: 1023.99px) {
    /* exhbn */
    .section02 .swiper_exhbn_wrap { padding: 0 28px;}
    .section02 .swiper_exhbn_wrap .swiper-button-prev { left: 28px;}
    .section02 .swiper_exhbn_wrap .swiper-button-next { right: 28px;}

    /* footer */
    #footer .inner { flex-direction: column; gap: 64px;}
    #footer .f_cnt_right { flex-direction: column;}
    #footer .btn_family { margin-top: 16px; margin-left: unset;}
}

@media screen and (max-width: 767.98px) {
    /* exhbn */
    .section02 .swiper_exhbn_wrap { padding: 0;}
    .section02 .swiper_exhbn .swiper-slide { width: 240px;}
}

@media all and (min-width: 1921px) {
    .img { width: 100%;}
    
    /* exhbn */
    .section01 .cnt_right { width: calc(1100 / 1920 * 100vw);}
    .section01 .cnt_right .swiper_col_sub { margin-left: -432px}

    /* training */
    .section03 .cnt_right { width: calc(865 / 1920 * 100vw);}
}