.form {
    /* s: block */
    &-group {
        display: flex;

        & + &,
        .caution + & {
            margin-top: 16px;
        }

        &__label {
            display: inline-block;
            width: 100%;
            min-width: 110px;
            padding-bottom: 10px;
            font-weight: 400;
            font-size: $font-normal;
            color: $color-gray;
            letter-spacing: -0.01em;
            word-break: break-all;

            @at-root .form--type2 & { 
                font-weight: 500;
            }
        }

        &__caution {
            padding-top: 10px;
            font-size: $font-small - 2;
            color:$color-red2;

            & + .form-group {
                margin-top: 16px;
            }

            &--ref {
                color: $color-black2;
            }
        }

        &__box {
            width: 100%;
            gap: 8px;
            flex: 1;
            @include flex(null, start);

            & + & {
                margin-top: 8px;
            }
        }

        &--column {
            @include column-flex(null, start);
        }

        &--active {
            .form-control {
                border-color: $color-red2;
            }
        }

        &__txt {
            line-height: 48px;
            color: $color-gray4;
        }
    }

    &-agree {
        &__wrap {
            & + & {
                margin-top: 80px;
            }
        }

        &__ttl {
            margin-bottom: 32px;
            font-weight: 600;
            font-size: $font-medium + 4;
            text-align: center;
        }

        &__item {
            &-cont {
                height: 304px;
                margin-bottom: 24px;
                padding: 16px;
                padding-right: 8px;
                border: 1px solid $color-gray5;
                border-radius: 10px;
                overflow-y: auto;
            }
        }
    }
    /* e: block */
    
    /* s: elements */
    &__container {
        margin: 0 60px;
        @at-root .form--type2 & {
            max-width: 500px;
            margin: 0 auto;
        }
    }

    &__ttl {
        font-weight: 600;
        font-size: $font-large + 4;
        text-align: center;

        @at-root .form--type2 & {
            font-size: $font-medium + 4;
            line-height: 1.5;
            
            & + .form__desc {
                margin-top: 8px;
                color: $color-gray2;
                text-align: center;

                * {
                    color: inherit;
                }
            }
        }
    }

    &__ttl-area {
        margin-bottom: 40px;
    }

    &__wrap {
        margin: 40px 0;
    }

    &__btn {
        margin-top: 24px;
    }
    
    &__util {
        margin-top: 16px;
        &-item.util-auth__item {
            & + &::before {
                margin: 0 16px;
            }
        }

        &-link.util-auth__link {
            font-size: $font-normal;
        }
    }
    /* e: elements */
}

.input-group {
    flex-wrap: wrap;
    position: relative;
    flex: 1;
    @include flex(null, stretch);

    &__timer {
        position: absolute;
        top: 50%;
        right: 16px;
        color: $color-gray2;
        transform: translateY(-50%);
    }
}

@include media-down(tab) {
    .form {
        &-group {
            & + &,
            .caution + & {
                margin-top: 12px;
            }
    
            &__label {
                font-size: $font-normal - 2;
            }

            &__caution {
                padding-top: 8px;
    
                & + .form-group {
                    margin-top: 12px;
                }
            }

            &__box {
                gap: 6px;

                &--wrap {
                    flex-wrap: wrap;
                }
            }

            &__txt {
                line-height: 38px;
                font-size: $font-small - 2;
            }
        }

        &-agree {
            &__wrap {
                & + & {
                    margin-top: 64px;
                }
            }
    
            &__ttl {
                margin-bottom: 25px;
                font-size: $font-medium - 2;
            }
        }
        /* e: block */
        
        /* s: elements */
        &__container {
            margin: 0 48px;
        }
    
        &__ttl {
            font-size: $font-medium + 4;
            text-align: center;

            @at-root .form--type2 & {
                font-size: $font-medium - 2;
                
                & + .form__desc {
                    margin-top: 6px;
                    font-size: $font-small - 2;
                }
            }
        }
        
        &__wrap {
            margin: 32px 0;
        }
    
        &__btn {
            margin-top: 20px;
        }
        
        &__util {
            margin-top: 12px;
            
            &.util {
                height: auto;
                padding: 0;
                border-bottom: none;
            }

            &-item.util-auth__item {
                & + &::before {
                    margin: 0 12px;
                }
            }
    
            &-link.util-auth__link {
                font-size: $font-normal - 2;
            }
        }
    }
    
    .input-group {
        &__timer {
            right: 12px;
            font-size: $font-small - 2;
        }
    }
}

@include media-down(sm) {
    .form {
        &__container {
            margin: 0 24px;
        }
    }
}