.header {
    position: relative;
    z-index: 500;
    height: 120px;
    border-bottom: 1px solid $color-gray5;

    &__inner {
        height: 100%;
        margin: 0 56px;
        @include flex(between);
    }

    &__nav {
        width: 100%;
        @include absCenter(true, false);
    }

    &.on,
    body.scroll_down & {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 900;
        background-color: $color-white;
    }

    &__logo {
        position: relative;
        z-index: 100;
    }
}

.nav {
    &__bg {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $color-white;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    }

    &__list {
        @include flex();
    }

    &__item {
        display: inline-block;
        position: relative;
        width: 173px;
        text-align: center;

        &:first-child .nav__submenu {
            border-left: none;
        }
    }

    &__submenu {
        display: none;
        position: absolute;
        top: 121px;
        z-index: 10;
        overflow: hidden;
        width: 100%;
        padding: 24px 0;
        border-right: 1px solid $color-gray5;

        @at-root .nav__item:first-child & {
            border-left: 1px solid $color-gray5;
        }

        &::before {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
            transform: scale(.8);
            transition: opacity .1s, transform .3s;
            opacity: 0;
            @include pseudo();
        }
    }

    &-submenu {
        &__link {
            display: inline-block;
            padding: 8px 0;
            font-size: $font-normal + 2;

            &--arrow {
                display: flex;
                @extend .nav-submenu__link;

                &--active::after {
                    transform: rotate(180deg) !important;
                }

                &::after {
                    width: 24px;
                    height: 24px;
                    margin-left: auto;
                    background: url('../images/icons/arw_down_gray.svg') no-repeat center / 100% auto;
                    transform: rotate(0);
                    transition: transform .4s;
                    @include pseudo(inline-block, $pos: null);
                }
            }
        }

        &__depth03 {
            margin: 0 40px;
            padding: 4px 0;
            border-top: 1px solid $color-gray5;
            border-bottom: 1px solid $color-gray5;
        }
    }

    &-depth03 {
        &__link {
            display: inline-block;
            padding: 4px 0;
            font-size: $font-normal;
            text-align: center;
        }
    }

    &__link {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: $font-medium - 2;
        line-height: 120px;
        transition: color .3s;

        &::before {
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $color-blue;
            transform: scaleX(0);
            transition: transform .3s;
            @include pseudo();
        }
    }

    &__ad {
        display: none;
        position: absolute;
        top: 121px;
        right: 0;
        width: calc((100% - 865px) / 2);
        padding: 32px 80px 0;
    }
}

.nav-ad {
    max-width: 368px;

    &__imgBox {
        overflow: hidden;
        width: 100%;
        padding-top: calc(200 / 368 * 100%);
        border-radius: 10px;
    }
}

.util {
    gap: 24px;
    @include flex();

    &-auth__list,
    &-social__list {
        @include flex();
    }

    &-auth {
        &__item {
            &+&::before {
                width: 1px;
                height: 16px;
                margin: 0 8px;
                background-color: $color-gray5;
                vertical-align: middle;
                @include pseudo(inline-block, static);
            }
        }

        &__link {
            display: inline-block;
            position: relative;
            font-size: $font-normal + 2;
            color: $color-gray;
            transition: color .3s;

            &:hover,
            &:focus,
            &--blue {
                color: $color-blue;
            }
        }
    }

    &-social {
        &__list {
            gap: 24px;
        }
    }
}

.mGnb {
    display: none;
    position: fixed;
    top: 96px;
    right: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    background-color: $color-white;
    overflow-y: auto;
}

@include media-up(pc) {
    .nav {
        &__submenu {
            @at-root .nav__item.on &:before {
                transform: scale(1);
                opacity: 1;
            }

            &::before {
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
                transform: scale(.8);
                transition: opacity .1s, transform .3s;
                opacity: 0;
                @include pseudo();
            }
        }

        &__link {
            @at-root .nav__item.on &::before {
                transform: scaleX(1);
            }

            @at-root .nav__item.on &,
            &:hover,
            &:focus {
                color: $color-blue;
            }
        }
    }
}

@include media-down(xl) {
    .header {
        &__inner {
            margin: 0 44px;
        }
    }

    .nav {
        &__item {
            width: 138px;
        }

        &-submenu {
            &__link {
                font-size: $font-small;
            }

            &__depth03 {
                margin: 0 32px;
            }
        }

        &-depth03 {
            &__link {
                font-size: $font-small - 2;
            }
        }

        &__link {
            font-size: $font-normal + 2;
        }

        &__ad {
            width: calc((100% - 690px) / 2);
            padding: 32px 64px 0;
        }
    }
}

@include media-down(lg) {
    .header {
        &__inner {
            margin: 0 34px;
        }
    }

    .nav {
        &__item {
            width: calc(110 / 1399 * 100%);
        }

        &__ad {
            width: calc((100% - 40%) / 2);
            padding: 32px 50px 0;
        }
    }
}

@include media-down(tab) {
    .header {
        height: 96px;

        &__inner {
            margin: 0 24px;
        }
    }

    .logo {
        &__link {
            img {
                height: 64px;
            }
        }
    }

    .nav {
        &__list {
            flex-direction: column;
            overflow-y: auto;
        }

        &__item {
            width: 100%;
            border-bottom: 1px solid $color-gray5;

            &:last-child .nav__link::after {
                content: none;
            }

            &--active .nav__link {
                background-color: $color-blue;
                color: $color-white;

                &::after {
                    transform: rotate(180deg);
                    filter: invert(1);
                }
            }
        }

        &__submenu {
            position: static;
            padding: 0;
            border: none;
        }

        &-submenu {
            padding: 16px 24px;
            text-align: left;

            &__link {
                width: 100%;
                padding: 15px 0;
                font-size: $font-normal + 4;
            }

            &__depth03 {
                display: none;
                margin: 0;
                padding: 12px 0;
            }
        }

        &-depth03 {
            &__link {
                width: 100%;
                padding: 12px 16px;
                font-size: $font-normal + 2;
                text-align: left;
            }
        }

        &__link {
            padding: 32px 24px;
            font-size: $font-medium ;
            text-align: left;
            @include flex(between);

            &::after {
                width: 24px;
                height: 24px;
                margin-left: auto;
                background: url('../images/icons/arw_down_black2.svg') no-repeat center / cover;
                transition: transform .4s;
                @include pseudo(inline-block, $pos: null);
            }
        }

        &__ad {
            display: block;
            position: static;
            width: 100%;
            padding: 38px 10px 100px;
        }
    }

    .nav-ad {
        margin: 0 auto;
    }

    .util {
        position: static;
        height: 60px;
        padding: 16px 24px;
        border-bottom: 1px solid $color-gray5;
        transform: translateY(0);

        &-social {
            margin-left: auto;
        }
    }
}