/*바로가기*/
.skip a {
    display: block;
    position: absolute;
    top: -9999em;
    left: 0;
    z-index: 99999;
    width: 100%;
    padding: 15px 0;
    background-color: #494e53;
    font: 16px 'Pretendard', '맑은 고딕', 'sans-serif';
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
    top: 0;
}

.img-box {
    position: relative;
    width: 100%;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.term-box {
    &__txt {
        font-size: $font-small - 2;

        &--dot {
            position: relative;
            padding-left: 20px;

            &::before {
                top: 9px;
                left: 7px;
                width: 4px;
                height: 4px;
                background-color: $color-black;
                transform: translateY(-50%);
                border-radius: 100%;
                @include pseudo();
            }
        }

        &--num {
            padding-left: 12px;
            text-indent: -12px;
        }
    }

    &__ttl {
        font-weight: 700;
        @extend .term-box__txt;
    }
}

.txt-area {
    & + & {
        margin-top: 40px;
    }

    &__ttl {
        font-weight: 500;
        font-size: $font-normal + 2;
        word-break: keep-all;
    }

    &__txt {
        margin-top: 16px;
        word-break: keep-all;

        em {
            font-weight: 700;
        }
    }

    &--flex {
        gap: 6px;
        @include flex(null, center);
    }
}

.logo {
    .img {
        @at-root .footer & {
            height: 75px;
        }
    }
}

.overlay {
    position: relative;
    padding: 13px;
    background-color: #0379ef;
    border-radius: 40px;
    transform: translate(50px, -25px);

    &::before {
        bottom: 0;
        left: 20%;
        width: 0;
        height: 0;
        margin-bottom: -5px;
        margin-left: -5px;
        border: 5px solid transparent;
        border-bottom: 0;
        border-top-color: #0379ef;
        @include pseudo();
    }

    &__ttl {
        font-weight: 700;
        font-size: $font-small;
        color: $color-white;
        padding-left: 35px;

        &::before {
            top: 50%;
            left: calc(15px / 2);
            width: 35px;
            height: 35px;
            background-color: $color-white;
            transform: translateY(-50%);
            border-radius: 100%;
            @include pseudo();
        }
    }
}

.pc {
    display: block !important;
}

.mobile {
    display: none !important;
}

.blind {
    display: none !important;
}

.hidden {
    overflow: hidden !important;
}

.align-left {
    text-align: left !important;
}

@for $i from 1 through 12 {
    .col_#{$i} {
        max-width: calc(100% / 12 * #{$i});
        flex: 0 0 calc(100% / 12 * #{$i});
    }
}

@for $i from 1 through 100 {
    .gap_px_#{$i * 1} {
        gap: #{$i * 1px} !important;
    }
}

@for $i from 0 through 20 {
    .mt_#{$i * 5} {
        margin-top: calc(#{$i} * 5px);
    }
    
    .mb_#{$i * 5} {
        margin-bottom: calc(#{$i} * 5px);
    }
    .mx_#{$i * 5} {
        margin-left: calc(#{$i} * 5px);
        margin-right: calc(#{$i} * 5px);
    }

    .w_#{$i * 5} {
        width: #{$i * 5%} !important;
    }

    .w_px_#{$i * 10} {
        width: #{$i * 10px} !important;
    }

    
}

@include media-down(tab) {
    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .txt-area {
        & + & {
            margin-top: 32px;
        }

        &__ttl {
            font-size: $font-small;
        }

        &__txt {
            margin-top: 12px;
            font-size: $font-small - 2;

            em {
                font-size: inherit;
            }
        }
    }
}