@charset "UTF-8";

/* fnb common el */
.scrollbar {overflow-y: auto;overflow-x: hidden;}
.scrollbar::-webkit-scrollbar {width: 12px;}
.scrollbar::-webkit-scrollbar-thumb {border: 3px solid transparent;background-color: #d3d3d3;border-radius: 6px;background-clip: padding-box;border-right-width: 2px;}
[color-theme='dark'] .scrollbar::-webkit-scrollbar-thumb {background-color: var(--fn-gray-400);}
.scrollbar::-webkit-scrollbar-track {border-left: 1px solid var(--fn-gray-500);background-color: var(--fn-gray-150);}
[color-theme='dark'] .scrollbar::-webkit-scrollbar-track {background-color: var(--fn-gray-dark-400);}
.entry_option_area {max-height: calc(1em * 4 + 13px * 4);padding: 6px 0; border: 1px solid var(--fn-gray-500);}
.entry_option_area .option_list {padding: 0;}
.entry_option_area .option_item .option_btn {display: block; padding: 0 5px; font-size: 10px; line-height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.introduction .sec05 .key_value .ico, .entryManufacturer .entry_step_list .ico {display: block; position: relative; margin-bottom: 20px;border-radius: 100%;}
.introduction .sec05 .key_value .ico::before, .entryManufacturer .entry_step_list .ico::before {display: block;position: absolute;top: 50%;left: 50%;background-repeat: no-repeat;background-position: center center;background-size: cover;transform: translate(-50%,-50%);content: '';}
.entryManufacturer .sec .ttl,
.usageGuide .sec .ttl,
.personal_info_policy .sec .ttl {padding: 0 20px 8px; font-weight: bold; font-size: 17px;}
.entryManufacturer .entry_write .txt_area,
.usageGuide .txt_area,
.personal_info_policy .txt_area {border-bottom: 1px solid var(--fn-gray-500);}
[color-theme='dark'] .usageGuide .txt_area,
[color-theme='dark'] .personal_info_policy .txt_area {border-color: var(--fn-gray-400);}
/* //fnb common el */
/* introduction */
.introduction {padding-bottom: 0;}
.introduction .sec { padding-top: 0;}
.introduction .sec:nth-of-type(2n-1) {display: flex;position: relative; width: 100%; height: 385px;margin-top: 0; background-repeat: no-repeat;background-position: center center;background-size: cover; align-items: center;}
[color-theme='dark'] .introduction .sec:nth-of-type(2n-1) *{color: var(--fn-black);}
.introduction .sec:nth-of-type(2n) { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 250px; padding: 0; text-align: center;}
.introduction .sec01 .txt_area .ttl,.introduction .sec01 .txt_area .ttl strong,
.introduction .sec02 .txt_area .ttl,.introduction .sec02 .txt_area .ttl strong,
.introduction .sec03 .txt_area .ttl,.introduction .sec03 .txt_area .ttl strong {font-size: 20px; letter-spacing: -0.04em;}
.introduction .sec01 .txt_area .ttl,.introduction .sec03 .txt_area .ttl{color: var(--fn-white);line-height: calc(1em + 7px);}
.introduction .sec01 .txt_area .ttl strong,
.introduction .sec02 .txt_area .ttl strong,
.introduction .sec03 .txt_area .ttl strong,
.introduction .sec04 .txt_area .ttl strong {font-weight: bold;}
.introduction .sec01 .txt_area .ttl strong,.introduction .sec03 .txt_area .ttl strong {color: inherit;}
.introduction .sec01 .txt_area .txt,
.introduction .sec02 .txt_area .txt,
.introduction .sec03 .txt_area .txt,
.introduction .sec04 .txt_area .txt {padding-top: 15px; font-size: 11px; line-height: 1.6; letter-spacing: -0.04em;}
.introduction .sec03 .ico,.introduction .sec04 .ico {display: block;background-repeat: no-repeat;background-position: center center;background-size: cover;}
.introduction .sec01{background-image: url('../images/img/bg_intro_01.jpg');}
.introduction .sec01 .txt_area {margin-left: 50%;}
.introduction .sec01 .txt_area .ttl {text-indent: -15px;}
.introduction .sec02 {margin-top: 0;}
.introduction .sec02 .img_box { width: 140px; margin-bottom: 25px;}
.introduction .sec02 .img_box .img { width: 100%;}
.introduction .sec03 {background-image: url('../images/img/bg_intro_02.jpg');text-align: right;justify-content: end;}
.introduction .sec03 .txt_area {margin-right: 50%;}
.introduction .sec03 .txt_area .txt {color: var(--fn-white);}
.introduction .sec03 .ico.ico_logo_tp { width: 100px; height: 110px; margin-bottom: 15px; margin-left: 100%; background-image: url('../images/img/logo_intro_transparent.png'); transform: translateX(-100%);}
.introduction .sec04 {margin-top: 0;padding: 65px 0;}
.introduction .sec04 .ico.ico_logo {width: 115px;height: 125px;margin: 0 auto 15px;background-image: url('../images/img/logo_intro.png');}
.introduction .sec04 .txt_area .ttl {font-style: italic;font-weight: bold;font-size: 17px;}
.introduction .sec04 .txt_area .txt {padding-top: 8px;}
.introduction .sec05 {background-image: url('../images/img/bg_intro_03.jpg'); justify-content: center;}
.introduction .sec05 .key_value_area {display: flex; flex-direction: column; padding: 15px 0;border-top: 1px solid var(--fn-black);}
.introduction .sec05 .key_value_area h2{padding-bottom: 40px; font-weight: bold; font-size: 14px;}
.introduction .sec05 .key_value_box {display: flex; gap: 35px; padding-left: 35px;}
.introduction .sec05 .key_value .ico { width: 100px; height: 100px; background-color: var(--fn-white);}
.introduction .sec05 .key_value .ico.win::before {width: 68px;height: 43px;background-image: url('../images/icons/ico_intro_win.png');}
.introduction .sec05 .key_value .ico.fairness::before {width: 60px;height: 50px;background-image: url('../images/icons/ico_intro_fairness.png');}
.introduction .sec05 .key_value .ico.challenge::before {width: 55px;height: 50px; background-image: url('../images/icons/ico_intro_challenge.png');}
.introduction .sec05 .key_value .ico.communication::before {width: 64px;height: 52px;background-image: url('../images/icons/ico_intro_communication.png');}
.introduction .sec05 .key_value .ttl { padding-bottom: 15px; font-weight: bold; font-size: 12px; white-space:nowrap;}
.introduction .sec05 .key_value .ttl .eng{font-weight: bold;font-size: 12px;}
.introduction .sec05 .key_value .txt {font-size: 10px; line-height: 1.54; letter-spacing: -0.04rem;}
/* // introduction */
/* entryManufacturer */
.entryManufacturer .sec:first-child { padding-top: 24px;}
.entryManufacturer .sec:last-child {margin-top: 10px;}
.entryManufacturer .sec .inner_center {padding: 0 90px;}
.entryManufacturer .sec .main_visual {display: flex;height: 250px;background: url('../images/img/bg_entryManu_01.jpg') no-repeat center center / cover;text-align: center;justify-content: center;align-items: center;}
[color-theme='dark'] .entryManufacturer .sec .main_visual .txt_area *{color: var(--fn-black);}
.entryManufacturer .sec .main_visual .txt_area .slogan{font-size: 20px;line-height: calc(1em + 7px);}
.entryManufacturer .sec .main_visual .txt_area .slogan strong{font-weight: bold;font-size: 20px;}
.entryManufacturer .sec .main_visual .txt_area .txt { padding-top: 15px; font-size: 11px; letter-spacing: -0.04rem;}
.entryManufacturer .entry_step {padding: 10px 0 60px;border-top: 1px solid var(--fn-black);}
[color-theme='dark'] .entryManufacturer .entry_step {border-color: var(--fn-gray-500);}
.entryManufacturer .content_ttl{margin-bottom: 8px; font-weight: bold; font-size: 14px;}
.entryManufacturer .entry_step_list {display: flex; padding: 25px 6px 0;}
.entryManufacturer .entry_step_list li { display: grid; position: relative; width: 100%; grid-template-columns: 84px 1fr; grid-template-rows: 1fr 1fr;}
.entryManufacturer .entry_step_list li::after {content: ''; display: block; width: 100%; height: 10px; background: url(../images/icons/ico_dark_mode_arw_right.png) no-repeat center center / 10px auto; transform: translate(0, calc(-50% + 84px / 2)); grid-column-start: 2; grid-row-start: 1;}
.entryManufacturer .entry_step_list li:last-child::after {content: none;}
.entryManufacturer .entry_step_list .ico {position: relative; width: 84px; height: 84px; border: 1px solid var(--fn-gray-500);border-radius: 100%;}
.entryManufacturer .entry_step_list .ico.ico01::before{width: 26px;height: 31px;background-image: url('../images/icons/ico_manufacturer_01.png');}
.entryManufacturer .entry_step_list .ico.ico02::before{width: 35px;height: 32px;background-image: url('../images/icons/ico_manufacturer_02.png');}
.entryManufacturer .entry_step_list .ico.ico03::before{width: 40px;height: 32px;background-image: url('../images/icons/ico_intro_communication.png');}
.entryManufacturer .entry_step_list .ico.ico04::before{width: 25px;height: 33px;background-image: url('../images/icons/ico_manufacturer_04.png');}
.entryManufacturer .entry_step_list .ico.ico05::before{width: 27px;height: 28px;background-image: url('../images/icons/ico_manufacturer_05.png');}
.entryManufacturer .entry_step_list .txt_area { width: 110px; grid-column: 1 / 3; grid-row: 2 / 3;}
.entryManufacturer .entry_step_list .txt_area .step {font-weight: bold;font-size: 16px;letter-spacing: -0.04rem;}
.entryManufacturer .entry_step_list .txt_area .txt {padding-top: 15px;font-size: 11px;line-height: 1.54;letter-spacing: -0.04rem;}
.entryManufacturer .entry_write.on .txt_area {border-bottom: none;}
.entryManufacturer .entry_write.on .txt_area .content_ttl::after{transform: translateY(-50%) rotate(180deg);}
.entryManufacturer .entry_write.on .form{height: 100%;transform: scaleY(1);}
.entryManufacturer .entry_write.on .btn_wrap{display: block;}
.entryManufacturer .entry_write .txt_area .content_ttl {display: inline-block; position: relative; padding-right: calc(27px + 16px);}
.entryManufacturer .entry_write .txt_area .content_ttl:after {display: block; position: absolute; top: 50%; right: 0; width: 10px;height: 5px;background: url('../images/icons/ico_arw_down.png') no-repeat center center / cover; transform: translateY(-50%); transition: transform 0.45s; content: '';}
[color-theme='dark'] .entryManufacturer .entry_write .txt_area .content_ttl:after {height: 16px; background-image: url('../images/icons/arw_down_gray_sm.svg');}
.entryManufacturer .entry_write .form { height: 0; padding: 12px 0 0; border: none; background-color: transparent; transform: scaleY(0);}
[color-theme='dark'] .entryManufacturer .entry_write .form{ border-color: var(--fn-gray-500); background-color: var(--fn-gray-dark-600);}
.entryManufacturer .entry_write .form label { font-size: 16px; color: var(--fn-gray-750); line-height: 16px;}
.entryManufacturer .entry_write .entry_table td { padding-bottom: 10px;}
.entryManufacturer .entry_write .form .entry_table .form_box + .form_box { border-top: none;}
.entryManufacturer .entry_write .form .entry_table .form_box .form_control::placeholder,
.entryManufacturer .entry_write .form .entry_table .textarea::placeholder {font-size: 12px;color: var(--fn-gray-500);}
.entryManufacturer .entry_write .form .entry_table .form_box .form_control[type='tel'] { text-align: left;}
.entryManufacturer .entry_write .form .entry_table .btn_xs { display: flex; min-width: 70px; min-height: 52px; justify-content: center; align-items: center; font-size: 13px; color: var(--fn-white);}
.entryManufacturer .entry_write .form .entry_table .form_box .form_select {width: 100%;max-width: 95px;min-width: 75px;}
.entryManufacturer .entry_write .form .entry_table .form_box.account.active label { display: inline-block; margin-bottom: 10px;}
.entryManufacturer .entry_write .form .entry_table .form_box.account .form_control { min-height: 30px; padding: 0 8px; border-radius: 0; border: 1px solid var(--fn-gray-500);}
.entryManufacturer .entry_write .form .entry_table .form_box.account .form_select .form_btn { height: 30px;}
.entryManufacturer .entry_write .form .entry_table .form_box.account .form_select + .form_control { width: calc(100% - 95px - 8px); margin-top: 0; margin-left: auto;}
.entryManufacturer .entry_write .form .entry_table .address_field .form_control { height: 30px; min-height: 30px; padding: 0 7px; background: none; border: 1px solid var(--fn-gray-500); line-height: 30px;}
.entryManufacturer .entry_write .form .entry_table .address_field .input_row:nth-of-type(1) .form_control { padding-left: 30px;}
.entryManufacturer .entry_write .form .entry_table .address_field .btn_zipcode { display: none;}
.entryManufacturer .entry_write .form .entry_table .address_field.active .btn_zipcode { display: block; width: 20px; height: 20px;}
.entryManufacturer .entry_write .form .entry_table .address_field .form_control::placeholder { font-size: 13px; color: var(--fn-gray-750);}
.entryManufacturer .entry_write .form .entry_table .address_field .input_row button { top: 50%; padding-left: 30px; background: url('../images/icons/ico_search_gray.svg') no-repeat 5px center / 20px 20px; line-height: 30px; color: var(--fn-gray-750); font-size: 13px; transform: translateY(calc(-50% + 5px));}
.entryManufacturer .entry_write .form .entry_table .textarea_control.type_footnote { border: 1px solid var(--fn-gray-500);}
.entryManufacturer .entry_write .form .entry_table .textarea_control.type_footnote textarea.form_control { height: 160px; padding: 0 16px; border: none; font-size: 14px; line-height: 14px; color: var(--fn-gray-750);}
.entryManufacturer .entry_write .form .entry_table .textarea_control .footnote_box { padding: 10px 16px 0; border: none;}
.entryManufacturer .entry_write .form .entry_table .textarea_control .footnote { text-align: left;}
.entryManufacturer .entry_write .form .entry_table .form_box .form_select .form_btn {height:26px;padding-right: calc(6px * 2 + 9px);padding-left: 7px; border: 1px solid var(--fn-gray-500);font-size: 12px;color: var(--fn-black);}
[color-theme='dark'] .entryManufacturer .entry_write .entry_table .form_box .form_select .form_btn {color: var(--fn-gray-400);}
.entryManufacturer .entry_write .form .entry_table tr:last-child { border-bottom: 1px solid var(--fn-gray-500);}
.entryManufacturer .entry_write .form .entry_table tr:last-child,
.entryManufacturer .entry_write .form .entry_table .img_upload_area .img_upload_box { margin-top: 0; border: none;}
.entry_option_area.option_area_sm .option_item .option_btn {padding: 4px 5px; }
.entryManufacturer .entry_write .entry_table .form_box .form_select .form_btn::after {right: 6px;width: 10px;height: 5px;background-image: url('../images/icons/ico_dark_mode_arw_down.png');}
.entryManufacturer .entry_write .entry_table .form_box .btn_form.btn_danger { display: none; min-width: 70px; margin-top: 10px; padding: 8px 4px; font-size: 13px;text-align: center;border-radius: 4px;}
.entryManufacturer .entry_write .entry_table .form_box.active .btn_form.btn_danger { display: block;}
.entryManufacturer .entry_write .btn_wrap {display: none;margin: 0 auto;margin-top: 35px;text-align: center;}
.entryManufacturer .entry_write .btn_wrap .btn {min-width: 125px;font-size: 15px;border-radius: 4px;}
.entryManufacturer .entry_write .btn_wrap .btn_outline {border: 1px solid var(--fn-gray-500);color: var(--fn-black);}
[color-theme='dark'] .entryManufacturer .entry_write .btn_wrap .btn_outline {color: var(--fn-gray-400);}
/* // entryManufacturer */
/* usageGuide, personalInfoPolicy */
[color-theme='dark'] .usageGuide .content_box .content *,
[color-theme='dark'] .personal_info_policy .content_box .content * { color: var(--fn-gray-400);}
.usageGuide .txt_area .ttl,.personal_info_policy .txt_area .ttl {display: block;}
.usageGuide .content_box, .personal_info_policy .content_box {padding: 35px 0;}
[color-theme='dark'] .usageGuide .content_box,
[color-theme='dark'] .personal_info_policy .content_box { background-color: var(--fn-gray-dark-400);}
.usageGuide .content_box .content, .personal_info_policy .content_box .content{ width: 100%; max-width: 916px; height: 700px; margin: 0 auto; padding: 15px; border: 1px solid var(--fn-gray-500);background-color: var(--fn-gray-150);}
[color-theme='dark'] .usageGuide .content_box .content,
[color-theme='dark'] .personal_info_policy .content_box .content{border-color: var(--fn-gray-400); background-color: var(--fn-gray-dark-600);}
.usageGuide .content_box .content .content_ttl,.usageGuide .content_box .content .txt,
.personal_info_policy .content_box .content .content_ttl,.personal_info_policy .content_box .content .txt {font-size: 10px;line-height: 1.8;word-break: keep-all;}
.usageGuide .content_box .content .content_ttl,.personal_info_policy .content_box .content .content_ttl {font-weight: bold;}
.usageGuide .content_box .content .comment,.personal_info_policy .content_box .content .comment {font-size: 10px;line-height: 1.8;}
.usageGuide .content_box .content .txt.num,.personal_info_policy .content_box .content .txt.num {padding-left: 15px;text-indent: -15px;}
.usageGuide .content_box .content .in_sec,.personal_info_policy .content_box .content .in_sec {padding-left: 15px;}
.usageGuide .content_box .content .in_sec.num,.personal_info_policy .content_box .content .in_sec.num {padding-left: 30px;text-indent: -15px;}
.usageGuide .content_box .content .last_p,.personal_info_policy .content_box .content .last_p {padding-bottom: 22px;}
.personal_info_policy .table {margin: 25px 0;}
.personal_info_policy .th {height: 35px;border: 1px solid var(--fn-gray-500);background-color: var(--fn-gray-250);font-weight: bold;font-size: 14px;text-align: center;}
[color-theme='dark'] .personal_info_policy .th {border: 1px solid var(--fn-gray-500);background-color: var(--fn-gray-dark-500);}
.personal_info_policy .td {padding: 15px 10px;border: 1px solid var(--fn-gray-500);background-color: var(--fn-white);font-size: 12px;text-align: center;line-height: 1.6;}
[color-theme='dark'] .personal_info_policy .td {border: 1px solid var(--fn-gray-500);background-color: var(--fn-gray-dark-400);}
.personal_info_policy .td.align_left {text-align: left;}
.personal_info_policy .td.align_left .txt {line-height: 1.6;}
/* // usageGuide, personalInfoPolicy */

@media screen and (max-width:767px) {
  .entryManufacturer .sec .inner_center {padding: 0;}
  .introduction { border-bottom: 4px solid  var(--fn-gray-300);}
  .introduction .sec,
  .usageGuide .sec,
  .personal_info_policy .sec,
  .entryManufacturer .sec { padding: 0; border-bottom: none;}
  .introduction .sec:nth-of-type(2n-1):not(:last-child) { height: 400px;}
  .introduction .sec:nth-of-type(2n) { height: 250px;}
  .introduction .sec01 { position: relative; background-image: url('../images/img/bg_intro_01_mo.jpg');}
  .introduction .sec01 .txt_area { position: absolute; top: 150px; left: 50%; margin-left: 0;}
  .introduction .sec01 .txt_area .ttl { color: var(--fn-black); text-indent: 0;}
  .introduction .sec01 .txt_area .ttl,
  .introduction .sec01 .txt_area .ttl strong,
  .introduction .sec02 .txt_area .ttl,
  .introduction .sec02 .txt_area .ttl strong,
  .introduction .sec03 .txt_area .ttl,
  .introduction .sec03 .txt_area .ttl strong { font-size: 17px;}
  .introduction .sec01 .txt_area .txt,
  .introduction .sec02 .txt_area .txt,
  .introduction .sec03 .txt_area .txt,
  .introduction .sec04 .txt_area .txt { padding-top: 12px; font-size: 10px; line-height: 1.5;}
  .introduction .sec02 { padding-top: 40px;}
  .introduction .sec02 .img_box { width: 145px; height: 80px; margin: 0 auto 25px;}
  .introduction .sec02 .img_box .img { width: 100%; height: 100%;}
  .introduction .sec03 { background: linear-gradient(90deg, #E8380C 0%, #9C0783 100%);}
  .introduction .sec03::before { content: ''; display: block; position: absolute; right: 0; bottom: 0; width: 50%; height: 347px; background: url('../images/img/bg_intro_02_mo.png') no-repeat right top / auto 100%;}
  .introduction .sec03 .ico.ico_logo_tp { width: 80px; height: 85px; margin-bottom: 10px;}
  .introduction .sec04 { padding-top: 38px;}
  .introduction .sec04 .ico.ico_logo { width: 105px; height: 115px; margin-bottom: 20px;}
  .introduction .sec.sec05 { height: 525px; padding: 25px; background-image: url('../images/img/bg_intro_03_mo.jpg');}
  .introduction .sec05 .key_value_area { padding: 0; height: 100%;}
  .introduction .sec05 .key_value_area h2 { padding: 3px 0 28px; font-size: 15px; line-height: 1.43;}
  .introduction .sec05 .key_value_box { padding: 0 20px; flex-wrap: wrap; gap: 22px 39px; flex: none;}
  .introduction .sec05 .key_value_box .key_value { display: flex; flex-direction: column; align-items: center; max-width: calc(50% - 39px / 2); flex: 0 0 calc(50% - 39px / 2);}
  .introduction .sec05 .key_value .ttl { padding-bottom: 8px; font-size: 14px;}
  .introduction .sec05 .key_value .txt { font-size: 10px; line-height: 1.5;}

  .usageGuide .txt_area, 
  .personal_info_policy .txt_area { border-bottom: none;}
  .usageGuide .content_box,
  .personal_info_policy .content_box { padding: 24px 12px; background-color: var(--fn-gray-350);}
  
  .usageGuide .content_box .content,
  .personal_info_policy .content_box .content { height: 100%; padding: 20px 12px;}
  .usageGuide .content_box .content *,
  .personal_info_policy .content_box .content * { color: var(--fn-gray-750);}
  
  .usageGuide .content_box .content .content_ttl,
  .usageGuide .content_box .content .txt,
  .personal_info_policy .content_box .content .content_ttl,
  .personal_info_policy .content_box .content .txt,
  .usageGuide .content_box .content .comment,
  .personal_info_policy .content_box .content .comment { font-size: 10px; line-height: 1.35;}
  .usageGuide .content_box .content .content_ttl,
  .personal_info_policy .content_box .content .content_ttl { padding-bottom: 5px;}
  .usageGuide .content_box .content .comment,
  .personal_info_policy .content_box .content .comment { padding: 5px 0;}
  .content_box .content .last_p,
  .content_box .content .last_p { padding-bottom: 15px;}
  .usageGuide .content_box .content .txt + .txt,
  .personal_info_policy .content_box .content .txt + .txt { padding-top: 8px;}
  .usageGuide .content_box .content .in_sec,
  .personal_info_policy .content_box .content .in_sec,
  .usageGuide .content_box .content .in_sec.num,
  .personal_info_policy .content_box .content .in_sec.num { padding-left: 10px; text-indent: 0;}
  .usageGuide .content_box .content .txt.num:not(.in_sec),
  .personal_info_policy .content_box .content .txt.num:not(.in_sec) { padding-left: 0; text-indent: 0;}
  .usageGuide .btn_back,
  .personal_info_policy .btn_back { margin-top: 24px;}
  [color-theme='dark'] .usageGuide .btn_back,
  [color-theme='dark'] .personal_info_policy .btn_back { background-color: var(--fn-gray-dark-600); color: var(--fn-gray-400); border-color: var(--fn-gray-400);}
  .personal_info_policy .th { font-size: 10px;}
  .personal_info_policy .td { background-color: var(--fn-gray-150); word-break: keep-all;}

  .entryManufacturer .sec .main_visual { background: url('../images/img/bg_entryManu_01_mo.jpg');}
  .entryManufacturer .sec .main_visual .txt_area .slogan, 
  .entryManufacturer .sec .main_visual .txt_area .slogan strong { font-size: 16px; line-height: calc(16px + 7px);}
  .entryManufacturer .sec .main_visual .txt_area .txt { padding-top: 12px; font-size: 10px; line-height: 1.5;}
  .entryManufacturer .sec:last-child { margin: 0; padding: 25px;}
  .entryManufacturer .content_ttl { margin-bottom: 5px; font-size: 15px;}
  .entryManufacturer .entry_step .content_ttl { margin-top: 3px; line-height: 1.43;}
  .entryManufacturer .entry_step { padding: 0 0 24px;}
  .entryManufacturer .entry_step_list { flex-direction: column;}
  .entryManufacturer .entry_step_list li { grid-template-columns: 100px 1fr; grid-template-rows: 1fr auto; gap: 0 35px; align-items: center;  }
  .entryManufacturer .entry_step_list li::after { grid-column: 1 / 2; grid-row: 2 / 3; margin: 14px 0; transform: translate(0) rotate(90deg);}
  .entryManufacturer .entry_step_list .ico { width: 100px; height: 100px; margin-bottom: 0; flex-shrink: 0;}
  .entryManufacturer .entry_step_list .ico.ico01::before { width: 33px; height: 39px;}
  .entryManufacturer .entry_step_list .ico.ico02::before { width: 43px; height: 39px;}
  .entryManufacturer .entry_step_list .ico.ico03::before { width: 50px; height: 41px;}
  .entryManufacturer .entry_step_list .ico.ico04::before { width: 32px; height: 42px;}
  .entryManufacturer .entry_step_list .ico.ico05::before { width: 35px; height: 36px;}
  .entryManufacturer .entry_step_list .txt_area { width: auto; grid-column: 2 / 3; grid-row: 1 / 2;}
  .entryManufacturer .entry_step_list .txt_area .step { font-size: 14px;}
  .entryManufacturer .entry_step_list .txt_area .txt { padding-top: 5px;}
  .entryManufacturer .entry_write { padding-top: 24px;}
  .entryManufacturer .entry_write.on .txt_area { border-bottom: 1px solid var(--fn-gray-500);}
  .entryManufacturer .entry_write .txt_area .content_ttl { width: 100%; text-align: left;}
  .entryManufacturer .entry_write .txt_area .content_ttl:after { width: 14px; height: 8px;}
  .entryManufacturer .entry_write .btn_wrap .btn { width: calc(50% - 7px / 2);}
}