@charset "utf-8";

.pc {display:inline-block !important;}
.mo {display:none !important;}  
.f_inherit { font-family: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; color: inherit;}
.fw_400 { font-weight: 400 !important;}
.fw_700 { font-weight: 700 !important;}
.blind { overflow: hidden; position: absolute; z-index: -1; width: 1px; height: 1px; border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
.color-344ca9 { color: #344ca9;}
.color-ffeaa9 { color: #ffeaa9;}
.color-1e9cff { color: #1e9cff;}

@media all and (max-width:720px){
  .pc {display:none !important;}
  .mo {display:inline-block !important;}
}

.inner { padding: 0 12px;}
.ref { display: inline-block; position: relative;}
.ref_sm { font-size: 10px;}
.ref::before { content: '*'; display: inline-block; position: absolute; top: 0; left: 0;}
.ref.type2::before { content: '※';}
.section { position: relative;}
.section .ico_box .ico { display: block; margin: 0 auto; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
.section .ttl_box { position: relative; text-align: center;}
.section .ttl_box .ttl { font-weight: 900; font-size: 22px; color: #fff;}
.section .ttl_box .ttl > em { display: inline-block; width: 100%; font-weight: inherit; font-size: 32px;}
.section .cnt_area { margin: 0 auto; border: 3px solid #fff; border-radius: 8px; box-shadow: 10px 10px 4px rgba(0, 76, 149, 0.2), inset 5px 5px 8px rgba(147, 170, 199, 0.8); background-color: rgba(255, 255, 255, .95); }
.section .cnt_area.type2 { border: none; border-radius: unset; box-shadow: none; background-color: unset;}
.section .evt_list,
.section .card_list { max-width: 360px; margin: 0 auto;}
.section .dot,
.section .dashed { display: inline-block; position: relative; padding-left: 7px; font-size: 11px;  text-align: left; }
.section .dot::before,
.section .dashed::before { display: inline-block; position: absolute; top: 0; left: 0; font-size: inherit;}
.section .dot::before { content: '·';}
.section .dashed::before { content: '-';}
.btn_toggle { display: block; width: 23px; height: 23px; background: url('../images/app/btn_toggle.png') no-repeat center center / 100% auto; text-indent: -999px; font-size: 0; transition: all .4s;}

.float_area { width: 100%;}
.float_area.fixed { position: fixed; bottom: 0; left: 0; z-index: 999;}
.float_area .float_bg { width: 100%; height: 68px; background: url('../images/app/bg_float_area.png') no-repeat center center / auto 100%;}
.float_area .btn_area { position: absolute; top: 50%; left: 50%; z-index: 1000; transform: translate(-50%, -50%);}
.float_area .btn_detail { display: block; width: 254px; height: 49px; background: url('../images/app/btn_float.png') no-repeat center center / auto 100%; text-indent: -9999em; font-size: 0;}

.section01 { position: relative; background-color: #6189bd; text-align: center;}
.section01::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../images/app/bg_section01.png') no-repeat center center / 100% 100%;  pointer-events: none;}
.section01 .cnt_area { position: relative; z-index: 1; margin-top: -3px; padding: 35px 15px 25px 25px; background-color: rgba(255, 255, 255, .8);}
.section01 .evt_item { display: flex; align-items: center; border-radius: 10px; background-color: #fff; box-shadow: 5px 5px 7px rgba(0, 76, 149, 0.2);}
.section01 .evt_item + .evt_item { margin-top: 18px;}
.section01 .evt_item .num { position: relative; z-index: 100; margin-left: -2px; font-weight: 900; font-size: 14px; color: #fff;}
.section01 .evt_item .num::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 41px; height: 30px; transform: translate(-50%, -50%); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; z-index: -1;}
.section01 .evt_item:nth-child(1) .num::before { background-image: url('../images/app/img_section01_01_num.png');}
.section01 .evt_item:nth-child(2) .num::before { background-image: url('../images/app/img_section01_02_num.png');}
.section01 .evt_item:nth-child(3) .num::before { background-image: url('../images/app/img_section01_03_num.png');}
.section01 .evt_item:nth-child(4) .num::before { background-image: url('../images/app/img_section01_04_num.png');}
.section01 .evt_item .img_box { width: calc(60 / 360 * 100vw); margin-top: -10px; margin-left: 10px;}
.section01 .evt_item .txt_box { flex: 1; text-align: center;}
.section01 .evt_item .txt_box .txt { display: block; font-weight: 500; font-size: 14px; line-height: 20px; letter-spacing: -0.04em;}
.section01 .evt_item .txt_box .txt.bnf { font-weight: 900; font-size: 20px; line-height: 20px;}
.section01 .evt_item:nth-child(1) .txt_box .txt.bnf { color: #378de4;}
.section01 .evt_item:nth-child(2) .txt_box .txt.bnf { color: #9260f0;}
.section01 .evt_item:nth-child(3) .txt_box .txt.bnf { color: #747bdd;}
.section01 .evt_item:nth-child(4) .txt_box .txt.bnf { color: #3568ed;}
.section01 .ref { margin-top: 20px;}

.section02 { padding-top: 55px; background-color: #6189bd;}
.section02 .inner { padding: 20px;}
.section02::before { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 320px; background: url('../images/app/bg_section02.png') no-repeat center bottom / auto 100%; pointer-events: none;}
.section02 .ico_box .ico { width: 72px; height: 115px; background-image: url('../images/app/img_section02_ttl.png');}
.section02 .ttl_box .ref { margin-top: 20px; font-weight: 500; font-size: 15px; color: #fff;}
.section02 .cnt_area { position: relative; z-index: 10; margin-top: 18px; padding: 20px; text-align: center;}
.section02 .evt_item { position: relative;}
.section02 .evt_item + .evt_item { margin-top: 15px; padding-top: 15px;}
.section02 .evt_item + .evt_item::before { content: ''; display: block; position: absolute; top: 0; left: 50%; width: calc(100% - 60px); height: 1px; background-color: #ccc; transform: translateX(-50%);}
.section02 .cnt_area .ttl_box { margin-bottom: 25px;}
.section02 .cnt_area .ttl_box .ttl { position: relative; z-index: 1; font-weight: 700; font-size: 13px;}
.section02 .cnt_area .ttl_box .ttl::before,
.section02 .cnt_area .ttl_box .ttl::after { content: ''; display: block; position: absolute; left: 50%; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; z-index: -1;}
.section02 .cnt_area .ttl_box .ttl::before { top: 50%;  width: 74px; height: 25px; background-image: url('../images/app/img_section02_evt_ttl.png'); transform: translate(-50%, -50%);}
.section02 .cnt_area .ttl_box .ttl::after { bottom: -12px; width: 62px; height: 8px; background-image: url('../images/app/img_section02_evt_ttl02.png'); transform: translate(-50%, 50%);}
.section02 .cnt_area .desc_box { display: inline-flex; flex-direction: column;}
.section02 .cnt_area .desc_box .desc { font-weight: 700; font-size: 13px;}
.section02 .cnt_area .desc_box .desc strong { font-weight: 900; font-size: inherit;}
.section02 .cnt_area .ref_list { display: flex; flex-direction: column; margin-top: 12px;}
.section02 .cnt_area .ref { font-size: 10px; line-height: 1.6;}
.section02 .cnt_area .desc.dashed { letter-spacing: -0.06em;}
.section02 .ref::before { position: static;}

.section03 { padding-top: 60px; padding-bottom: 150px; overflow: hidden;}
.section03::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../images/app/bg_section03.png') no-repeat center top / auto 100%; pointer-events: none; }
.section03 .ico_box .ico { width: 110px; height: 116px; background-image: url('../images/app/img_section03_ttl.png');}
.section03 .ttl_box .ttl { font-size: 32px;}
.section03 .cnt_area { position: relative; z-index: 1; color: #fff; }
.section03 .evt_list { padding: 0 40px;}
.section03 .evt_item { margin-top: 27px;}
.section03 .evt_item + .evt_item { margin-top: 16px; padding-top: 12px; border-top: 1px solid rgba(255, 255, 255, .2);}
.section03 .evt_item .ttl_box .ttl_num { display: inline-block; width: 75px; border: 2px solid #fff; border-radius: 15px; padding: 3px; font-weight: 700; font-size: 16px; line-height: 1.125; color: #fff; box-shadow: inset 4px 4px 5px rgba(0, 23, 116), 4px 4px 5px rgba(0, 23, 116);}
.section03 .evt_item .ttl_box .ttl { display: block; margin-top: 10px; font-size: 18px; line-height: 1.1; color: #ffeaa9;}
.section03 .cnt_area .img_box { margin-top: 5px; margin-bottom: 12px; text-align: center; vertical-align: middle}
.section03 .cnt_area .evt_item:nth-child(1) .img_box .img { height: 42px;}
.section03 .cnt_area .evt_item:nth-child(2) .img_box .img { height: 64px;}
.section03 .cnt_area .evt_item:nth-child(3) .img_box .img { height: 23px;}
.section03 .cnt_area .evt_item:nth-child(4) .img_box .img { height: 64px;}
.section03 .dashed_list { padding: 0 7px;}
.section03 .img_box { border-radius: 8px; width: 100%; padding: 8px 12px; background-color: rgba(0, 0, 0, .4);}
.section03 .desc { font-size: 12px;}
.section03 .ref_list { padding: 0 7px; font-size: 0;}
.section03 .ref_list.caution { margin-top: 8px;}
.section03 .ref_list.caution .ref { padding-left: 10px; font-size: 10px; color: #a3ceff; line-height: 1.3;}
.section03 .ref_list.caution .ref::before { content: '(!)';}
.section03 .ref.type2 { padding-left: 10px; font-size: 12px; color: rgba(255, 255, 255, .8);}

.section04 { margin-top: -45px;}
.section04::before { content: ''; display: block; position: absolute; top: -100px; bottom: 0; left: 0; width: 100%; height: 320px;background: rgb(152,206,254); background: linear-gradient(0deg, rgba(152,206,254, 1) 55%, rgba(152,206,254,0) 100%);}
.section04 .inner { position: relative; z-index: 10; padding: 0;}
.section04 .ttl_box .ttl { position: relative; z-index: 100;}
.section04 > .ttl_box .ttl::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 194px; height: 57px; background: url('../images/app/img_section04_ttl.png') no-repeat center center / 100% auto; transform: translate(-50%, -50%); z-index: -1;}
.section04 .cnt_area.type2 { background-color: rgb(152,206,254);}
.section04 .card_list { display: flex; gap: 15px; margin-top: 35px; padding: 0 20px;}
.section04 .card_item { text-align: center;}
.section04 .card_txt .img { height: 17px;}
.section04 .card_img { margin-top: 12px;}
.section04 .card_img .card { border-radius: 10px; box-shadow: 5px 5px 13px rgba(0, 0, 0, .2);}

.card_rcmd_area { text-align: center;}
.card_rcmd_area .card_rcmd_ttl .img { height: 75px;}
.card_rcmd_area .card_rcmd_list { margin-top: 20px;}
.card_rcmd_area .card_rcmd_item + .card_rcmd_item { margin-top: 16px;}
.card_rcmd_area .card_rcmd_item .img { height: 195px;}

.section05 { padding-top: 45px; padding-bottom: 90px; background-color: rgb(152,206,254);}
.section05 .cnt_area { padding: 45px 25px; background-color: rgba(255, 255, 255, .8);}
.section05 .ico_box .ico { position: absolute; top: 45px; left: 50%; width: 40px; height: 60px; background-image: url('../images/app/img_rwd_01.png'); transform: translate(-50%, -50%);}
.section05 .ttl_box { text-align: left;}
.section05 .ttl_box .ttl .img { height: 48px;}
.section05 .ttl_box .btn_toggle { position: absolute; right: 0; bottom: 0;}
.section05 .desc_box { margin-top: 25px;}
.section05 .desc_box .sub_ttl { text-align: center; font-weight: 700; font-size: 13px; color: #3a4eaa;}
.section05 .dashed_list { margin-top: 13px;}
.section05 .dot,
.section05 .dashed { font-weight: 500; font-size: 10px;}

.footer { padding: 60px 27px 110px; background-color: #2f52b0; color: #fff;}
.caution + .caution { margin-top: 30px; padding-top: 38px; border-top: 1px solid rgba(255, 255, 255, .4);}
.caution .ttl { font-weight: 900; font-size: 16px; text-align: center;}
.caution .caution_list { margin-top: 18px; font-size: 0;}
.caution .dashed { font-size: 10px;}