/*color*/
$color-white: #fff;
$color-blue: #175e9e;
$color-blue2: #457eb1;
$color-blue3: #749ec5;
$color-blue4: #a2bfd8;
$color-blue5: #d1dfec;
$color-blue6: #e7eff5;
$color-blue7: #f6f9fb;
$color-red: #cd121d;
$color-red2: #d7414a;
$color-red3: #e17177;
$color-red4: #eba0a5;
$color-red5: #f5d0d2;
$color-red6: #fae7e8;
$color-red7: #fdf6f6;
$color-yellow: #FEE500;
$color-green: #03C75A;
$color-gray: #373737;
$color-gray2: #6d6d6d;
$color-gray3: #7B7B7B;
$color-gray4: #bcbcbc;
$color-gray5: #e2e2e2;
$color-gray6: #f9f9f9;
$color-black: #000;
$color-black2: #121212;

/*font-size*/
$font-small : 14px;
$font-normal: 16px;
$font-medium : 24px;
$font-large : 32px;
$font-xl : 48px;
$font-xxl : 56px;