.btn {
    flex-wrap: wrap;
    width: 100%;
    padding: 9px;
    border: 1px solid transparent;
    background-color: transparent;
    font-weight: 700;
    font-size: $font-normal + 2;
    color: $color-white;
    vertical-align: middle;
    line-height: 1.5;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    user-select: none;
    word-wrap: anywhere;
    @include inline-flex();

    /* s: Block */
    &-social {
        padding: 15px;
        font-weight: 500;
        font-size: $font-small;

        &__txt {
            gap: 6px;
            @include flex();
            &::before {
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% auto;
                @include pseudo(inline-block,null);
            }
        }
    }

    &-wrap {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 80px;
        gap: 8px;
        @include flex();
    }
    /* e: Block */

    /* s: Modified */
    &--primary {
        background-color: $color-blue3;
    }
    
    &--secondary {
        background-color: $color-gray4;
    }

    &--success,
    &--active {
        background-color: $color-blue;
    }

    &:disabled {
        background-color: $color-gray3;
        cursor: not-allowed;
    }

    &--dark {
        background-color: $color-black2;
    }

    &--hamburger {
        width: 40px;
        height: 40px;
        background: url('../images/icons/ico_hamburger.svg') no-repeat center center / 100% auto;
        @at-root .header.on & {
            background-image: url('../images/icons/ico_close.svg');
            background-size: 20px 20px;
        }
    }

    &--kakao {
        background-color: $color-yellow;
        color: $color-black;
    }

    &__txt--kakao::before {
        width: 20px;
        background-image: url('../images/icons/ico_kakao.svg');
    }

    &--chk-id {
        max-width: 138px;
    }

    &--sm {
        max-width: 100px;
    }

    &--underline {
        display: inline;
        padding: 0;
        padding-top: 24px;
        font-weight: 500;
        color: $color-black2;
        text-align: initial;
        text-decoration: underline;
        text-underline-offset: 3px;
    }
    /* e: Modified */
}

@include media-down(tab) {
    .btn {
        padding: 8px;
        font-size: $font-small;
    
        /* s: Block */
        &-social {
            padding: 12px;
            font-size: $font-small - 2;
    
            &__txt {
                gap: 4px;
                &::before {
                    width: 14px;
                    height: 14px;
                }
            }
        }
            
        &-wrap {
            margin-top: 64px;
            gap: 6px;
        }
        /* e: Block */
    
        /* s: Modified */
        &--hamburger {
            width: 32px;
            height: 32px;
            @at-root .header.on & {
                background-size: 16px 16px;
            }
        }

        &__txt--kakao::before {
            width: 16px;
        }

        &--chk-id {
            max-width: 100%;
        }

        &--underline {
            padding-top: 20px;
            font-size: $font-small - 2;
        }
        /* e: Modified */
    }
}