:root {
    /* gnb width */
    --gnb-mobile-width: 40%;
    /* header height */
    --header-height: 100px;
    /* header color */
    --header-bg-color: #fff;
}

.type1 > div { position: relative; height: var(--header-height); overflow: hidden; background-color: #ccc; transition: all .3s ease-out;}
.type1 .depth1_list { display: flex; justify-content: center; align-items: center; gap: 20px; height: var(--header-height);}
.type1 .depth1_list > li { display: flex; align-items: center;}
.type1 .depth1_list > li > a { font-weight: bold; color: #666; transition: color .4s;}
.type1 .depth1_list > li > a:hover { color: #000;}
.type1 .depth2_list { display: none; position: absolute; top: var(--header-height); left: 0; right: 0; padding: 30px 50px;}
.type1 .depth2_list > ul { display: flex; flex-wrap: wrap; gap: 20px;}
.type1 .depth3_list > li { padding: 10px 0;}

.type2 > div { position: relative; height: var(--header-height);}
.type2 .depth1_list { display: flex; justify-content: center; align-items: center; width: fit-content; margin: 0 auto;}
.type2 .depth1_list > li { position: relative; height: var(--header-height); padding: 0 20px; line-height: var(--header-height); text-align: center;}
.type2 .gnb_depth2_wrapper { display: none; background-color: #ccc;}
.type2 .gnb_depth2_wrapper .inner { display: flex; justify-content: center; width: 100%; padding: 10px 0;}
.type2 .depth2_list li { padding: 10px 20px;} 

.type3 .depth1_list { display: flex; justify-content: center; align-items: center; gap: 0 30px;}
.type3 .depth1_list > li { position: relative; width: 180px; height: var(--header-height); line-height: var(--header-height); text-align: center;}
.type3 .depth2_list { display: none; position: absolute; left: 50%; width: 100%; padding: 10px; border-radius: 10px; background-color: #ccc; transform: translateX(-50%);}
.type3 .depth2_list > ul > li { padding: 10px 0;}

/* 
#header { display: flex; align-items: center; position: relative; width: 100%; height: var(--header-height); border-bottom: 1px solid #ccc; background-color: var(--header-bg-color);}
#header .gnb_overlay_bg { display: none; position: absolute; top: var(--header-height); left: 0; width: 100%; background-color: var(--header-bg-color); box-shadow: 0 3px 5px rgba(0, 0, 0, .15);}
#gnb .gnb_inner > ul { display: flex;}
#gnb .gnb_inner > ul > li { position: relative;}
#gnb.total_menu .gnb_inner > ul > li::before { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background-color: blue; transform: scaleX(0); transition: transform .4s;}
#gnb.total_menu .gnb_inner > ul > li.active::before { transform: scaleX(1);}
#gnb .gnb_inner > ul > li > a { display: inline-block; line-height: var(--header-height); padding: 0 30px;}
#gnb .gnb_inner > ul > li.active > a { color: blue;}
#gnb .gnb_inner > ul > li > .depth2_area { display: none; position: absolute; top: var(--header-height); left: 0; right: 0; width: 100%; padding: 10px; overflow: hidden; text-align: center;}
#gnb.each_menu .gnb_inner > ul > li > .depth2_area { padding: 40px 0 0;}
#gnb.each_menu .gnb_inner > ul > li.active > .depth2_area { display: block;}
#gnb.each_menu .gnb_inner > ul > li > .depth2_area > ul { padding: 10px; background-color: #ccc; border-radius: 10px;}
#gnb.total_menu .gnb_inner > ul > li > .depth2_area::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: blue; opacity: 0; transition: opacity .4s;}
#gnb.total_menu .gnb_inner > ul > li.active > .depth2_area::before { opacity: .2;}
#gnb .gnb_inner > ul > li > .depth2_area > ul > li { padding: 10px;}

.menu_open { position: relative; width: 16px; height: 16px; margin-left: auto; z-index: 1000; background-color: red;}
.gnb_mob_open .menu_open { background-color: blue;}

#gnbM { display: none; position: fixed; top: 0; left: 0; height: 100%; overflow-y: auto; background-color: var(--header-bg-color); box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);}
#gnbM.gnb_slide { left: unset; right: 0; width: var(--gnb-mobile-width); padding: 40px;}
#gnbM.gnb_full { width: 100%; padding: 40px; text-align: center;}
#gnbM > ul > li + li { padding: 10px 0 0;}
#gnbM .depth2_area { display: none; padding: 10px;}
#gnbM .depth2_area > ul > li { padding: 10px 0;} */