<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>

    <link rel="stylesheet" href="../frontLayer/css/package.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- 모바일 터치 인식. jquery-ui 다음 위치 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="../frontLayer/js/fn.js"></script>
    <script src="../frontLayer/js/common02.js"></script>
    <script src="../frontLayer/js/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/Draggable.min.js"></script>

    <style>
        .wrap { width: 100%; max-width: 1200px; margin: 0 auto; padding: 20px;}
        
        .draggable_section { position: relative; height: 600px; padding-top: 50px; background-color: #ccc; overflow: hidden;}
        .snap_box { position: absolute; top: 0; left: 0; width: 100%; pointer-events: none;}
        .draggable .box { position: absolute; width: 100%; height: 100dvh; padding: 50px 20px; background-color: khaki;}
        .draggable .draggable_btn { position: absolute; top: 10px; left: calc(50% - 50px); width: 100px; height: 10px; padding: 0; border-radius: 10px; background-color: #000; opacity: 0.5;}
    </style>
</head>
<body>
    <div class="wrap">

        <div class="accordion">
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse01">accordion_header01</button>
                </h2>
                <div id="collapse01" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse02">accordion_header02</button>
                </h2>
                <div id="collapse02" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse03">accordion_header03</button>
                </h2>
                <div id="collapse03" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <select name="" id="">
            <option value="">1</option>
            <option value="">6</option>
            <option value="">5</option>
            <option value="">4</option>
            <option value="">3</option>
            <option value="">2</option>
        </select>

        <div class="form_select">
            <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
            
            <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                <ul class="option_list" role="listbox">
                    <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                </ul>
            </div>
        </div>
        <br>

        <div class="form_select">
            <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
            
            <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                <ul class="option_list" role="listbox">
                    <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">select02 - option01</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option02</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option03</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option04</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option05</button></li>
                </ul>
            </div>
        </div>
        
        <br>
        <div class="section">
            <div class="content">

                <button type="button" class="btn btn_primary modal_toggle" onclick="ProjectName.modal.openModal($('#modalTest01'))">모달 열기1</button>
                <br/>
                <br/>
                
                <div class="modal modal_close" id="modalTest01">
                    <div class="modal_centered" tabindex="0">
                        <div class="modal_box">
                            <button type="button" class="btn_modal_close close">
                                <span class="blind">닫기</span>
                            </button>
                            <div style="height: 100vh;"></div>
                            modalTest02
                            <br/>
                            <br/>
                            <div class="form_select">
                                <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
                                
                                <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                                    <ul class="option_list" role="listbox">
                                        <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn_wrap">
                                <button type="button" class="btn btn_primary close">확인</button>
                                <button type="button" class="btn btn_secondary close">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="section">
            <div class="content">

                <button type="button" class="btn btn_primary modal_toggle" onclick="ProjectName.modal.openModal($('#modalTest02'))">컨턴츠가 넘칠때 모달 열기2</button>
                <br/>
                <br/>
                
                <div class="modal modal_close" id="modalTest02">
                    <div class="modal_centered" tabindex="0">
                        <div class="modal_box">
                            <button type="button" class="btn_modal_close close">
                                <span class="blind">닫기</span>
                            </button>
                            <div style="height: 100vh;"></div>
                            modalTest02
                            <br/>
                            <br/>
                            <div class="form_select">
                                <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
                                
                                <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                                    <ul class="option_list" role="listbox">
                                        <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="height: 100vh;"></div>
                            
                            <div class="btn_wrap">
                                <button type="button" class="btn btn_primary close">확인</button>
                                <button type="button" class="btn btn_secondary close">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="success" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="fail" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="error" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        
        <div class="section draggable_section">
            <div class="snap_box"></div>
            <div class="draggable">
                <div class="box">
                    <div class="draggable_btn"></div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quam ea molestias distinctio nulla veritatis earum, quos nam consequatur autem nostrum id eligendi repudiandae sit architecto nisi eum. Nobis, similique?</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>