<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>

    <link rel="stylesheet" href="../frontLayer/css/package.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- 모바일 터치 인식. jquery-ui 다음 위치 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="../frontLayer/js/fn.js"></script>
    <script src="../frontLayer/js/common02.js"></script>
    <script src="../frontLayer/js/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/Draggable.min.js"></script>

    <style>
        .wrap { width: 1200px; margin: 0 auto; padding: 20px;}
        
        .draggable_section { position: relative; height: 600px; padding-top: 50px; background-color: #ccc; overflow: hidden;}
        .snap_box { position: absolute; top: 0; left: 0; width: 100%; pointer-events: none;}
        /*.draggable { height: 150px; padding-top: 50px; top: calc(100% - 150px);} */
        /* .draggable.top { transform: translate3d(0, -50px, 0) !important;} */
        .draggable .box { position: absolute; width: 100%; height: 100dvh; padding: 50px 20px; background-color: khaki;}
        .draggable .draggable_btn { position: absolute; top: 10px; left: calc(50% - 50px); width: 100px; height: 10px; padding: 0; border-radius: 10px; background-color: #000; opacity: 0.5;}
    </style>
</head>
<body>
    <div class="wrap">

        <div class="accordion">
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse01">accordion_header01</button>
                </h2>
                <div id="collapse01" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse02">accordion_header02</button>
                </h2>
                <div id="collapse02" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
            <div class="accordion_item">
                <h2 class="accordion_header">
                    <button class="accordion_btn collapsed" type="button" aria-expanded="false" aria-controls="collapse03">accordion_header03</button>
                </h2>
                <div id="collapse03" class="accordion_collapse">
                    <div class="accordion_body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, odit.
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="form_select">
            <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
            
            <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                <ul class="option_list" role="listbox">
                    <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                </ul>
            </div>
        </div>
        <br>

        <div class="form_select">
            <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
            
            <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                <ul class="option_list" role="listbox">
                    <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">select02 - option01</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option02</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option03</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option04</button></li>
                    <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">select02 - option05</button></li>
                </ul>
            </div>
        </div>
        
        <br>
        <div class="section">
            <div class="content">

                <button type="button" class="btn btn_primary modal_toggle" onclick="ProjectName.modal.openModal($('#modalTest01'))">모달 열기1</button>
                <br/>
                <br/>
                
                <div class="modal modal_close" id="modalTest01">
                    <div class="modal_centered" tabindex="0">
                        <div class="modal_box">
                            <button type="button" class="btn_modal_close close">
                                <span class="blind">닫기</span>
                            </button>
                            <div style="height: 100vh;"></div>
                            modalTest02
                            <br/>
                            <br/>
                            <div class="form_select">
                                <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
                                
                                <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                                    <ul class="option_list" role="listbox">
                                        <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn_wrap">
                                <button type="button" class="btn btn_primary close">확인</button>
                                <button type="button" class="btn btn_secondary close">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="section">
            <div class="content">

                <button type="button" class="btn btn_primary modal_toggle" onclick="ProjectName.modal.openModal($('#modalTest02'))">컨턴츠가 넘칠때 모달 열기2</button>
                <br/>
                <br/>
                
                <div class="modal modal_close" id="modalTest02">
                    <div class="modal_centered" tabindex="0">
                        <div class="modal_box">
                            <button type="button" class="btn_modal_close close">
                                <span class="blind">닫기</span>
                            </button>
                            <div style="height: 100vh;"></div>
                            modalTest02
                            <br/>
                            <br/>
                            <div class="form_select">
                                <button type="button" id="menu-button" class="form_btn" aria-expanded="false" aria-haspopup="true" aria-controls="menu-list">select box</button>
                                
                                <div id="menu-list" class="option_area" role="list" aria-orientation="vertical" aria-labelledby="menu-button">
                                    <ul class="option_list" role="listbox">
                                        <li class="option_item selected" role="option" aria-selected="true"><button class="option_btn" type="button">option01</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option02</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option03</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option04</button></li>
                                        <li class="option_item" role="option" aria-selected="false"><button class="option_btn" type="button">option05</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="height: 100vh;"></div>
                            
                            <div class="btn_wrap">
                                <button type="button" class="btn btn_primary close">확인</button>
                                <button type="button" class="btn btn_secondary close">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="success" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="fail" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <div class="alert_placeholder"></div>
        <button type="button" data-type="error" class="btn btn_primary alert_btn">alert btn</button>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        
        <div class="section draggable_section">
            <div class="snap_box"></div>
            <div class="draggable">
                <div class="box">
                    <div class="draggable_btn"></div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quam ea molestias distinctio nulla veritatis earum, quos nam consequatur autem nostrum id eligendi repudiandae sit architecto nisi eum. Nobis, similique?</p>
                </div>
            </div>
        </div>

    </div>

    <!-- <script>
        const container = $(".draggable_section");
        const dragItem = $(".draggable");
        const dragHandle = $('.draggable_btn');
        dragItem.draggable({ 
            containment: 'parent',
            handle: dragHandle,
        })
    </script>

    <script>
        const accordion = $('.accordion');
        const accordionBtn = accordion.find('.accordion_btn');
        const accordionFunc = {
            init: () => {
                accordionBtn.on('click', accordionFunc.handleCollapse);
            },
            handleCollapse: (e) => {
                let t = e.currentTarget;
                let isExpanded = $(t).attr('aria-expanded');
                let accordionCollapse = $(t).closest('.accordion_item').find('.accordion_collapse');
                
                if (fn.hasClass(t, 'collapsed')) {
                    // 이전 열린 영역 닫기
                    $(t).closest('.accordion_item').siblings().find('.accordion_btn').addClass('collapsed').attr('aria-expanded', false);
                    $(t).closest('.accordion_item').siblings().find('.accordion_collapse').stop().slideUp(150).removeClass('show');
                    // 오픈
                    $(t).removeClass('collapsed').attr('aria-expanded', true).focus();
                    accordionCollapse.stop().slideDown(150).addClass('show');
                } else {
                    // 닫기
                    $(t).addClass('collapsed').attr('aria-expanded', false).blur();
                    accordionCollapse.stop().slideUp(150).removeClass('show');
                }
            }
        }
        fn.exists('.accordion') && accordionFunc.init();
    </script>

    <script>
        const selectBox = $('.form_select');
        let lastSelected;
        let selectBtn = selectBox.find('.form_btn');
        let optionArea = selectBox.find('.option_area');
        let optionItem = selectBox.find('.option_item');
        const optionBtn = optionArea.find('.option_btn');
        const select = {
            init: () => {
                selectBox.each((i, t) => {
                    let optionItem = $(t).find('.option_item');
                    let optionArea = $(t).find('.option_area');
                    let tParents = $(t).parents();

                    select.handleBtnText(optionItem[0]); // 초기값
                    // 부모 요소에 스크롤 이벤트 발생 시
                    if (tParents.css('overflow') === 'visible' || tParents.css('overflow') === 'auto') {
                        tParents.on('scroll', function() { setTimeout(() => fn.hasClass(optionArea, 'show') && select.initBeforeSelect(optionItem), 100); })
                    }
                })
                selectBtn.on('click', function() {
                    let t = this;
                    let windowHt = $(window).outerHeight() + $(window).scrollTop(); // 화면 하단 높이
                    let posSelectBtn = $(t).outerHeight() + $(t).offset().top; // select 버튼 하단 높이
                    let selectBtnHt = $(t).outerHeight();
                    let gap = windowHt - posSelectBtn;
                    let optionArea = $(t).closest('.form_select').find('.option_area');
                    let optionItem = $(t).closest('.form_select').find('.option_item');
                    let optionAreaHt = optionArea.outerHeight();

                    if (!fn.hasClass(optionArea, 'show')) {
                        selectBtn.attr('aria-expanded', false);
                        $('.option_area').removeClass('show');

                        // option 열기
                        $(t).attr('aria-expanded', true);
                        if (gap < optionAreaHt) { // 화면과 select 하단의 차이가 optionArea 높이보다 작다면
                            optionArea.addClass('top');
                            optionArea.addClass('show').css('top', -optionAreaHt);
                        } else {
                            optionArea.removeClass('top');
                            optionArea.addClass('show').css('top', selectBtnHt);
                        }
                        lastSelected = optionItem.filter((idx, item) => fn.hasClass(item, 'selected') && item);
                        return lastSelected; // tracking selected item to opening option
                    } else {
                        select.closeOption();
                    }
                });

                selectBtn.on('keydown', (e) => {
                    let t = e.currentTarget;
                    let optionItem = $(t).closest('.form_select').find('.option_item');
                    let activeItem = $(t).closest('.form_select').find('.selected');
                    let activeIdx = activeItem.index();

                    if (e.keyCode === 38) {
                        // up
                        e.preventDefault();
                        if (activeIdx <= 0) return;
                        select.handleSelectOption(optionItem, optionItem.eq(activeIdx - 1));
                        select.handleBtnText(optionItem.eq(activeIdx - 1));
                    } else if (e.keyCode === 40) {
                        // down
                        e.preventDefault();
                        if (activeIdx >= optionItem.length - 1) return;
                        select.handleSelectOption(optionItem, optionItem.eq(activeIdx + 1));
                        select.handleBtnText(optionItem.eq(activeIdx + 1));
                    } else if (e.keyCode === 9 || e.keyCode === 27) {
                        // escape
                        fn.hasClass(optionArea, 'show') && select.initBeforeSelect(optionItem);
                    }
                });

                optionBtn.on('click', function() {
                    let t = this;
                    let optionItem = $(t).closest('.option_item');
                    let selectBtn = $(t).closest('.form_select').find('.form_btn');

                    select.closeOption();
                    select.handleSelectOption(optionItem.siblings(), optionItem);
                    select.handleBtnText(optionItem);
                });

                $(window).on('scroll', function(e) {
                    let optionArea = $(e.target).find('.option_area');

                    if (fn.hasClass(optionArea, 'show')) select.initBeforeSelect(optionItem);
                });
                
                $(window).on('click touchmove', function(e) { !$(e.target).closest('.form_select').length && select.closeOption(); })
            },
            handleBtnText: (t) => {
                let selectedText = $(t).find('button').text();
                let selectBtn = $(t).closest('.form_select').find('.form_btn');
                
                selectBtn.text(selectedText);
            },
            handleSelectOption: (initObj, activeObj) => {
                $(initObj).removeClass('selected').attr('aria-selected', false);
                $(activeObj).addClass('selected').attr('aria-selected', true);
            },
            closeOption: () => {
                selectBtn.attr('aria-expanded', false);
                optionArea.removeClass('show top');
            },
            initBeforeSelect: (t) => {
                select.closeOption();
                $(t).removeClass('selected').attr('aria-selected', false);
                lastSelected.addClass('selected').attr('aria-selected', true);
                select.handleBtnText(lastSelected);
            },
        }
        fn.exists('.form_select') && select.init();
        // /**
        //  * select 버튼 텍스트
        //  * params : t (optionItem)
        // */
        // function handleBtnText(t) {
        //     let selectedText = $(t).find('button').text();
        //     let selectBtn = $(t).closest('.form_select').find('.form_btn');
            
        //     selectBtn.text(selectedText);
        // }

        // /**
        //  * option 선택 시 클래스, 속성 부여
        //  * params : initObj (optionItem)
        //  * params : activeObj (optionItem of target)
        // */
        // function handleSelectOption(initObj, activeObj) {
        //     $(initObj).removeClass('selected').attr('aria-selected', false);
        //     $(activeObj).addClass('selected').attr('aria-selected', true);
        // }

        // // option area 닫기
        // function closeOption() {
        //     selectBtn.attr('aria-expanded', false);
        //     optionArea.removeClass('show top');
        // }

        // /**
        //  * option 선택 전 다른 이벤트 발생 시 닫기, 클래스, 속성 부여
        //  * params : t (optionItem);
        // */
        // function initBeforeSelect(t) {
        //     closeOption();
        //     $(t).removeClass('selected').attr('aria-selected', false);
        //     lastSelected.addClass('selected').attr('aria-selected', true);
        //     handleBtnText(lastSelected);
        // }

        // selectBox.each((i, t) => {
        //     let optionItem = $(t).find('.option_item');
        //     let optionArea = $(t).find('.option_area');
        //     let tParents = $(t).parents();

        //     handleBtnText(optionItem[0]); // 초기값
        //     // 부모 요소에 스크롤 이벤트 발생 시
        //     if (tParents.css('overflow') === 'visible' || tParents.css('overflow') === 'auto') {
        //         tParents.on('scroll', function() { setTimeout(() => fn.hasClass(optionArea, 'show') && initBeforeSelect(optionItem), 100); })
        //     }
        // })

        // selectBtn.on('click', function() {
        //     let t = this;
        //     let selectBtnHt = $(t).outerHeight();
        //     let selectBtnTop = $(t).offset().top;
        //     let selectBtnBottom = $(window).innerHeight() - ($(t).offset().top + $(t).outerHeight());
        //     let optionArea = $(t).closest('.form_select').find('.option_area');
        //     let optionItem = $(t).closest('.form_select').find('.option_item');
        //     let optionAreaHt = optionArea.outerHeight();
            
        //     if (!fn.hasClass(optionArea, 'show')) {
        //         selectBtn.attr('aria-expanded', false);
        //         $('.option_area').removeClass('show');

        //         // option 열기
        //         $(t).attr('aria-expanded', true);
        //         if (selectBtnBottom < optionAreaHt) {
        //             optionArea.addClass('top');
        //             optionArea.addClass('show').css('top', -optionAreaHt);
        //         } else {
        //             optionArea.removeClass('top');
        //             optionArea.addClass('show').css('top', selectBtnHt);
        //         }
        //         lastSelected = optionItem.filter((idx, item) => fn.hasClass(item, 'selected') && item);
        //         return lastSelected; // tracking selected item to opening option
        //     } else {
        //         closeOption();
        //     }
        // });

        // selectBtn.on('keydown', (e) => {
        //     let t = e.currentTarget;
        //     let optionItem = $(t).closest('.form_select').find('.option_item');
        //     let activeItem = $(t).closest('.form_select').find('.selected');
        //     let activeIdx = activeItem.index();

        //     if (e.keyCode === 38) {
        //         // up
        //         e.preventDefault();
        //         if (activeIdx <= 0) return;
        //         handleSelectOption(optionItem, optionItem.eq(activeIdx - 1));
        //         handleBtnText(optionItem.eq(activeIdx - 1));
        //     } else if (e.keyCode === 40) {
        //         // down
        //         e.preventDefault();
        //         if (activeIdx >= optionItem.length - 1) return;
        //         handleSelectOption(optionItem, optionItem.eq(activeIdx + 1));
        //         handleBtnText(optionItem.eq(activeIdx + 1));
        //     } else if (e.keyCode === 9 || e.keyCode === 27) {
        //         // escape
        //         fn.hasClass(optionArea, 'show') && initBeforeSelect(optionItem);
        //     }
        // });

        // optionBtn.on('click', function() {
        //     let t = this;
        //     let optionItem = $(t).closest('.option_item');
        //     let selectBtn = $(t).closest('.form_select').find('.form_btn');

        //     closeOption();
        //     handleSelectOption(optionItem.siblings(), optionItem);
        //     handleBtnText(optionItem);
        // });

        // $(window).on('scroll', function(e) {
        //     let optionArea = $(e.target).find('.option_area');

        //     if (fn.hasClass(optionArea, 'show')) initBeforeSelect(optionItem);
        // });
        // $(window).on('click', function(e) { !$(e.target).closest('.form_select').length && closeOption(); })
    </script>

    <script>
        const alertBtn = $('.alert_btn');
        let closeAlertBtn = $('.alert_placeholder').find('.btn_close');
        let alertPlaceholder = $('.alert_placeholder');
        const alert = {
            init: () => {
                fn.exists(alertPlaceholder) && alertBtn.on('click', (e) => alert.appendAlert($(e.currentTarget).data('type'), e));
            },
            appendAlert: (type, evt) => {
                let t = evt.currentTarget;
                let alertPlaceholder = $(t).prev();
                let mes;
                switch (type) {
                    case 'success': mes = 'sucess'; break;
                    case 'fail': mes = 'fail'; break;
                    case 'error': mes = 'error'; break;
                };
                const wrapper = `
                <div class="alert alert-${type}" role="alert">
                    <div>${mes}</div>
                    <button type="button" class="btn_close" aria-label="Close"></button>
                </div>`;
                alertPlaceholder.html(wrapper);
                closeAlertBtn = alertPlaceholder.find('.btn_close');
                closeAlertBtn.focus();
                fn.exists(alertPlaceholder) && closeAlertBtn.on('click', alert.closeAlert);
            },
            closeAlert: (evt) => {
                let t = evt.currentTarget;
                let alertPlaceholder = $(t).closest('.alert_placeholder');
                let beforeFocusedElement = $(t).closest('.alert_placeholder').next();

                $(beforeFocusedElement).focus();
                alertPlaceholder.html('');
            },
        }
        fn.exists('.alert_btn') && alert.init();
    </script>
    
    <script>
        const modal = {
            init: ($modalButton) => {
                $modalButton.on('click', function() {
                    let $modal = $($(this).data('target'));
                    modal.openModal($modal);
                })
            },
            openModal: ($modal) => {
                let $modalCloseButton = $('.modal .close');

                fn.addHidden();
                $modal.addClass('active').removeClass('modal_close');
                $modal.on('click',function(e){
                    if ($(e.target).closest('.modal_box').length < 1 && $('.modal.active').attr('data-dim-click') !== 'false') {
                        modal.closeModal($modal);
                    }
                });
                $modalCloseButton.on('click', () => modal.closeModal($modal));
                $modal.on('keydown', (e) => trapTabKey(e));

                var focusableElements = $modal.find(':focusable'),
                    firstTabStop = focusableElements[0],
                    lastTabStop = focusableElements[focusableElements.length - 1];

                firstTabStop.focus();

                function trapTabKey(e) {
                    if (e.keyCode === 9) {
                        if (e.shiftKey) {
                            if (document.activeElement === firstTabStop) {
                                e.preventDefault();
                                lastTabStop.focus();
                            }
                        } else {
                            if (document.activeElement === lastTabStop) {
                                e.preventDefault();
                                firstTabStop.focus();
                            }
                        }
                    }
                    if (e.keyCode === 27) {
                        modal.closeModal($modal);
                    }
                }
            },
            closeModal: ($modal) => {
                fn.removeHidden();
                $modal.off('scroll');
                $modal.addClass('modal_close').removeClass('active');
            },
        }
        modal.init($('.modal_toggle'));

    </script> -->
</body>
</html>