<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiper vertical</title>
    <link rel="stylesheet" href="../frontLayer/css/common.css">
    <link rel="stylesheet" href="../frontLayer/css/package.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../frontLayer/js/fn.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>

    <style>
        .motion_panel { display: flex; justify-content: center; align-items: center;}
        .motion_panel_01 { height: 100vh; background-color: beige;}
        .motion_panel_02 { position: relative; height: 300vh;}
        .motion_panel_02 .ttl { position: absolute; top: 100vh; left: 50%; transform: translateX(-50%);}
        .swiper .swiper-slide { width: 300px; height: 500px; background-color: cadetblue;}
    </style>
</head>
<body>
    <div class="wrap">
        <main class="main">

            <section class="motion_panel motion_panel_01">
                <h1 class="ttl">1</h1>
            </section>
            
            <section class="motion_panel motion_panel_02">
                <h1 class="ttl">2</h1>

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">1</div>
                        <div class="swiper-slide">2</div>
                        <div class="swiper-slide">3</div>
                        <div class="swiper-slide">4</div>
                        <div class="swiper-slide">5</div>
                        <div class="swiper-slide">6</div>
                        <div class="swiper-slide">7</div>
                        <div class="swiper-slide">8</div>
                        <div class="swiper-slide">9</div>
                        <div class="swiper-slide">10</div>
                    </div>
                    <div class="swiper-controller">
                        <div class="pagination"></div>
                    </div>
                </div>
            </section>

        </main>
    </div>

    <script>
        const swiper = new Swiper('.swiper', {
            slidesPerView: 'auto',
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-controller .pagination',
                type: 'bullet'
            }
        })
    </script>

    <script>
        fn = {
            init: function () {
                fn.chkDevice();
                fn.ie();
            },
            chkDevice: function () {
                'use strict';
                if (/Android/i.test(navigator.userAgent)) {
                    $("html").removeClass("pc_device").addClass("mobile_device");
                    $("body").addClass("android_device");
                } else if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $("html").removeClass("pc_device").addClass("mobile_device");
                    $("body").addClass("ios_device");
                } else {
                    $("html").removeClass("mobile_device").addClass("pc_device");
                }
                $(window).resize(function () {
                    $("html").removeClass("pc-device");
                    if (/Android/i.test(navigator.userAgent)) {
                        $("html").removeClass("pc_device").addClass("mobile_device");
                        $("body").addClass("android_device");
                    } else if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                        $("html").removeClass("pc_device").addClass("mobile_device");
                        $("body").addClass("ios_device");
                    } else {
                        $("body").removeClass("ios_device android_device");
                        $("html").removeClass("mobile_device").addClass("pc_device");
                    }
                });
            },
            exists : function(target){
                return ($(target).length > 0);
            },
            ie: function () {
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 1);
                }
            },
            getScrollBarWidth : function(){
                if(!fn.exists('#fullpage')){
                    $('body').append('<div id="fakescrollbar" style="width:50px;height:50px;overflow:hidden;position:absolute;top:-200px;left:-200px;"></div>');
                    fakeScrollBar = $('#fakescrollbar');
                    fakeScrollBar.append('<div style="height:100px;">&nbsp;</div>');
                    var w1 = fakeScrollBar.find('div').innerWidth();
                    fakeScrollBar.css('overflow-y', 'scroll');
                    var w2 = $('#fakescrollbar').find('div').html('html is required to init new width.').innerWidth();
                    fakeScrollBar.remove();
                    return (w1-w2);
                }
                return 0;
            },
            getWindowWidth: function(){
                return $(window).outerWidth() + fn.getScrollBarWidth() ;
            },
            getWindowHeight: function(){
                return $(window).outerHeight();
            },
            getTargetWidth: function(target){
                return $(target).outerWidth() + fn.getScrollBarWidth() ;
            },
            getTargetHeight: function(target){
                return $(target).outerHeight();
            },
            getScrollTop: function(target){
                return $(target).scrollTop();
            },
            getOffsetTop: function(target){
                return $(target).offset().top;
            },
            getDate: function(date){
                let dayOfWeek = new Date(date).getDay();
                return dayOfWeek;
            },
            addHidden: function(){
                $('html, body').addClass("hidden");
                $('body').css("paddingRight", fn.getScrollBarWidth());
            },
            removeHidden: function(){
                $('html, body').removeClass("hidden");
                $('body').css("paddingRight",0);
            },
        }
    </script>

    <script>
    fn.chkDevice();
    function hasClass(obj, className) {
        return $(obj).hasClass(className);
    }

    let prot = true;
    // 휠 이벤트 제어
    const wheel = {
        stop() {
            let scroller = document.scrollingElement,
                overflow = scroller.style.overflowY;
                
            // 스크롤 이벤트 방지
            scroller.style.overflowY = 'hidden';
            // pc 스크롤 여부 레이아웃 깨짐 방지
            hasClass('body', 'pc_device') && (scroller.style.paddingRight = '16px');

            setTimeout(() => {
                overflow ? (scroller.style.overflowY = overflow) : scroller.style.removeProperty('overflow-y');
                hasClass('body', 'pc_device') && (scroller.style.paddingRight = 0);
            }, 1);

            window.addEventListener('wheel', wheel._prevent, { 
                /* useCapture 이벤트 버블링, 캡처링 여부 */
                passive: false, // preventDefault()가 있어도 실행 여부
                capture: true
            });
        },
        start() { window.removeEventListener('wheel', wheel._prevent, true); },
        _prevent: (e) => e.preventDefault(),
    };
    
    gsap.registerPlugin(ScrollTrigger);
    // 모바일 주소 표시줄 표시, 숨김 방지 ( 최신 버전 ios 예외 )
    ScrollTrigger.normalizeScroll(true);
    
    ScrollTrigger.create({
        trigger: '.motion_panel_01',
        start: 'top top',
        end: 'top+=10 top',
        onLeave: () => prot && goToSection('.motion_panel_02'),
    })

    ScrollTrigger.create({
        trigger: '.motion_panel_01',
        start: 'bottom top',
        end: 'bottom top',
        onEnterBack: () => prot && goToSection('.motion_panel_01'),
    })

    function goToSection(t) {
        setTimeout(() => {
            if(!prot) return;
            prot = false;
            wheel.stop();
            if (t === '.motion_panel_02') {
                if (hasClass('html', 'pc_device')) ScrollTrigger.normalizeScroll(false);
            } else {
                ScrollTrigger.normalizeScroll(true);
            }
            gsap.to(window, {duration:1, scrollTo: $(t).offset().top, overwrite: "auto", onComplete: () => {prot = true; wheel.start();}})
        }, 0);
    }
    </script>
</body>
</html>