<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
    <link rel="stylesheet" href="../frontLayer/css/common.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../frontLayer/js/fn.js"></script>
    <script src="../frontLayer/js/common.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d5af05f04d72f1f2699cac43f70412e"></script>
</head>
<body>
    <div class="map_wrapper" style="position: relative;">
        <div id="map" style="position: absolute;top: 0;left: 0;width:100%;padding-top: calc(800 / 1920 * 100%);"></div>
    </div>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(37.546, 127.09), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다 
        var positions = [
            {
                title: '카카오',
                latlng: new kakao.maps.LatLng(37.54699, 127.09598),
                imageSrc: "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png",
                imageSize: new kakao.maps.Size(32, 34.5)
            },
            {
                title: '생태연못',
                latlng: new kakao.maps.LatLng(37.55, 127.1),
                imageSrc: "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png",
                imageSize: new kakao.maps.Size(24, 35)
            },
            {
                title: '텃밭',
                latlng: new kakao.maps.LatLng(37.545, 127.08),
                imageSrc: 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png',
                imageSize: new kakao.maps.Size(32, 34.5)
            },
            {
                title: '근린공원',
                latlng: new kakao.maps.LatLng(37.546, 127.09),
                imageSrc: 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png',
                imageSize: new kakao.maps.Size(24, 35)
            }
        ];

        for (var i = 0; i < positions.length; i++) {
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(positions[i].imageSrc, positions[i].imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지 
            });
        }

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        var iwContent = `
        <div style="padding:5px; border-radius: 10px">
            Hello World! <br>
            <a href="https://map.kakao.com/link/map/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">큰지도보기</a>
            <a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a>
            <button type="button" class="btn_close_info" style="color:black">close</button>
        </div>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //인포윈도우 표시 위치입니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            position : iwPosition, 
            content : iwContent 
        });
        
        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
        infowindow.open(map, marker); 

        $(window).on('resize', function() {
            setTimeout(() => {
                var markerPosition = marker.getPosition();
                map.relayout();
                map.setCenter(markerPosition);
            }, 100);
        })

        kakao.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        })

        $('.btn_close_info').on('click', () => {
            infowindow.close(map, marker);
        })
    </script>
</body>
</html>