@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(../fonts/notokr-light.eot);
    src: url(../fonts/notokr-light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-light.woff2) format('woff2'),
    url(../fonts/notokr-light.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(../fonts/notokr-regular.eot);
    src: url(../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-regular.woff2) format('woff2'),
    url(../fonts/notokr-regular.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(../fonts/notokr-medium.eot);
    src: url(../fonts/notokr-medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-medium.woff2) format('woff2'),
    url(../fonts/notokr-medium.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/notokr-bold.eot);
    src: url(../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-bold.woff2) format('woff2'),
    url(../fonts/notokr-bold.woff) format('woff');
}

:root {
    --fn-white: #ffffff;
    --fn-red: #ff0000;
    --fn-blue: #4536cb;
    --fn-orange: #ff8800;
    --fn-aqua: #56dbff;
    --fn-skyblue: #14b5e1;
    --fn-green: #93c022;
    --fn-gray-11: #111111;
    --fn-gray-55: #555555;
    --fn-gray-79: #797979;
    --fn-gray-99: #999999;
    --fn-gray-aa: #aaaaaa;
    --fn-gray-cc: #cccccc;
    --fn-gray-ee: #eeeeee;
    --fn-gray-e4: #e4e4e4;
    --fn-gray-e8: #e8e8e8;
    --fn-gray-f4: #f4f4f4;
    --fn-gray-f8: #f8f8f8;
}

/* CSS Document */
*{padding:0;margin:0;-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-family: 'Noto Sans KR','맑은 고딕','sans-serif';font-size:14px;font-weight: 400;color:var(--fn-gray-11);letter-spacing:-0.025em;}
h1,h2,h3,h4,h5,h6,em,strong,li,dd,a,address{padding:0;margin:0;}
html{overflow-y:auto;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background:none;vertical-align:middle;appearance: none;-webkit-appearance: none;border-radius: 0;-webkit-border-radius: 0;}
img,fieldset,iframe {border:none;}
img{vertical-align:top;}
textarea{resize: vertical;}
select {appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;vertical-align:middle;border-radius: 0}
select::-ms-expand {display: none;}
input,textarea {appearance: none;-webkit-appearance: none;border-radius: 0;-webkit-border-radius: 0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;width:100%;}
table td {word-break: break-all;}
u {text-decoration:none;}
font{ font-weight: inherit; font-size: inherit; line-height: inherit; color: inherit;}
legend,caption {position: absolute;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;}
caption {position: static;color: transparent;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {display: block;margin: 0;}
audio,canvas,progress,video {display: inline-block;}
::-webkit-input-placeholder {font:14px 'Noto Sans KR', '맑은 고딕','sans-serif'; font-weight: 400; color: var(--fn-gray-aa);}
::-moz-placeholder {font:14px 'Noto Sans KR', '맑은 고딕', 'sans-serif'; font-weight: 400; color: var(--fn-gray-aa);}
:-ms-input-placeholder {font:14px 'Noto Sans KR', '맑은 고딕', 'sans-serif'; font-weight: 400; color: var(--fn-gray-aa);}
:-moz-placeholder {font:14px 'Noto Sans KR', '맑은 고딕', 'sans-serif'; font-weight: 400; color: var(--fn-gray-aa);}
input[type=reset],
input[type=button],
input[type=submit] {-webkit-appearance: button;-moz-appearance: button;appearance: button;}
input[type=search] {appearance: textfield; -webkit-appearance: textfield;}
input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {display: none;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}

::-webkit-scrollbar {width: 8px;height:8px;}
::-webkit-scrollbar-thumb {background-color: var(--fn-gray-cc);}
::-webkit-scrollbar-track {background-color: var(--fn-gray-ee);}

.f_inherit { font-family: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; color: inherit;}
.fw_100 { font-weight: 100 !important;}
.fw_200 { font-weight: 200 !important;}
.fw_300 { font-weight: 300 !important;}
.fw_400 { font-weight: 400 !important;}
.fw_500 { font-weight: 500 !important;}
.fw_600 { font-weight: 600 !important;}
.fw_700 { font-weight: 700 !important;}
.fw_800 { font-weight: 800 !important;}
.fw_900 { font-weight: 900 !important;}
.bg_transparent { background-color: transparent !important;}
.bg_white { background-color: var(--fn-white) !important;}
.color_black { color: var(--fn-gray-11) !important;}
.color_white { color: var(--fn-white) !important;}
.color_gray { color: var(--fn-gray-aa) !important;}
.color_red { color: var(--fn-red) !important;}
.color_blue { color: var(--fn-blue) !important;}
.color_skyblue { color: var(--fn-skyblue) !important;}
.color_orange { color: var(--fn-orange) !important;}

.z_9100 { z-index: 9100 !important;}
.z_9200 { z-index: 9200 !important;}

.m_auto { margin: auto !important;}
.m_0 { margin: 0 !important;}
.m_px_5 { margin: 5px !important;}
.m_px_10 { margin: 10px !important;}
.m_px_15 { margin: 15px !important;}
.m_px_20 { margin: 20px !important;}
.m_px_25 { margin: 25px !important;}

.ms_auto { margin-left: auto !important;}
.ms_0 { margin-left: 0 !important;}
.ms_px_n1 { margin-left: -1px !important;}
.ms_px_5 { margin-left: 5px !important;}
.ms_px_10 { margin-left: 10px !important;}
.ms_px_15 { margin-left: 15px !important;}
.ms_px_20 { margin-left: 20px !important;}
.ms_px_25 { margin-left: 25px !important;}
.me_auto { margin-right: auto !important;}
.me_0 { margin-right: 0 !important;}
.me_px_5 { margin-right: 5px !important;}
.me_px_10 { margin-right: 10px !important;}
.me_px_15 { margin-right: 15px !important;}
.me_px_20 { margin-right: 20px !important;}
.me_px_25 { margin-right: 25px !important;}
.mt_0 { margin-top: 0 !important;}
.mt_px_3 { margin-top: 3px !important;}
.mt_px_5 { margin-top: 5px !important;}
.mt_px_7 { margin-top: 7px !important;}
.mt_px_8 { margin-top: 8px !important;}
.mt_px_10 { margin-top: 10px !important;}
.mt_px_15 { margin-top: 15px !important;}
.mt_px_20 { margin-top: 20px !important;}
.mt_px_25 { margin-top: 25px !important;}
.mt_px_30 { margin-top: 30px !important;}
.mt_px_40 { margin-top: 40px !important;}
.mt_px_50 { margin-top: 50px !important;}
.mt_px_60 { margin-top: 60px !important;}
.mt_px_100 { margin-top: 100px !important;}
.mb_0 { margin-bottom: 0 !important;}
.mb_px_5 { margin-bottom: 5px !important;}
.mb_px_8 { margin-bottom: 8px !important;}
.mb_px_10 { margin-bottom: 10px !important;}
.mb_px_15 { margin-bottom: 15px !important;}
.mb_px_20 { margin-bottom: 20px !important;}
.mb_px_25 { margin-bottom: 25px !important;}

.mt_px_n5 { margin-top: -5px !important;}
.mt_px_n10 { margin-top: -10px !important;}
.mb_px_n5 { margin-bottom: -5px !important;}
.mb_px_n10 { margin-bottom: -10px !important;}

.mx_auto { margin-left: auto !important; margin-right: auto !important;}
.mx_0 { margin-left: 0 !important; margin-right: 0 !important;}
.mx_px_5 { margin-left: 5px !important; margin-right: 5px !important;}
.mx_px_10 { margin-left: 10px !important; margin-right: 10px !important;}
.mx_px_15 { margin-left: 15px !important; margin-right: 15px !important;}
.mx_px_20 { margin-left: 20px !important; margin-right: 20px !important;}
.mx_px_25 { margin-left: 25px !important; margin-right: 25px !important;}

.my_auto { margin-top: auto !important; margin-bottom: auto !important;}
.my_0 { margin-top: 0 !important; margin-bottom: 0 !important;}
.my_px_5 { margin-top: 5px !important; margin-bottom: 5px !important;}
.my_px_10 { margin-top: 10px !important; margin-bottom: 10px !important;}
.my_px_15 { margin-top: 15px !important; margin-bottom: 15px !important;}
.my_px_20 { margin-top: 20px !important; margin-bottom: 20px !important;}
.my_px_25 { margin-top: 25px !important; margin-bottom: 25px !important;}

.p_auto { padding: auto !important;}
.p_0 { padding: 0 !important;}
.p_px_5 { padding: 5px !important;}
.p_px_10 { padding: 10px !important;}
.p_px_15 { padding: 15px !important;}
.p_px_20 { padding: 20px !important;}
.p_px_25 { padding: 25px !important;}

.ps_0 { padding-left: 0 !important;}
.ps_px_5 { padding-left: 5px !important;}
.ps_px_10 { padding-left: 10px !important;}
.ps_px_13 { padding-left: 13px !important;}
.ps_px_15 { padding-left: 15px !important;}
.ps_px_20 { padding-left: 20px !important;}
.ps_px_25 { padding-left: 25px !important;}
.ps_px_120 { padding-left: 120px !important;}
.pe_0 { padding-right: 0 !important;}
.pe_px_5 { padding-right: 5px !important;}
.pe_px_10 { padding-right: 10px !important;}
.pe_px_15 { padding-right: 15px !important;}
.pe_px_20 { padding-right: 20px !important;}
.pe_px_25 { padding-right: 25px !important;}
.pt_0 { padding-top: 0 !important;}
.pt_px_5 { padding-top: 5px !important;}
.pt_px_10 { padding-top: 10px !important;}
.pt_px_15 { padding-top: 15px !important;}
.pt_px_20 { padding-top: 20px !important;}
.pt_px_25 { padding-top: 25px !important;}
.pb_0 { padding-bottom: 0 !important;}
.pb_px_5 { padding-bottom: 5px !important;}
.pb_px_10 { padding-bottom: 10px !important;}
.pb_px_15 { padding-bottom: 15px !important;}
.pb_px_20 { padding-bottom: 20px !important;}
.pb_px_25 { padding-bottom: 25px !important;}

.px_auto { padding-left: auto !important; padding-right: auto !important;}
.px_0 { padding-left: 0 !important; padding-right: 0 !important;}
.px_px_5 { padding-left: 5px !important; padding-right: 5px !important;}
.px_px_10 { padding-left: 10px !important; padding-right: 10px !important;}
.px_px_15 { padding-left: 15px !important; padding-right: 15px !important;}
.px_px_20 { padding-left: 20px !important; padding-right: 20px !important;}
.px_px_25 { padding-left: 25px !important; padding-right: 25px !important;}

.py_auto { padding-top: auto !important; padding-bottom: auto !important;}
.py_0 { padding-top: 0 !important; padding-bottom: 0 !important;}
.py_px_5 { padding-top: 5px !important; padding-bottom: 5px !important;}
.py_px_10 { padding-top: 10px !important; padding-bottom: 10px !important;}
.py_px_15 { padding-top: 15px !important; padding-bottom: 15px !important;}
.py_px_20 { padding-top: 20px !important; padding-bottom: 20px !important;}
.py_px_25 { padding-top: 25px !important; padding-bottom: 25px !important;}

.vertical_align_top { vertical-align: top !important;}

.text_start { text-align: left !important;}
.text_center { text-align: center !important;}
.text_end { text-align: right !important;}

.row { --fn-gutter-x: 0; --fn-gutter-y: 0; display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--fn-gutter-y)); margin-right: calc(-.5 * var(--fn-gutter-x)); margin-left: calc(-.5 * var(--fn-gutter-x));}
.row > * { flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--fn-gutter-x) * .5); padding-left: calc(var(--fn-gutter-x) * .5); margin-top: var(--fn-gutter-y);}
.col { flex-basis: 0; flex-grow: 1; max-width: 100%;}
.col_1 { flex: 0 0 calc(100% / 12 * 1); max-width: calc(100% / 12 * 1);}
.col_2 { flex: 0 0 calc(100% / 12 * 2); max-width: calc(100% / 12 * 2);}
.col_3 { flex: 0 0 calc(100% / 12 * 3); max-width: calc(100% / 12 * 3);}
.col_4 { flex: 0 0 calc(100% / 12 * 4); max-width: calc(100% / 12 * 4);}
.col_5 { flex: 0 0 calc(100% / 12 * 5); max-width: calc(100% / 12 * 5);}
.col_6 { flex: 0 0 calc(100% / 12 * 6); max-width: calc(100% / 12 * 6);}
.col_7 { flex: 0 0 calc(100% / 12 * 7); max-width: calc(100% / 12 * 7);}
.col_8 { flex: 0 0 calc(100% / 12 * 8); max-width: calc(100% / 12 * 8);}
.col_9 { flex: 0 0 calc(100% / 12 * 9); max-width: calc(100% / 12 * 9);}
.col_10 { flex: 0 0 calc(100% / 12 * 10); max-width: calc(100% / 12 * 10);}
.col_11 { flex: 0 0 calc(100% / 12 * 11); max-width: calc(100% / 12 * 11);}
.col_12 { flex: 0 0 calc(100% / 12 * 12); max-width: calc(100% / 12 * 12);}
.g_px_10, .gx_px_10 { --fn-gutter-x: 10px;}
.g_px_10, .gy_px_10 { --fn-gutter-y: 10px;}
.gy_px_13 { --fn-gutter-y: 13px;}
.g_px_20, .gx_px_20 { --fn-gutter-x: 20px;}
.g_px_20, .gy_px_20 { --fn-gutter-y: 20px;}
.g_px_22, .gx_px_22 { --fn-gutter-x: 22px;}
.g_px_22, .gy_px_22 { --fn-gutter-y: 22px;}
.g_px_30, .gx_px_30 { --fn-gutter-x: 30px;}
.g_px_30, .gy_px_30 { --fn-gutter-y: 30px;}
.g_px_32, .gx_px_32 { --fn-gutter-x: 32px;}
.g_px_32, .gy_px_32 { --fn-gutter-y: 32px;}
.border { border: 1px solid var(--fn-black) !important;}
.w_px_70 { width: 70px !important;}
.w_100 { width: 100% !important;}
.w_max_100 { max-width: 100% !important;}
.d_flex {display:flex !important;width:100%;}
.d_block {display:block !important;}
.d_inline_block {display:inline-block !important;}
.d_inline {display:inline !important;}
.d_none {display:none !important;}
.d_flex.center {align-items:center;justify-content:center;}
.flex_fill {flex: 1 1 auto !important;}
.flex_row {flex-direction: row !important;}
.flex_column {flex-direction: column !important;}
.flex_row_reverse {flex-direction: row-reverse !important;}
.flex_column_reverse {flex-direction: column-reverse !important;}
.flex_grow_0 {flex-grow: 0 !important;}
.flex_grow_1 {flex-grow: 1 !important;}
.flex_shrink_0 {flex-shrink: 0 !important;}
.flex_shrink_1 {flex-shrink: 1 !important;}
.flex_wrap {flex-wrap: wrap !important;}
.flex_nowrap {flex-wrap: nowrap !important;}
.flex_wrap_reverse {flex-wrap: wrap-reverse !important;}
.justify_content_start {justify-content: flex-start !important;}
.justify_content_end {justify-content: flex-end !important;}
.justify_content_center {justify-content: center !important;}
.justify_content_between {justify-content: space-between !important;}
.justify_content_around {justify-content: space-around !important;}
.justify_content_evenly {justify-content: space-evenly !important;}
.align_items_start {align-items: flex-start !important;}
.align_items_end {align-items: flex-end !important;}
.align_items_center {align-items: center !important;}
.align_items_baseline {align-items: baseline !important;}
.align_items_stretch {align-items: stretch !important;}
.align_content_start {align-content: flex-start !important;}
.align_content_end {align-content: flex-end !important;}
.align_content_center {align-content: center !important;}
.align_content_between {align-content: space-between !important;}
.align_content_around {align-content: space-around !important;}
.align_content_stretch {align-content: stretch !important;}
.align_self_auto {align-self: auto !important;}
.align_self_start {align-self: flex-start !important;}
.align_self_end {align-self: flex-end !important;}
.align_self_center {align-self: center !important;}
.align_self_baseline {align-self: baseline !important;}
.align_self_stretch {align-self: stretch !important;}

.gap_px_5 { gap: 5px !important;}
.gap_px_6 { gap: 6px !important;}
.gap_px_10 { gap: 10px !important;}
.gap_px_12 { gap: 12px !important;}
.gap_px_15 { gap: 15px !important;}
.gap_px_20 { gap: 20px !important;}
.gap_px_25 { gap: 25px !important;}
.gap_px_30 { gap: 30px !important;}
.gap_px_35 { gap: 35px !important;}
.gap_px_80 { gap: 80px !important;}

.fs_px_24 { font-size: 24px !important;}

.align_top { vertical-align: top !important;}
.align_middle { vertical-align: middle !important;}
.align_bottom { vertical-align: bottom !important;}

.opacity_0 { opacity: 0 !important;}

/*바로가기*/
.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;padding:15px 0;background-color:#494e53;color:#fff;font:16px 'Noto Sans KR', '맑은 고딕','sans-serif'; font-weight: 400;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0;}

/*기본*/
#wrap{position:relative;width:100%;min-width:1200px;}
#header{position:relative;}
#container{position:relative;}
#container:after{display:block;clear:both;content:'';}
#footer{position:relative;}
.content_inner {width:100%;margin:0 auto;}

a{text-decoration: none;background-color: transparent;-webkit-text-decoration-skip: objects;}
a:hover{text-decoration:none;}
.blind {position: absolute;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;}
.hide {display:none !important;}
.hidden {overflow: hidden !important;}
.relative {position:relative !important;}
.absolute {position:absolute;}

/* button */
.btn { display: inline-block; padding: 6px; background-color: transparent; border: 1px solid transparent; border-radius: 6px; font-weight: 500; font-size: 14px; line-height: 1.25; text-align: center; vertical-align: middle; text-decoration: none; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.btn:disabled { cursor: auto;}
.btn_xs { width: 50px; min-width: 50px; min-height: 24px; padding: 4px; border-radius: 4px; font-size: 12px;}
.btn_sm { width: 66px; min-width: 66px; min-height: 32px; padding: 8px; border-radius: 4px; font-size: 12px;}
.btn_md { min-width: 70px; min-height: 40px; padding: 10px 15px; border-radius: 6px; font-size: 14px;}
.btn_lg { display: block; width: 100%; padding: 13px 15px; border-radius: 6px; font-size: 16px;}
.btn_primary { border-color: var(--fn-blue); background-color: var(--fn-blue); color: var(--fn-white);}
.btn_info { border-color: var(--fn-skyblue); background-color: var(--fn-skyblue); color: var(--fn-white);}
.btn_secondary { border-color: var(--fn-gray-79); background-color: var(--fn-gray-79); color: var(--fn-white);}
.btn_outline_secondary { border-color: var(--fn-gray-aa);}
.btn_primary:disabled,
.btn_info:disabled,
.btn_secondary:disabled { border-color: var(--fn-gray-cc); background-color: var(--fn-gray-cc);}
.btn_outline_secondary:disabled { border-color: var(--fn-gray-cc); color: var(--fn-gray-aa);}

.hr { width: 100%; height: 0; margin: 20px 0; border: none; border-top: 1px solid var(--fn-gray-e4);}
.hr.type2 { margin: 16px 0;}

/*input*/
.form_control_bx { display: flex; align-items: center; width: 100%; padding: 0 5px; border: 1px solid var(--fn-gray-cc); border-radius: 5px; background-color: var(--fn-white);}
.form_control_bx:focus-within { border-color: var(--fn-blue);}
.form_control_bx.disabled { background-color: var(--fn-gray-f4); color: var(--fn-gray-aa); cursor: not-allowed;}
.form_control_bx.error { border-color: var(--fn-red);}
.form_control,
.masking_txt { display: flex; align-items: center; width: 100%; min-height: 40px; padding: 9px 11px; border: 1px solid var(--fn-gray-cc); border-radius: 5px; background-color: var(--fn-white); font-size: 14px; line-height: 1.25; color: var(--fn-black-11); outline: none; transition: text-indent 0.45s;}
.form_control:focus { border-color: var(--fn-blue);}
.form_control::placeholder { color:var(--fn-gray-aa); transition: all .25s ease;}
.form_control:focus::placeholder { transform: translate(0.2em);}
.form_control:read-only,
.form_control:disabled { background-color: var(--fn-gray-f4); color: var(--fn-gray-aa); cursor: not-allowed;}
.form_control:read-only { cursor: not-allowed;}
.form_control_bx .form_control { min-height: 38px; padding: 8px 4px; border: none;}
.form_control_bx .btn_reset { width: 28px; min-width: 28px; height: 28px; background-image: url('../images/icons/ico_close_gray_circle.svg'); background-position: center center; background-size: 100% auto; background-repeat: no-repeat;}
.form_control_bx .form_control:disabled + .btn_reset,
.form_control_bx .btn_reset:disabled { visibility: hidden;}
.ph_mask_inp::placeholder { transform: translateY(0.3em);}
.ph_mask_inp:focus::placeholder { transform: translate(0.2em,0.3em);}

.input_group { position: relative; display: flex; flex-wrap: wrap; align-items: stretch; width: 100%;}
.input_group .input_group_txt { display: flex; align-items: center; padding: 9px 11px; background-color: var(--fn-white); border: 1px solid var(--fn-gray-cc); border-radius: 6px; font-weight: 500; font-size: 14px; line-height: 1.25; color: var(--fn-gray-aa); text-align: center; white-space: nowrap;}
.input_group.is_val .input_group_txt { color: var(--fn-gray-11);}
.input_group:focus-within .input_group_txt,
.input_group:focus-within .form_control { border-color: var(--fn-blue);}
.input_group .form_control { position: relative; flex: 1 1 auto; width: 1%; min-width: 0;}
.input_group .form_control:focus::placeholder { transform: none;}
.input_group .input_group_txt:first-child, 
.input_group .form_control:first-child { padding-right: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; text-align: right;}
.input_group .input_group_txt:first-child ~ .input_group_txt,
.input_group .input_group_txt:first-child ~ .form_control { margin-left: -1px; border-radius: 0;}
.input_group .input_group_txt:last-child,
.input_group .form_control:last-child { margin-left: -1px; padding-left: 3px; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 6px !important; border-bottom-right-radius: 6px !important;}

.form_ttl_group { display: flex; gap: 10px; justify-content: space-between; align-items: center; margin-bottom: 14px;}
.form_ttl_group .ttl { font-weight: 700; font-size: 16px; line-height: 1.111111;}
.form_ttl_group .btn { width: auto;}

.form_group { display: flex; align-items: center; gap: 10px; position: relative;}
.form_group.column { flex-direction: column; align-items: flex-start;}
.form_group + .form_group,
.caution + .form_group { margin-top: 12px;}
.form_group.column + .form_group.column { margin-top: 18px;}
.form_group .form_label { display: flex; width: 68px; min-width: 68px; padding-right: 3px; font-weight: 500; font-size: 14px; line-height: 1.428571; word-break: keep-all; word-wrap: break-word; overflow-wrap: anywhere;}
.form_group.column .form_label { display: inline-flex; width: auto; min-width: auto; padding-right: 0;}
.cnt_box.type2 .form_group .form_label { width: 90px; min-width: 90px;}
.form_group .form_label.require::before { content: '*'; display: inline; margin-right: 0.1em; font-size: inherit; line-height: inherit; color: var(--fn-orange);}
.form_group.type2 .form_label { font-weight: 400; font-size: 16px; line-height: 1.4375;}
.form_group .form_label.type_as_fs { align-self: flex-start; transform: translateY(0.7em);}
.form_group .form_box { display: flex; gap: 8px; align-items: center; margin-left: auto; width: calc(100% - 68px - 10px);}
.cnt_box.type2 .form_group .form_box { width: calc(100% - 90px - 10px);}
.form_group.column .form_box { width: 100%;}
.form_group .form_box .btn { min-width: auto; white-space: nowrap;}
.form_group .form_box .point { font-size: 14px; color: var(--fn-gray-55);}
.form_group .form_box .form_txt { display: block; padding-left: 12px; font-size: 14px; line-height: 1.428571; color: var(--fn-gray-55);}
.form_group .form_box .fix_txt { margin-left: auto; font-weight: 500; font-size: 16px; line-height: 1.25;}
.form_group + .caution,
.ph_group + .caution { display: block; margin-top: 6px; padding-left: calc(71px + 12px); font-size: 12px; color: var(--fn-red);}
.cnt_box.type2 .form_group + .caution,
.cnt_box.type2 .ph_group + .caution { padding-left: calc(90px + 12px);}
.form_group + .caution.info,
.ph_group + .caution.info { color: var(--fn-gray-99);}
.form_group .caption { font-size: 12px; color: var(--fn-gray-99);}

.ph_group + .ph_group,
.caution + .ph_group { margin-top: 37px;}
.ph_group .ph_box { position: relative; width: 100%;}
.ph_group.type2 .ph_box { padding-top: 23px;}
.ph_group .ph_ttl { display: inline-block; transform: translateY(30px); font-size: 14px; line-height: 1.642857; color: var(--fn-gray-aa); transition: .45s all, opacity 0s; pointer-events: none;}
.ph_group.type2 .ph_ttl { position: absolute; left: 0; top: 0;}
.ph_group .ph_ttl.fs_px_24 { transform: translateY(25px);}
.ph_group:focus-within .ph_ttl,
.ph_group.is_val .ph_ttl { transform: translate(0);}
.ph_group.type2:focus-within .ph_ttl { transform: translateY(30px);}
.ph_group.type2:focus-within .ph_ttl.fs_px_24 { transform: translateY(25px);}
.ph_group.type2.is_val .ph_ttl { opacity: 0;}
.ph_group .ph_lb { display: inline-block; position: absolute; left: 0; top: 2px; font-size: 14px; line-height: 1.642857; color: var(--fn-gray-aa);}
.ph_group .ph_box .form_control,
.ph_group .ph_txt { display: block; max-height: 38px; min-height: 38px; padding: 5px 0 0; border: none; border-bottom: 2px solid var(--fn-gray-cc); border-radius: 0; font-weight: 500; font-size: 24px;}
.ph_group:focus-within .form_control,
.ph_group:focus-within .ph_txt { border-color: var(--fn-blue);}
.ph_group:focus-within .form_control { text-indent: 0;}
.ph_group .ph_masking { position: relative; width: 100%;}
.ph_group .ph_masking .ph_val { font-size: inherit;}
.ph_group:focus-within .ph_masking .ph_val::after { content: ''; border-right: 1px solid #000; font-size: inherit; animation: twinkling 1.05s linear infinite;}

.cn_area { margin-top: 78px;}
.cn_list { display: flex; gap: 16px;}
.cn_area .ph_group { position: relative; flex: 1; margin: 0;}
.cn_area .ph_group .ph_ttl { position: absolute; left: 50%; bottom: 7px; transform: translate(-50%,0); font-size: 14px; line-height: 1.642857; color: var(--fn-gray-aa); transition: .45s all; pointer-events: none;}
.cn_area .ph_group:focus-within .ph_ttl,
.cn_area .ph_group.is_val .ph_ttl { left: 0; transform: translate(0,-30px);}
.cn_area .ph_group .form_control,
.cn_area .ph_group .ph_txt { text-align: center;}
.cn_badge { display: inline-block; margin-top: 12px; border: 1px solid var(--fn-gray-aa); border-radius: 4px; padding: 5px 3px; font-size: 12px; color: var(--fn-gray-55);}

.form_select { position: relative; width: 100%;}
.form_select.active { z-index: 10;}
.form_select .select { width: 100%; min-height: 40px; padding: 10px 12px; padding-right: calc(12px * 2 + 5px); border: 1px solid var(--fn-gray-cc); border-radius: 6px; background-image: url('../images/icons/arw_down_gray.svg'); background-position: center right 7px; background-size: 28px auto; background-color: var(--fn-white); background-repeat: no-repeat; font-size: 14px; line-height: 1.25; color: var(--fn-gray-900); text-align: left; text-overflow: ellipsis; white-space: nowrap; outline: none;}
.form_select .select:focus { border-color: var(--fn-blue);}
.form_select .select.readonly { background-image: none; pointer-events: none;}
.form_select .form_btn { display: block; position: relative; overflow: hidden; width: 100%; min-height: 40px; padding: 10px 12px; padding-right: calc(12px * 2 + 5px); border: 1px solid var(--fn-gray-cc); border-radius: 6px; background-color: var(--fn-white); font-size: 14px; line-height: 1.25; color: var(--fn-gray-900); text-align: left; text-overflow: ellipsis; white-space: nowrap; outline: none;}
.form_select .form_btn:focus { outline: none; border-color: var(--fn-blue);}
.form_select .form_btn.active { border-color: var(--fn-blue);}
.form_select .form_btn:disabled { color: var(--fn-gray-aa); background-color: var(--fn-gray-f4); cursor: not-allowed;}
.form_select.active .form_btn { border-color: var(--fn-blue); border-radius: 6px 6px 0 0; border-bottom-color: transparent;}
.form_select.active.top .form_btn { border-radius: 0 0 6px 6px; border-top-color: transparent; border-bottom-color: var(--fn-blue);}
.form_select .form_btn:empty:before { content: attr(data-placeholder); display: block; font-family: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; color: var(--fn-gray-aa);}
.form_select .form_btn::after { content: ''; display: block; position: absolute; right: 7px; top: 50%; transform: translateY(-50%); width: 28px; height: 28px; background-image: url('../images/icons/arw_down_gray.svg'); background-position: center center; background-size: 100% auto; background-repeat: no-repeat; pointer-events: none; transition: transform .45s; }
.form_select.active .form_btn::after { transform: translateY(-50%) rotate(180deg);}
.form_select .option_area { display: none;}
.fixed_option_area { position: absolute; z-index: 9999; left: 0; top: 0; overflow: hidden; border: 1px solid var(--fn-blue); border-top-width: 0; border-radius: 0 0 6px 6px;}
.fixed_option_area.top { border-top-width: 1px; border-bottom-width: 0; border-radius: 6px 6px 0 0;}
.fixed_option_area .option_area { display: block; border-color: var(--fn-blue);}
.option_area { overflow-y: auto; max-height: calc(32px * 5 + 1px); border: 1px solid var(--fn-gray-600); border-top: none; background-color: var(--fn-white);}
.option_area.active .option_list { display: block;}
.option_area .option_item .option_btn { display: flex; width: 100%; min-height: 32px; padding: 7px 11px; font-size: 14px; line-height: 1.25; text-align: left;}
.option_area .option_item:hover .option_btn { background-color: #fafafa; }
.option_area .option_item.active .option_btn { color: var(--fn-blue); }

/* form check,radio */
.form_check_list { display: flex; flex-wrap: wrap; gap: 16px;}
.form_check_item { display: flex; justify-content: space-between; align-items: center; gap: 10px; width: 100%;}
.form_check_item.type_all { padding-top: 24px;}
.form_check { display: inline-flex; gap: 5px; align-items: center; position: relative; user-select: none;}
.form_check .form_check_input { position: absolute; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important;}
.form_check .form_check_txt { display: flex; flex-wrap: wrap; align-items: center; position: relative; font-weight: 400; font-size: 14px; line-height: 1.25; color: #555; -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; word-break: keep-all; word-wrap: break-word; overflow-wrap: anywhere;}
.form_check .ico { display: inline-block; position: relative; width: 28px; min-width: 28px; height: 28px; border-radius: 5px;}
.form_check .form_check_input[type="radio"] ~ .ico { border-radius: 50%; background-image: url("../images/icons/ico_radio.svg"); background-size: 100% auto;}
.form_check .form_check_input[type="checkbox"] ~ .ico { background-image: url("../images/icons/ico_check.svg"); background-size: 100% auto;}
.form_check .form_check_input:checked ~ .ico { background-position: left 0 top 84px;}
.form_check .form_check_input:disabled ~ .ico { background-position: left 0 top 56px;}
.form_check .form_check_input:disabled:checked ~ .ico { background-position: left 0 top 28px;}
.form_check .form_check_input:focus ~ .ico { outline: 2px solid var(--fn-gray-11); outline-offset: -2px;}
.form_check .txt { user-select: none;}

/*modal*/
.modal { display: block; position: fixed; z-index: 9000; top: 0;left: 0; overflow-y: auto; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); opacity: 1; animation-timing-function: ease-out; animation-name: modal-open;}
.modal_close { display: none; opacity: 0;}
.modal_close .modal_centered { transform: translate(0, 100px);}
.modal_centered { display: flex; justify-content: center; align-items: center; overflow: hidden; width: 100%; min-height: 100%; padding: var(--fn-fixed-pd); box-sizing: border-box;}
.modal.pos_bottom .modal_centered { align-items: flex-end;}
.modal_box { position: relative; z-index: 100; width: 91.111111%; max-width: 328px; border-radius: 6px; background-color: var(--fn-white); text-align: center; animation-timing-function: ease-out; animation-duration: 0.3s; animation-name: modal-inner; transform: translate(0, 0); transition: transform 0.3s ease-out;}
.modal_box.w_100 { max-width: 720px;}
.modal.type2 .modal_box { padding: 24px 16px;}
.modal.pos_bottom .modal_box { width: 100%; max-width: 720px; border-radius: 12px 12px 0 0;}
.modal.type2 .modal_header { display: flex;}
.modal.type2 .modal_header .ttl { font-weight: 700; font-size: 18px; line-height: 1.111111;}
.modal.pos_bottom .modal_header { display: flex; gap: 10px; align-items: center; padding: 15px 16px;}
.modal.pos_bottom .modal_header.type2 { justify-content: space-between; padding: 24px 16px;}
.modal.pos_bottom .modal_header .back_btn { display: flex; align-items: center; margin-left: -7px;}
.modal.pos_bottom .modal_header .back_btn::before { content: ''; display: block; width: 28px; min-width: 28px; height: 28px; background-image: url('../images/icons/arw_left.svg'); background-position: center center; background-size: 100% auto; background-repeat: no-repeat;}
.modal.pos_bottom .modal_header .ttl { font-weight: 700; font-size: 18px; line-height: 1.277777;}
.modal.pos_bottom .modal_header .back_btn .ttl { font-size: 20px; line-height: 1.15;}
.modal.pos_bottom .modal_header .close_btn { display: block; width: 28px; margin-left: auto; min-width: 28px; height: 28px; background-image: url('../images/icons/ico_close.svg'); background-position: center center; background-size: 100% auto; background-repeat: no-repeat;}
.modal .modal_body { padding: 32px 16px 24px;}
.modal.type2 .modal_body { padding: 0; margin-top: 14px;}
.modal.pos_bottom .modal_body { height: auto; max-height: calc(100dvh - 81px - 80px); padding: 0 16px 30px;}
.modal_box.type_chkall .modal_body { height: auto; max-height: calc(100dvh - 135px - 112px); padding: 0 16px 30px;}
.modal .modal_body .modal_content .msg { font-size: 14px; color: var(--fn-gray-55);}
.modal .modal_body .btn_area { display: flex; justify-content: center; gap: 8px; margin-top: 21px;}
.modal.pos_bottom .modal_body .btn_area { display: flex; flex-direction: column; gap: 12px; margin-top: 0;}
.modal .modal_body .btn_area .btn { display: inline-block; width: 90px;}
.modal.pos_bottom .modal_body .btn_area .btn { display: block; width: 100%;}
.modal.pos_bottom .modal_ftr { padding: 0 16px 16px;}
.modal_box.type_chkall .modal_ftr { padding-top: 21px;}
.modal.pos_bottom .modal_ftr .btn_area.type2 { display: flex; gap: 8px;} 
.modal_box.type_chkall .modal_ftr > .form_check { display: flex; margin-bottom: 22px; margin-right: auto;}
.modal_box.type_chkall .simplebar-track.simplebar-vertical { right: 4px;}
.modal .caption { display: block; font-size: 12px; line-height: 1.25; color: var(--fn-gray-99); text-align: left;}
.modal .form_box + .caption { margin-top: 10px;}

/* notification */
.notification_area { display: flex; flex-direction: column; gap: 10px; align-items: center; position: fixed; z-index: 800; left: 50%; bottom: 84px; transform: translateX(-50%);}
.notification_area .notification { min-width: 137px; padding: 8px 10px; border: 1px solid var(--fn-gray-aa); border-radius: 4px; background-color: var(--fn-gray-f4); opacity: 0;}
.notification_area .notification.type_dark { min-width: auto; background-color: var(--fn-gray-11);}
.notification_area .notification .txt { font-size: 12px; line-height: 1.25; color: var(--fn-gray-55);}
.notification_area .notification.type_dark .txt { color: var(--fn-white);}

@keyframes modal-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes twinkling {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}