/* common */
.fs_px_12 { font-size: 12px !important;}
.hr.type3 { margin: 12px 0;}

.tbl_area.type3 .tbl { border-top: 3px solid var(--fn-gray-11);}
.form_control.type2 { width: 50px; min-height: 24px; }

/* button */
.btn_list { display: flex; flex-direction: column; gap: 12px;}
.btn_ml { min-width: 80px; min-height: 32px; padding: 7px 10px; border-radius: 4px; font-size: 12px;}
.btn_close_rounded { min-width: 24px; min-height: 24px; border: 1px solid var(--fn-gray-aa); border-radius: 50%; background: url('../images/icons/ico_close.svg') no-repeat center center / 18px 18px #fff; font-size: 0; text-indent: -9999em;}

/* back page */
.back_page .back_body > .ttl_area.type3 { margin-top: 30px;}
.back_page .back_body > .ttl_area.type3 .ttl { font-weight: 700; font-size: 20px; line-height: 1;}

.caution_more_list .caution_more_item.type2 { align-items: center;}
.caution_more_list .caution_more_item.type2::before { transform: translateY(0);}
.caution_more_list .caution_more_item.type2 .form_control { margin: 0 6px;}

.main_info_card.type2 { gap: 8px;}
.main_info_card.type2 .date,
.main_info_card.type2 .manager { font-size: 12px; color: var(--fn-gray-55);}
.main_info_card.type2 .date { margin-top: 8px;}

/* 추가 */
.site_mgmt_area { margin-top: 20px;}
.site_mgmt_area .site_mgmt_item { padding: 15px; border: 1px solid var(--fn-gray-e4); border-radius: 6px; background-color: #fff;}
.site_mgmt_area .site_mgmt_item + .site_mgmt_item { margin-top: 12px;}
.site_mgmt_card.type2 { text-align: center; }
.site_mgmt_card .ttl_box .ttl { font-weight: 700; font-size: 16px;}
.site_mgmt_card .ttl_box .sub_ttl { display: block; margin-top: 10px; font-size: 12px; color: var(--fn-gray-55);}
.site_mgmt_card .desc_list .desc_item.type2 { display: flex; align-items: center; gap: 12px;}
.site_mgmt_card .desc_list .desc_item.type2 .txt { flex-shrink: 0;}
.site_mgmt_card .desc_list .desc_item + .desc_item { margin-top: 12px;}
.site_mgmt_card .desc_list .desc_item .txt { font-size: 12px;}
.site_mgmt_card .desc_list.dot .desc_item .txt { color: var(--fn-gray-55);}
.site_mgmt_card .btn_area { margin-top: 16px; text-align: center;}

.apl_area { display: flex; justify-content: space-between; align-items: center;}
.apl_area .apl_num,
.apl_area .apl_date { font-size: 12px; color: var(--fn-gray-55);}
.apl_area .apl_num .txt { font-size: inherit; color: inherit;}

/* img upload */
.img_upload_area + .img_upload_area { margin-top: 20px;}
.img_upload_area .ttl_box { display: flex; justify-content: space-between; align-items: center;}
.img_upload_area .ttl_box .ttl { font-weight: 700; font-size: 16px;}
.img_upload_area .img_box { position: relative; margin-top: 12px; padding-top: calc(360 / 688 * 100%); background-color: var(--fn-gray-ee);}
.img_upload_area .img_box .img { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.img_upload_area .img_box .btn { position: absolute; top: 12px; right: 12px;}

.input_layout { display: flex; align-items: center;}

/* fltg */
.fltg_ftr_wrap.type2 .fltg_item.active .txt { color: #00fafd;}
/* .fltg_ftr_wrap.type2 .fltg_item.active .ico_home { background-image: url('../images/icons/ico_check_white.svg');} */
.fltg_ftr_wrap.type2 .fltg_item .ico_check { background-image: url('../images/icons/ico_check_white.svg');}
.fltg_ftr_wrap.type2 .fltg_item.active .ico_check { background-image: url('../images/icons/ico_check_skyblue.svg');}
.fltg_ftr_wrap.type2 .fltg_item .ico_trouble { background-image: url('../images/icons/ico_trouble_white.svg');}
/* .fltg_ftr_wrap.type2 .fltg_item.active .ico_trouble { background-image: url('../images/icons/ico_trouble_white.svg');} */
.fltg_ftr_wrap.type2 .fltg_item .ico_install { background-image: url('../images/icons/ico_install_white.svg');}
/* .fltg_ftr_wrap.type2 .fltg_item.active .ico_install { background-image: url('../images/icons/ico_install_white.svg');} */