/* common */
.mb_px_40 { margin-bottom: 40px;}
.fs_px_12 { font-size: 12px !important;}
.hr.type3 { margin: 12px 0;}

.form_control.type2 { width: 50px; min-height: 24px; text-align: right;}
.form_control.no_resize { height: 120px; resize: none;}

.form_check_list.type4 { display: grid; grid-template-columns: repeat(auto-fill, minmax(auto, 98px)); width: 100%;}
.form_check.type2 .ico { width: 24px; min-width: 24px; height: 24px;}
.form_check.type2 .form_check_input:checked ~ .ico { background-position: left 0 top 72px;}

/* button */
.btn_list { display: flex; flex-direction: column; gap: 12px;}
.btn_ml { min-width: 80px; min-height: 32px; padding: 7px 10px; border-radius: 4px; font-size: 12px;}
.btn_ms { min-width: 70px; min-height: 30px; padding: 7px 10px; border-radius: 15px; font-size: 12px;}
.btn_white { border-color: var(--fn-white); background-color: var(--fn-white); color: var(--fn-gray-11);}
.btn_close_rounded { min-width: 24px; min-height: 24px; border: 1px solid var(--fn-gray-aa); border-radius: 50%; background: url('../images/icons/ico_close.svg') no-repeat center center / 18px 18px #fff; font-size: 0; text-indent: -9999em;}
/* common */

/* style */
/* home */
.login_page.type3 { position: relative; height: 100dvh; padding: 0; background: none;}
.login_page.type3 > .login_inner { padding: 0;}
.login_page.type3 > .login_inner > .login_hdr { display: block; height: 185px; padding: 15px; background: url('../images/img/bg_siteMgmt_home.png') no-repeat center center / cover;}
.login_page.type3 .mg_ttl { margin: 26px 0 20px; font-size: 26px; text-align: center;}
.login_page.type3 .user_info { display: flex; justify-content: space-between; align-items: center; max-width: 280px; margin: 0 auto; padding: 9px; border-radius: 24px; background-color: rgba(0, 0, 0, .6);}
.login_page.type3 .user_info .user_name { padding-left: 20px; font-size: 14px; color: #fff;}
.login_page.type3 .login_body { height: calc(100dvh - 185px); padding: 30px 15px; background-color: var(--fn-gray-f8);}
.login_page.type3 .st_ttl { font-weight: 700; font-size: 20px;}
.login_page.type3 .st_list { margin-top: 20px;}
.login_page.type3 .st_list .st_item { padding: 20px; border-radius: 12px; background-color: var(--fn-white); box-shadow: 10px 10px 10px rgba(0, 0, 0, .04);}
.login_page.type3 .st_list .st_item + .st_item { margin-top: 16px;}
.login_page.type3 .st_list .st_item .ttl { font-weight: 700; font-size: 16px;}
.login_page.type3 .pg_list { display: flex; align-items: center; margin-top: 20px;}
.login_page.type3 .pg_list .pg_item { width: 33.33%; text-align: center;}
.login_page.type3 .pg_list .pg_item + .pg_item { padding-top: 5px; border-left: 1px solid var(--fn-gray-e4);}
.login_page.type3 .pg_item .ico { display: block; width: 30px; height: 30px; margin: 0 auto 13px; background-position: center center; background-size: 100% auto;}
.login_page.type3 .pg_item:nth-child(1) .ico { background-image: url('../images/icons/ico_assign.svg');}
.login_page.type3 .pg_item:nth-child(2) .ico { background-image: url('../images/icons/ico_progress.svg');}
.login_page.type3 .pg_item:nth-child(3) .ico { background-image: url('../images/icons/ico_complete.svg');}
.login_page.type3 .st_item.charger .pg_item:nth-child(1) .ico { background-image: url('../images/icons/ico_charger_assign.svg');}
.login_page.type3 .st_item.charger .pg_item:nth-child(2) .ico { background-image: url('../images/icons/ico_charger_progress.svg');}
.login_page.type3 .st_item.charger .pg_item:nth-child(3) .ico { background-image: url('../images/icons/ico_charger_complete.svg');}
.login_page.type3 .pg_item .txt { font-size: 12px; color: var(--fn-gray-55);}

/* back page */
.back_page .back_body > .ttl_area.type3 { margin-top: 30px;}
.back_page .back_body > .ttl_area.type3 .ttl { font-weight: 700; font-size: 20px; line-height: 1;}

.caution_more_list .caution_more_item.type2 { flex-wrap: wrap; align-items: center;}
.caution_more_list .caution_more_item.type2::before { transform: translateY(0);}

.main_info_card.type2 { gap: 8px;}
.main_info_card.type2 .date,
.main_info_card.type2 .manager { font-size: 12px; color: var(--fn-gray-55);}
.main_info_card.type2 .date { margin-top: 8px;}

/* fltg */
.fltg_ftr_wrap.type2 .fltg_item.active .txt { color: #00fafd;}
.fltg_ftr_wrap.type2 .fltg_item.active .ico_home { background-image: url('../images/icons/ico_home_skyblue.svg');}
.fltg_ftr_wrap.type2 .fltg_item .ico_check { background-image: url('../images/icons/ico_check_white.svg');}
.fltg_ftr_wrap.type2 .fltg_item.active .ico_check { background-image: url('../images/icons/ico_check_skyblue.svg');}
.fltg_ftr_wrap.type2 .fltg_item .ico_trouble { background-image: url('../images/icons/ico_trouble_white.svg');}
.fltg_ftr_wrap.type2 .fltg_item.active .ico_trouble { background-image: url('../images/icons/ico_trouble_skyblue.svg');}
.fltg_ftr_wrap.type2 .fltg_item .ico_install { background-image: url('../images/icons/ico_install_white.svg');}
.fltg_ftr_wrap.type2 .fltg_item.active .ico_install { background-image: url('../images/icons/ico_install_skyblue.svg');}
/* style */

/* 추가 */
.site_mgmt_area { margin-top: 20px;}
.site_mgmt_area .site_mgmt_item { padding: 15px; border: 1px solid var(--fn-gray-e4); border-radius: 6px; background-color: #fff;}
.site_mgmt_area .site_mgmt_item + .site_mgmt_item { margin-top: 12px;}
.site_mgmt_card .ttl_box { display: flex; flex-direction: column; gap: 10px;}
.site_mgmt_card .ttl_box.type2 { flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
.site_mgmt_card .ttl_box.type2 .btn { width: auto;}
.site_mgmt_card .ttl_box .ttl { font-weight: 700; font-size: 16px;}
.site_mgmt_card .ttl_box .txt { display: block; font-size: 12px; color: var(--fn-gray-55);}
.site_mgmt_card .ttl_box.type2 .txt { width: 100%;}
/* .site_mgmt_card .desc_list .desc_item.type2 { display: flex; align-items: center; gap: 12px;}
.site_mgmt_card .desc_list .desc_item.type2 .txt { flex-shrink: 0;}
.site_mgmt_card .desc_list .desc_item + .desc_item { margin-top: 12px;}
.site_mgmt_card .desc_list .desc_item .txt { font-size: 12px; color: var(--fn-gray-55);} */
.site_mgmt_card > .btn_area { margin-top: 16px; text-align: center;}

.apl_area { display: flex; justify-content: space-between; align-items: center;}
.apl_area .apl_num,
.apl_area .apl_date { font-size: 12px; color: var(--fn-gray-55);}

.info_txt_area { display: flex; flex-direction: column; gap: 10px;}
.info_txt_area .txt { font-size: 12px; color: var(--fn-gray-55);}

.txt_indent { display: flex; flex-direction: row; gap: 5px;}
.txt_indent.type2 { align-items: center;}
.txt_indent .txt,
.site_mgmt_card .ttl_box .txt_indent .txt { width: auto;}
.txt_indent .txt:nth-child(1) { flex-shrink: 0;}

/* img upload */
.upload_ttl_area { width: 100%;}
.upload_ttl_area + .upload_ttl_area { margin-top: 20px;}
.upload_ttl_area .ttl_box { display: flex; justify-content: space-between; align-items: center;}
.upload_ttl_area .ttl_box .ttl { font-weight: 700; font-size: 16px;}
.upload_ttl_area .btn_area { display: flex; gap: 6px;}

.input_layout { display: flex; flex-wrap: wrap; align-items: center; gap: 5px; font-size: 12px;}
.input_layout.type2 { width: 100%; padding-left: 8px;}