@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(../fonts/notokr/notokr-light.eot);
    src: url(../fonts/notokr/notokr-light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr/notokr-light.woff2) format('woff2'),
    url(../fonts/notokr/notokr-light.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(../fonts/notokr/notokr-regular.eot);
    src: url(../fonts/notokr/notokr-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr/notokr-regular.woff2) format('woff2'),
    url(../fonts/notokr/notokr-regular.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(../fonts/notokr/notokr-medium.eot);
    src: url(../fonts/notokr/notokr-medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr/notokr-medium.woff2) format('woff2'),
    url(../fonts/notokr/notokr-medium.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/notokr/notokr-bold.eot);
    src: url(../fonts/notokr/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr/notokr-bold.woff2) format('woff2'),
    url(../fonts/notokr/notokr-bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url(../fonts/Pretendard/Pretendard-Light.eot);
    src: url(../fonts/Pretendard/Pretendard-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Pretendard/Pretendard-Light.woff2) format('woff2'),
    url(../fonts/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url(../fonts/Pretendard/Pretendard-Regular.eot);
    src: url(../fonts/Pretendard/Pretendard-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Pretendard/Pretendard-Regular.woff2) format('woff2'),
    url(../fonts/Pretendard/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url(../fonts/Pretendard/Pretendard-Medium.eot);
    src: url(../fonts/Pretendard/Pretendard-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Pretendard/Pretendard-Medium.woff2) format('woff2'),
    url(../fonts/Pretendard/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url(../fonts/Pretendard/Pretendard-Bold.eot);
    src: url(../fonts/Pretendard/Pretendard-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Pretendard/Pretendard-Bold.woff2) format('woff2'),
    url(../fonts/Pretendard/Pretendard-Bold.woff) format('woff');
}

/* CSS Document */
*{padding:0;margin:0;-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-family: 'Noto Sans KR','맑은 고딕','sans-serif';font-size:16px;font-weight: 400; line-height: 1;color:#262222;letter-spacing:-1.5px;}
h1,h2,h3,h4,h5,h6,em,strong,li,dd,a,address{padding:0;margin:0;}
html{overflow-y:scroll;}
@media (min-width: 769px) and (max-width: 1280px){
    html {font-size: 0.078125vw;}
}
@media (max-width: 768px){
    html {font-size: 0.13889vw;}
}
@media all and (min-width: 769px){
    img {image-rendering: -webkit-optimize-contrast;}
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background:none;vertical-align:middle;-webkit-appearance: none;-webkit-border-radius: 0;}
img,fieldset,iframe {border:none;}
img{vertical-align:top;}
textarea{font-size:16px;resize: none;}
select {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;vertical-align:middle;border-radius: 0}
select::-ms-expand {display: none;}
input,textarea {-webkit-appearance: none;-webkit-border-radius: 0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;width:100%;}
u {text-decoration:none;}
font{ font-weight: inherit; font-size: inherit; line-height: inherit; color: inherit;}
::-webkit-input-placeholder {font:14px 'Pretendard', '맑은 고딕','sans-serif';line-height:44px;color: #D4D4D4;}
::-moz-placeholder {font:14px 'Pretendard', '맑은 고딕', 'sans-serif';line-height:44px;color: #D4D4D4;}
:-ms-input-placeholder {font:14px 'Pretendard', '맑은 고딕', 'sans-serif';line-height:44px;color: #D4D4D4;}
:-moz-placeholder {font:14px 'Pretendard', '맑은 고딕', 'sans-serif';line-height:44px;color: #D4D4D4;}
input[type="text"],input[type="password"],input[type="tel"],input[type="number"] {width: 100%;height: 44px;padding: 0 13px;font-size: 14px;line-height:44px;box-shadow:1px 1px 5px 0 rgba(0, 0, 0, 0.2);border: none;border-radius:4px;}
input[type="text"]:read-only,input[type="password"]:read-only,input[type="tel"]:read-only,input[type="number"]:read-only,
input[type="text"]:disabled,input[type="password"]:disabled,input[type="tel"]:disabled,input[type="number"]:disabled {background:#f2f2f2;}

/*바로가기*/
.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;padding:15px 0;background-color:#494e53;color:#fff;font: medium 14px/3.4 'gothic_a1',sans-serif;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0}

/*기본*/
#wrap{position:relative;width:100%;overflow: hidden;}
#header{position:relative;}
#container{position:relative;*zoom:1;}
#container:after{display:block;clear:both;content:'';}
#footer{position:relative;}
.content_inner {position: relative;width: 100%;max-width: 1420px;margin: 0 auto;}

a{text-decoration:none;}
a:link,a:visited,a:active,a:focus{}
a:hover{text-decoration:none;}
.blind {position: absolute;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;}
.hide {display:none;}

/* display */
.inline { display: inline !important; width: auto !important;}
.inline-block { display: inline-block !important; width: auto !important;}

/* float해제 */
.clearfix:after{content:''; display:block; clear:both;}
.fr {float:right;}
.fl {float:left;}

/*정렬*/
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}
.text-left {text-align:left !important;}

/*display-table*/
.table {display:table;width:100%;}
.row {display:table-row;}
.th {display:table-cell;vertical-align:middle;}
.td {display:table-cell;vertical-align:middle;}
.inline {display:inline-block;vertical-align:middle;}

/*flex*/
.d_flex {display: flex !important;}
.justify_content_start {justify-content: flex-start !important;}
.justify_content_end {justify-content: flex-end !important;}
.justify_content_center {justify-content: center !important;}
.justify_content_between {justify-content: space-between !important; }
.justify_content_around {justify-content: space-around !important;}
.flex_row {flex-direction: row !important;}
.flex_column {flex-direction: column !important;}
.align_items_start {align-items: flex-start !important;}
.align_items_end {align-items: flex-end !important;}
.align_items_center {align-items: center !important;}

/*checkbox 스타일*/
.fancy_box { display: inline-block;margin-top: 15px;}
.fancy_box [type="checkbox"].fancy_check { position: absolute;left: -9999px;}
.fancy_box .fancy_check ~ .ico_fancy > span { display: table-cell !important;vertical-align:top;padding-left:10px;font-size:25px;transform:translateY(-3px);word-break:keep-all;}
.fancy_box [type="checkbox"].fancy_check + .ico_fancy { display: table;cursor: pointer;}
.fancy_box [type="checkbox"].fancy_check + .ico_fancy:before {content:'';display:inline-block;width:20px;height:20px;background:url("../../../frontLayer/images/icon/ico_checkbox.svg") no-repeat center/20px 40px;vertical-align: middle;}
.fancy_box [type="checkbox"].fancy_check:focus + .ico_fancy:before {outline:1px dashed #ccc;}
.fancy_box [type="checkbox"].fancy_check:checked + .ico_fancy:before {background-position:0 -20px;}
.fancy_box [type="checkbox"].fancy_check:not(:checked) + .ico_fancy:before {background-position:0 0;}

.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label {display: inline-block;width: 170px;height: 40px;line-height:40px;background: #595791;color: #fff;border-color:#595791;border-width:2px;border-style:solid;border-radius:10px;font-size:25px;font-weight: 500;text-align:center;} /* named upload */
.filebox input[type="text"].upload_name { display: inline-block;border: 1px solid #bbb;background: transparent;font-weight:300;-webkit-appearance: none;-moz-appearance: none; appearance: none; vertical-align:middle;font-size: 25px;}

/* hide */
.he { overflow: hidden; position: absolute; width: 1px; height: 1px; border: none; clip: rect(1px 1px 1px 1px);}
.ht { overflow: hidden; color: transparent; text-indent: 100%; white-space: nowrap;}
.es { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.br_mb {display:none;}

/*ellipsis*/
.ellipsis2 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; max-height: 50px; min-height: 50px; line-height: 25px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-align: left;}
.ellipsis3 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; max-height: 75px; min-height: 75px; line-height: 25px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-align: left;}

.swiper-button-prev:after, .swiper-button-next:after {display:none !important;}

.custom_select { display:block; position: relative;height: 44px; background-color: transparent; vertical-align: top;}
.custom_select::after { content: ''; display: block; position: absolute; top: 50%; right: 0;transform: translateY(-50%); width:42px; height:44px; background-image: url('../../images/ico/arw_select.svg'); background-position: center center; background-size: 16px 13px; background-repeat: no-repeat; transition: transform 0.45s;}
.custom_select.active::after { transform: translateY(-50%) rotate(180deg);}
.custom_select .select_btn { position: relative; z-index: 10; width: 100%; height: 100%; padding: 0 55px 0 13px;border-radius: 4px;background-color: transparent; font-size:14px; line-height: 44px; color: #D4D4D4; cursor: default;text-align:left;box-shadow:1px 1px 5px 0 rgba(0, 0, 0, 0.2);}
.custom_select .select_btn:focus {outline:2px solid #000;}
.custom_select .select_btn.active { color: #333;}
.custom_select .option_list { display: none;overflow-y: auto; position: absolute; z-index: 100; left: 0; top: 100%; width: 100%; max-height: 260px; background-color: #fff; box-shadow:1px 1px 5px 0 rgba(0, 0, 0, 0.2);}
.custom_select.active .option_list { display: block;}
.custom_select .option_item:hover,
.custom_select .option_item.active { background-color:#e1e0e0;}
.custom_select .option_btn { display: block; width: 100%; padding:0 13px; font-size: 14px; line-height: 44px; cursor: default;text-align:left;}

.form_group {display:flex;flex-direction:row;}
.form_check {display:inline-block;position:relative;}
.form_check_input {position: absolute;width: 1px !important;height: 1px !important;padding: 0 !important;margin: -1px !important;overflow: hidden !important;clip: rect(0, 0, 0, 0) !important;white-space: nowrap !important;border: 0 !important;}
.form_check_txt {display: flex;flex-wrap: wrap;align-items: center;position: relative;font-size: 16px;line-height: 1.636363;color: #727272;-ms-user-select: none;-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.form_check_txt::before { content: ''; display: block; width: 18px; height: 18px; margin-right: 10px; background-image: url('../../images/ico/ico_checkbox.svg'); background-position: left top; background-size: 100% auto; background-repeat: no-repeat;}
.form_check_input:checked ~ .form_check_txt::before { background-position: left top 100%;}

.hidden { overflow: hidden !important;}
.mask {position:fixed;left: 0;top: 0;z-index:10;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);}
.modal {display:block;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 1000000;cursor: pointer;opacity: 1;animation-timing-function: ease-out;animation-name: modal-open;}
.modal_close {display:none;opacity: 0;}
.modal_close .modal_body {transform: translate(0, 100px);}
.modal_body {display: table;max-width:800px;width: 100%;height: 100%;margin: 0 auto;}
.modal_inner {display: table-cell;width: 100%;height: 100%;vertical-align: middle;}
.modal_content_wrap {overflow-y: auto;width: 100%;max-height: 100vh;position: relative;padding-bottom: 40px;background:#fff;animation-timing-function: ease-out;animation-duration: 0.3s;animation-name: modal-inner;transform: translate(0, 0);transition: transform 0.3s ease-out;}
.modal_content_wrap h2 {padding: 0 20px;margin-bottom: 18px;background: #191919;font-size: 20px;color: #fff;line-height:55px;}
.modal .btn_close {display:block;position:absolute;right:16px;top: 16px;width: 24px;height: 24px;background: url(../../images/ico/ico_close.svg) no-repeat center/100% 100%;text-indent:-9999em;}
.modal .exp {text-align:center;}
.modal .lg {display: inline-block;position: relative;font-size: 20px;line-height:2;word-break:keep-all;}
.modal .lg:after {content: '';display: block;position: absolute;left: 0;bottom: 0;width: 100%;border-bottom: 3px solid #4D9926;}
.modal .sm {margin-bottom: 35px;line-height:2.5;word-break:keep-all;}
.modal .policy {margin-bottom: 35px;padding: 0 50px;line-height:1.5;word-break:keep-all;text-align:left;font-size:14px;}
.modal .frm_wrap {padding: 0 40px;}
.modal .frm_wrap .d_flex {flex-direction:row;flex-wrap:wrap;justify-content:space-between;}
.modal .frm_wrap .input_row {margin-bottom: 15px;flex-basis:calc((100% - 40px) / 2);}
.modal .frm_wrap label {display: block;margin-bottom: 10px;font-weight:700;color:#191919;}
.modal .frm_wrap .btn_wrap {margin-top: 30px;text-align:center;}
.modal .frm_wrap .btn_wrap button {display:inline-block;width:300px;background: #191919;border-radius:4px;font-size: 14px;color: #fff;line-height: 44px;}

@keyframes modal-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}

@media all and (max-width: 1024px){
    ::-webkit-input-placeholder {font-size: 12px;}
    ::-moz-placeholder {font-size: 12px;}
    :-ms-input-placeholder {font-size: 12px;}
    :-moz-placeholder {font-size: 12px;}
    input[type="text"],input[type="password"],input[type="tel"],input[type="number"] {padding: 0 8px;font-size:12px;}

    .custom_select .select_btn {padding: 0 50px 0 8px;font-size: 12px;}
    .custom_select .option_btn {padding:0 8px; font-size: 12px;}

    .form_check_txt {font-size: 12px;}

    .modal_content_wrap {padding-bottom: 20px;}
    .modal_content_wrap h2 {font-size: 14px;line-height:44px;}
    .modal .btn_close {top: 10px;}
    .modal .exp {padding: 0 10px;}
    .modal .lg {margin-bottom: 10px;font-size: 16px;}
    .modal .sm {margin-bottom: 20px;font-size: 12px;line-height:1.5;}
    .modal .policy {margin-bottom: 20px;padding: 0 20px;font-size: 12px;}
    .modal .frm_wrap {padding: 0 20px;}
    .modal .frm_wrap .d_flex {flex-direction:column;}
    .modal .frm_wrap .input_row {margin-bottom: 10px;flex-basis:100%;}
    .modal .frm_wrap label {font-size: 14px;}
    .modal .frm_wrap .btn_wrap {margin-top: 15px;}
    .modal .frm_wrap .btn_wrap button {width:200px;}
}
@media all and (max-width:540px){
    .br_mb {display:block !important;}
}
@media all and (max-width:400px){
    .br_mb {display:none !important;}
}