@charset "utf-8";

.pc {display:inline-block !important;}
.mo {display:none !important;}  
.f_inherit { font-family: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; color: inherit;}
.fw_400 { font-weight: 400 !important;}
.fw_700 { font-weight: 700 !important;}
.blind { overflow: hidden; position: absolute; z-index: -1; width: 1px; height: 1px; border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
.color-344ca9 { color: #344ca9;}
.color-ffeaa9 { color: #ffeaa9;}
.color-1e9cff { color: #1e9cff;}
.color-acc8ff { color: #acc8ff;}

.inner { padding: 0 12px;}
.ref { display: inline-block; position: relative;}
.ref_sm { font-size: 10px;}
.ref::before { content: '*'; display: inline-block; position: absolute; top: 0; left: 0;}
.section01 .ref::before,
.section02 .ref::before { position: static;}
.ref.type2::before { content: '※';}
.section { position: relative;}
.section .ico_box .ico { display: block; margin: 0 auto; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
.section .ttl_box { position: relative; text-align: center;}
.section .ttl_box .ttl { font-weight: 900; font-size: 22px; color: #fff;}
.section .ttl_box .ttl > em { display: inline-block; width: 100%; font-weight: inherit; font-size: 32px;}
.section .cnt_area { max-width: 315px; margin: 0 auto; border: 3px solid #fff; border-radius: 8px; box-shadow: 10px 10px 4px rgba(0, 76, 149, 0.2), inset 5px 5px 8px rgba(147, 170, 199, 0.8); background-color: rgba(255, 255, 255, .95); }
.section .cnt_area.type2 { max-width: unset; border: none; border-radius: unset; box-shadow: none; background-color: unset;}
.section .evt_list,
.section .card_list { max-width: 360px; margin: 0 auto;}
.section .dot,
.section .dashed { position: relative; padding-left: 7px; font-size: 11px;  text-align: left; }
.section .dot::before,
.section .dashed::before { display: inline-block; position: absolute; top: 0; left: 0; font-size: inherit;}
.section .dot::before { content: '·';}
.section .dashed::before { content: '-';}
.btn_toggle { display: block; position: relative; width: 23px; height: 23px; background: url('../images/app/btn_toggle.png') no-repeat center center / 100% auto; text-indent: -999px; font-size: 0;}
.btn_toggle::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 23px; height: 23px; background: url('../images/app/arw_btn_toggle.png') no-repeat center center / 100% auto; transform: rotate(0deg);}

#visual .visual_img .img { width: 100%; object-fit: cover;}

.float_area { width: 100%;}
.float_area.fixed { position: fixed; bottom: 0; left: 0; z-index: 999;}
.float_area .float_bg { width: 100%; height: 68px; background: url('../images/app/bg_float_area.png') no-repeat center center / auto 100%;}
.float_area .btn_area { position: absolute; bottom: 0; left: 50%; z-index: 1000; transform: translateX(-50%);}
.float_area .btn_detail { display: block; width: 254px; height: 57px; background: url('../images/app/btn_float.png') no-repeat center center / auto 100%; text-indent: -9999em; font-size: 0;}

.section01 { position: relative; background-color: #6189bd; text-align: center;}
.section01::before { content: ''; display: block; position: absolute; top: -100px; left: 0; width: 100%; height: 460px; background: url('../images/app/bg_section01.png') no-repeat center top / auto 100%;  pointer-events: none;}
.section01 .cnt_area { position: relative; z-index: 1; max-width: 330px; margin-top: -3px; padding: 35px 12px 25px 25px; background-color: rgba(255, 255, 255, .8);}
.section01 .evt_item { display: flex; align-items: center; border-radius: 10px; background-color: #fff; box-shadow: 5px 5px 7px rgba(0, 76, 149, 0.2);}
.section01 .evt_item + .evt_item { margin-top: 18px;}
.section01 .evt_item .num { position: relative; z-index: 100; margin-left: -3px; font-weight: 900; font-size: 14px; color: #fff;}
.section01 .evt_item .num::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 41px; height: 30px; transform: translate(-50%, -50%); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; z-index: -1;}
.section01 .evt_item:nth-child(1) .num::before { background-image: url('../images/app/img_section01_01_num.png');}
.section01 .evt_item:nth-child(2) .num::before { background-image: url('../images/app/img_section01_02_num.png');}
.section01 .evt_item:nth-child(3) .num::before { background-image: url('../images/app/img_section01_03_num.png');}
.section01 .evt_item:nth-child(4) .num::before { background-image: url('../images/app/img_section01_04_num.png');}
.section01 .evt_item .img_box { width: 60px; margin-top: -10px; margin-left: 10px;}
.section01 .evt_item .txt_box { flex: 1; text-align: center;}
.section01 .evt_item .txt_box .txt { display: block; font-weight: 500; font-size: 14px; line-height: 20px; letter-spacing: -0.04em;}
.section01 .evt_item .txt_box .txt.bnf { font-weight: 900; font-size: 20px; line-height: 20px;}
.section01 .evt_item:nth-child(1) .txt_box .txt.bnf { color: #378de4;}
.section01 .evt_item:nth-child(2) .txt_box .txt.bnf { color: #9260f0;}
.section01 .evt_item:nth-child(3) .txt_box .txt.bnf { color: #747bdd;}
.section01 .evt_item:nth-child(4) .txt_box .txt.bnf { color: #3568ed;}
.section01 .ref_list { display: inline-flex; flex-direction: column; text-align: left; margin-top: 20px;}
.section01 .ref { line-height: 1.1;}

/* .section02 { padding-top: 55px; background-color: #6189bd;}
.section02 .inner { padding: 20px;}
.section02::before { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 320px; background: url('../images/app/bg_section02.png') no-repeat center bottom / auto 100%; pointer-events: none;}
.section02 .ico_box .ico { width: 72px; height: 115px; background-image: url('../images/app/img_section02_ttl.png');}
.section02 .ttl_box .ref { margin-top: 20px; font-weight: 500; font-size: 15px; color: #fff;}
.section02 .cnt_area { position: relative; z-index: 10; margin-top: 18px; padding: 20px 14px; text-align: center;}
.section02 .evt_item { position: relative;}
.section02 .evt_item + .evt_item { margin-top: 15px; padding-top: 15px;}
.section02 .evt_item + .evt_item::before { content: ''; display: block; position: absolute; top: 0; left: 50%; width: calc(100% - 60px); height: 1px; background-color: #ccc; transform: translateX(-50%);}
.section02 .cnt_area .ttl_box { margin-bottom: 25px;}
.section02 .cnt_area .ttl_box .ttl { position: relative; z-index: 1; font-weight: 700; font-size: 13px;}
.section02 .cnt_area .ttl_box .ttl::before,
.section02 .cnt_area .ttl_box .ttl::after { content: ''; display: block; position: absolute; left: 50%; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; z-index: -1;}
.section02 .cnt_area .ttl_box .ttl::before { top: 50%;  width: 74px; height: 25px; background-image: url('../images/app/img_section02_evt_ttl.png'); transform: translate(-50%, -50%);}
.section02 .cnt_area .ttl_box .ttl::after { bottom: -12px; width: 62px; height: 8px; background-image: url('../images/app/img_section02_evt_ttl02.png'); transform: translate(-50%, 50%);}
.section02 .cnt_area .desc_box { display: inline-flex; flex-direction: column;}
.section02 .cnt_area .desc_box .desc { font-weight: 700; font-size: 11px;}
.section02 .cnt_area .desc_box .desc strong { font-weight: 900; font-size: inherit;}
.section02 .cnt_area .ref_list { display: flex; flex-direction: column; margin-top: 12px;}
.section02 .cnt_area .ref { font-size: 10px; line-height: 1.6;}
.section02 .cnt_area .desc.dashed { letter-spacing: -0.08em;} */

.section03 { position: relative; z-index: 10; padding-top: 60px; padding-bottom: 150px; overflow: hidden; background-color: #6189bd;}
.section03::before,
.section03::after { content: ''; display: block; position: absolute; left: 0; width: 100%;  pointer-events: none; background-repeat: no-repeat; background-size: auto 100%;}
.section03::before { top: 315px; height: 100%; background-image: url('../images/app/bg_section03.png'); background-position: center top -315px; }
.section03::after { top: 0; height: 315px; background-image: url('../images/app/bg_section02.png'); background-position: center bottom; z-index: -1;}
.section03 .ico_box .ico { width: 110px; height: 116px; background-image: url('../images/app/img_section03_ttl.png');}
.section03 .ttl_box .ttl { font-size: 32px;}
.section03 .cnt_area { position: relative; z-index: 1; color: rgba(255, 255, 255, .9); }
.section03 .evt_list { padding: 0 40px;}
.section03 .evt_item { margin-top: 27px;}
.section03 .evt_item + .evt_item { margin-top: 16px; padding-top: 12px; border-top: 1px solid rgba(255, 255, 255, .2);}
.section03 .evt_item .ttl_box .ttl_num { display: inline-block; width: 75px; border: 2px solid #fff; border-radius: 15px; padding: 3px; font-weight: 700; font-size: 16px; line-height: 1.125; color: #fff; box-shadow: inset 4px 4px 5px rgba(0, 23, 116), 4px 4px 5px rgba(0, 23, 116);}
.section03 .evt_item .ttl_box .ttl { display: block; margin-top: 10px; font-size: 18px; line-height: 1.1; color: #ffeaa9;}
.section03 .cnt_area .img_box { margin-top: 5px; margin-bottom: 12px; text-align: center; vertical-align: middle}
.section03 .cnt_area .img_box .img { object-fit: contain;}
.section03 .cnt_area .evt_item:nth-child(1) .img_box .img { height: 42px;}
.section03 .cnt_area .evt_item:nth-child(2) .img_box .img { height: 64px;}
.section03 .cnt_area .evt_item:nth-child(3) .img_box .img { height: 23px;}
.section03 .cnt_area .evt_item:nth-child(4) .img_box .img { height: 64px;}
.section03 .dashed_list { padding: 0 7px;}
.section03 .img_box { border-radius: 8px; width: 100%; padding: 8px 12px; background-color: rgba(0, 0, 0, .4);}
.section03 .desc { font-size: 14px;}
.section03 .ref_list { padding: 0 7px; font-size: 0;}
.section03 .ref_list.caution { margin-top: 8px;}
.section03 .ref_list.caution .ref { padding-left: 10px; font-size: 10px; color: #a3ceff; line-height: 1.3;}
.section03 .ref_list.caution .ref::before { content: '(!)';}
.section03 .ref.type2 { padding-left: 10px; font-size: 12px; color: rgba(255, 255, 255, .8);}

.section04 { position: relative; z-index: 20; margin-top: -45px;}
.section04::before { content: ''; display: block; position: absolute; top: -100px; bottom: 0; left: 0; width: 100%; height: 320px;background: rgb(152,206,254); background: linear-gradient(0deg, rgba(152,206,254, 1) 55%, rgba(152,206,254,0) 100%);}
.section04 .inner { position: relative; z-index: 10; padding: 0;}
.section04 .ttl_box .ttl { position: relative; z-index: 100;}
.section04 .inner > .ttl_box .ttl::before { content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 194px; height: 57px; background: url('../images/app/img_section04_ttl.png') no-repeat center center / 100% auto; transform: translate(-50%, -50%); z-index: -1;}
.section04 .cnt_area.type2 { background-color: rgb(152,206,254);}
.section04 .card_list { display: flex; gap: 15px; margin-top: 35px; padding: 0 20px;}
.section04 .card_item { text-align: center;}
.section04 .card_txt .img { height: 17px;}
.section04 .card_img { margin-top: 12px;}
.section04 .card_img .card { border-radius: 10px; box-shadow: 5px 5px 13px rgba(0, 0, 0, .2);}

.card_rcmd_area { text-align: center;}
.card_rcmd_area .card_rcmd_ttl .img { height: 75px; object-fit: contain;}
.card_rcmd_area .card_rcmd_list { display: flex; flex-direction: column; gap: 16px; margin-top: 20px;}
.card_rcmd_area .card_rcmd_item .img { height: 195px; object-fit: contain;}

.section05 { padding-top: 45px; padding-bottom: 90px; background-color: rgb(152,206,254);}
.section05 .cnt_area { padding: 45px 25px; background-color: rgba(255, 255, 255, .8);}
.section05 .ico_box .ico { position: absolute; top: 45px; left: 50%; width: 40px; height: 60px; background-image: url('../images/app/img_rwd_01.png'); transform: translate(-50%, -50%);}
.section05 .ttl_box { text-align: left; cursor: pointer;}
.section05 .ttl_box .ttl .img { height: 48px;}
.section05 .ttl_box .btn_toggle { position: absolute; right: 0; bottom: 0;}
.section05 .ttl_box.off .btn_toggle::before { transform: rotate(180deg);}
.section05 .content { display: none;}
.section05 .desc_box { margin-top: 25px;}
.section05 .desc_box .sub_ttl { text-align: center; font-weight: 700; font-size: 13px; color: #3a4eaa;}
.section05 .dashed_list { margin-top: 13px;}
.section05 .dot,
.section05 .dashed { font-weight: 500; font-size: 10px;}

.footer { padding: 60px 27px 110px; background-color: #2f52b0; color: rgba(255, 255, 255, .9);}
.footer .inner { max-width: 315px; margin: 0 auto; padding: 0;}
.caution + .caution { margin-top: 30px; padding-top: 38px; border-top: 1px solid rgba(255, 255, 255, .4);}
.caution .ttl { font-weight: 900; font-size: 16px; text-align: center;}
.caution .caution_list { margin-top: 18px; font-size: 0;}
.caution .dashed,
.caution .num { font-size: 12px; letter-spacing: -0.06em;}
.caution .num { padding-left: 12px; text-indent: -12px;}

@media all and (min-width: 721px) {
  .section .inner { max-width: 920px; margin: 0 auto; padding: 0;}
  .ref_sm { font-size: 30px;}
  .section .ttl_box .ttl { font-size: 52px; line-height: 1.2;}
  .section .ttl_box .ttl > em { font-size: 76px; line-height: inherit;}
  .section .cnt_area { max-width: unset; border: 5px solid #fff; border-radius: 30px; box-shadow: 20px 20px 8px rgba(0, 76, 149, 0.2), inset 10px 10px 16px rgba(147, 170, 199, 0.8); background-color: rgba(255, 255, 255, .95); }
  .section .evt_list,
  .section .card_list { max-width: unset;}
  .section .dot,
  .section .dashed { padding-left: 10px; font-size: 19px;}
  .btn_toggle,
  .btn_toggle::before { width: 46px; height: 46px;}
  .section03 .evt_list,
  .card_rcmd_area .card_rcmd_list,
  .footer .inner { padding: 0 calc(140 / 1920 * 100vw);}
  .section01 .ref,
  .section02 .ttl_box .ref { font-weight: 700;}
  .section02, .section03 { padding-top: 200px;}

  .float_area .float_bg { position: relative; height: 135px; background: url('../images/web/bg_float_area.png') no-repeat center center / 100% 100%;}
  .float_area .float_bg .bg::before,
  .float_area .float_bg .bg::after { content: ''; display: block; position: absolute; left: 0; width: 100%; height: 10px; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
  .float_area .float_bg .bg::before { top: 0; background-image: url('../images/web/bg_float_area_top.png');}
  .float_area .float_bg .bg::after { bottom: 0; background-image: url('../images/web/bg_float_area_bottom.png');}
  .float_area .btn_detail { width: 450px; height: 115px;}

  .section01::before { top: 0; height: 100%; background: url('../images/web/bg_section01.png') no-repeat center top / 100% 100%;}
  .section01 .cnt_area { padding: 90px 35px 55px 60px;}
  .section01 .evt_item { gap: 0 30px; border-radius: 20px;}
  .section01 .evt_item + .evt_item { margin-top: 40px;}
  .section01 .evt_item .num { font-size: 40px;}
  .section01 .evt_item .num::before { width: 111px; height: 78px;}
  .section01 .evt_item .img_box { align-self: end; width: 155px; margin-top: -30px; margin-left: unset;}
  .section01 .evt_item .txt_box { padding: 30px 0;}
  .section01 .evt_item .txt_box .txt { font-size: 38px; line-height: 48px; letter-spacing: -0.04em;}
  .section01 .evt_item .txt_box .txt.bnf { font-size: 54px; line-height: 64px;}
  .section01 .ref_list { margin-top: 57px; text-align: center;}

  /* .section02::before { bottom: 0; width: 100%; height: 100%; background: url('../images/web/bg_section02.png') no-repeat center bottom / 100% auto;}
  .section02 .ico_box .ico { width: 210px; height: 344px; background-image: url('../images/web/img_section02_ttl.png');}
  .section02 .ttl_box .ref { margin-top: 24px; font-size: 34px;}
  .section02 .cnt_area { position: relative;z-index: 10; margin-top: 40px; padding: 160px calc(140 / 1920 * 100vw) 150px;}
  .section02 .evt_item + .evt_item { margin-top: 40px; padding-top: 40px;}
  .section02 .evt_item + .evt_item::before { width: calc(100% - 50px);}
  .section02 .cnt_area .ttl_box { margin-bottom: 60px;}
  .section02 .cnt_area .ttl_box .ttl { font-size: 30px;}
  .section02 .cnt_area .ttl_box .ttl::before { width: 176px; height: 60px; background-image: url('../images/web/img_section02_evt_ttl.png');}
  .section02 .cnt_area .ttl_box .ttl::after { bottom: -30px; width: 144px; height: 17px; background-image: url('../images/web/img_section02_evt_ttl02.png');}
  .section02 .cnt_area .desc_box .desc { font-size: 31px;}
  .section02 .cnt_area .desc_box .desc strong { font-weight: 900; font-size: 35px;}
  .section02 .cnt_area .ref_list { margin-top: 20px;}
  .section02 .cnt_area .ref { font-size: 20px; line-height: 28px;}
  .section02 .cnt_area .desc.dashed { font-size: 25px; letter-spacing: -0.08em;} */

  .section03 { margin-top: -1px; padding-bottom: 360px;}
  .section03::before { top: 1100px; background-image: url('../images/web/bg_section03.png'); background-position: center top; background-size: 100% 100%;}
  .section03::after { top: 0; height: 1100px; background-image: url('../images/web/bg_section02.png'); background-size: 100% 100%;}
  .section03 .ico_box .ico { width: 284px; height: 300px; background-image: url('../images/web/img_section03_ttl.png');}
  .section03 .ttl_box .ttl { font-size: 80px;}
  .section03 .evt_item { margin-top: 70px;}
  .section03 .evt_item + .evt_item { margin-top: 40px; padding-top: 30px;}
  .section03 .evt_item .ttl_box .ttl_num { width: 190px; border-radius: 32px; padding: 7px; font-size: 40px; line-height: 1.15;}
  .section03 .evt_item .ttl_box .ttl { margin-top: 25px; font-size: 46px;}
  .section03 .cnt_area .img_box { margin-top: 15px; margin-bottom: 32px;}
  .section03 .cnt_area .evt_item:nth-child(1) .img_box .img { height: 105px;}
  .section03 .cnt_area .evt_item:nth-child(2) .img_box .img { height: 164px;}
  .section03 .cnt_area .evt_item:nth-child(3) .img_box .img { height: 57px;}
  .section03 .cnt_area .evt_item:nth-child(4) .img_box .img { height: 164px;}
  .section03 .dashed_list { padding: 0 10px;}
  .section03 .img_box { border-radius: 15px; padding: 20px;}
  .section03 .desc { font-size: 33px;}
  .section03 .desc.dashed { padding-left: 20px;}
  .section03 .ref_list { padding: 0; padding-left: 10px; font-size: 0;}
  .section03 .ref_list.caution { margin-top: 20px;}
  .section03 .ref_list.caution .ref { padding-left: 25px; font-weight: 700; font-size: 23px; line-height: 1.3;}
  .section03 .ref.type2 { margin-left: 10px; padding-left: 20px; font-size: 30px; line-height: 1.3;}

  .section04 { margin-top: -50px;}
  .section04::before { height: 320px; background: rgb(152,206,254); background: linear-gradient(0deg, rgba(152,206,254, 1) 55%, rgba(152,206,254,0) 100%);}
  .section04 .inner { max-width: 100%;}
  .section04 .ttl_box .ttl { font-size: 80px; line-height: 1;}
  .section04 .inner > .ttl_box .ttl::before { width: 580px; height: 165px; background: url('../images/web/img_section04_ttl.png') no-repeat center center / 100% auto;}
  .section04 .card_list { gap: 45px; max-width: 920px; margin-top: 130px; overflow: hidden;}
  .section04 .card_txt .img { height: 50px;}
  .section04 .card_img { margin-top: 40px;}
  .section04 .card_img .card { border-radius: 20px; box-shadow: 5px 5px 13px rgba(0, 0, 0, .2);}

  .card_rcmd_area .card_rcmd_ttl .img { height: 160px;}
  .card_rcmd_area .card_rcmd_list { gap: 35px;}
  .card_rcmd_area .card_rcmd_item .img { width: 100%; height: 100%;}

  .section05 { padding-top: 150px; padding-bottom: 160px;}
  .section05 .cnt_area { padding: 0;}
  .section05 .ico_box .ico { top: 150px; width: 80px; height: 120px;}
  .section05 .ttl_box { display: flex; justify-content: center; align-items: center; gap: 75px; padding: 75px 0 35px;}
  .section05 .ttl_box .ttl .img { height: 97px;}
  .section05 .ttl_box .btn_toggle { position: relative;}
  .section05 .content { padding: 40px; background-color: rgba(98, 132, 177, 0.09);}
  .section05 .desc_box { margin-top: 0;}
  .section05 .desc_box + .desc_box { margin-top: 40px;}
  .section05 .desc_box .sub_ttl { font-size: 26px;}
  .section05 .dashed_list { margin-top: 40px;}
  .section05 .dot,
  .section05 .dashed { font-size: 20px;}

  .footer { padding: 120px 0 245px; z-index: 1; letter-spacing: -0.06em;}
  .footer::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../images/web/bg_footer.png') no-repeat center top / 100% auto; z-index: -1;}
  .caution + .caution { margin-top: 60px; padding-top: 75px;}
  .caution .ttl { font-size: 36px;}
  .caution .caution_list { margin-top: 30px;}
  .caution .num,
  .caution .dashed { font-size: 22px; line-height: 1.6;}
  .caution .num { padding-left: 20px; text-indent: -20px;}
}

@media all and (min-width: 921px) {
  .card_rcmd_area .card_rcmd_item .img { height: 415px;}
  
}

@media all and (min-width: 1921px) {
  .section03 .evt_list,
  .card_rcmd_area .card_rcmd_list,
  .footer .inner { padding: 0 140px;}
  /* .section02 .cnt_area { padding: 160px 140px 150px;} */

  /* .section02::before { top: 50%; bottom: unset; background: url('../images/web/bg_section02.png') no-repeat center top / 100% 100%; transform: translateY(-50%);} */
}

@media all and (max-width:720px){
  .pc {display:none !important;}
  .mo {display:inline-block !important;}
}

@media screen and (max-width: 360px) {
  .section01 .evt_item .img_box { width: calc(60 / 360 * 100vw);}
}