@charset "utf-8";

html { font-size: 10px;}

.pc { display: block;}
.mob { display: none;}
.ico_box .ico { display: block; width: 100%; height: 100%;}
.ico { background: no-repeat center center / cover;}
.main_visual, .sec { position: relative; width: 100%; overflow: hidden;}
* { scrollbar-width: auto; scrollbar-color: var(--color-blue4) var(--color-bg);}
*::-webkit-scrollbar { width: 16px;}
*::-webkit-scrollbar-track { background: var(--color-bg);}
*::-webkit-scrollbar-thumb { background-color: var(--color-blue4); border-radius: 10px; border: 4px solid var(--color-bg);}
.ios_device .scrollbar_horizontal { display: none; position: absolute; left: 0; bottom: 0; width: 100%; height: 16px; background: var(--color-bg); z-index: 10;}
.ios_device .scrollbar_horizontal .thumb { display: none; position: absolute; left: 0; bottom: 4px; height: 8px; background-color: var(--color-blue4); border-radius: 10px; cursor: pointer;}

#header { position: fixed; top: 0; left: 0; width: 100%; z-index: 999;}
#header::before { content: ''; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-color: rgba(2, 13, 26);}
.scroll_down #header::before { display: block; opacity: 0.5;}
#header .header_inner { position: relative; margin: 3rem 6rem;}
#header .logo { display: flex; position: absolute; height: 3.5rem;}
#header .logo img { height: 100%;}
#gnb .depth1_list { display: flex; justify-content: space-between; align-items: center; max-width: 50rem; height: var(--header-height); margin: 0 auto; transition: transform .4s;}
.scroll_down #gnb .depth1_list { transform: translateY(calc(-100% - 3rem));}
.scroll_down #header:hover #gnb .depth1_list { transform: translateY(0);}
#gnb .depth1_list .depth1_item .depth1_link { position: relative; font-weight: 500; font-size: 2rem; color: var(--color-white); line-height: 1; text-transform:  uppercase;}
#gnb .depth1_list .depth1_item .depth1_link::after { content: ''; display: none; position: absolute; left: 0; bottom: -2rem; width: 100%; height: 3px; background-color: var(--color-blue1);}
#gnb .depth1_list .depth1_item .depth1_link:hover::before,
#gnb .depth1_list .depth1_item .depth1_link.active::before { opacity: 1; visibility: visible;}
#gnb .depth1_list .depth1_item .depth1_link:hover::after,
#gnb .depth1_list .depth1_item .depth1_link.active::after { display: block;}

.main_visual { height: 100vh;}
.main_visual .video { width: 100%; height:100%; object-fit: cover;}
.main_visual .ico_box { position: absolute; bottom: 6.5rem; left: 50%; width: 4.4rem; height: 3.2rem; transform: translateX(-50%);}
.main_visual .ico_box .ico { background-image: url('http://blorange17.cdn3.cafe24.com/icons/arw_bottom_white.png');}

.sec { padding: 6rem 0 0;}
.sec .inner { max-width: 128rem; margin: 0 auto;}
.sec .sec_ttl { display: flex; justify-content: center; align-items: baseline; gap: 1rem; font-weight: 700; font-size: 3rem; text-align: center; letter-spacing: 0.2em; text-transform: uppercase;}
.sec .sec_ttl span { font-weight: inherit; font-size: inherit; color: inherit;}
.sec .sec_ttl .ico.ico_symbol { display: inline-block; width: 2.4rem; height: 3rem; background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_symbol.png');}
.sec .inner .sec_ttl + [class*="_box"],
.contact .inner .info_area { margin-top: 13rem;}

.about .sec .inner .sec_ttl + [class*="_box"] { margin-top: 16rem;}

#section01 { position: relative; padding: 0;}
#section01 .sec_ttl { position: absolute; top: 13.5rem; left: 50%; width: 100%; transform: translateX(-50%); z-index: 10;}
#section01 .history_cnt { width: 100%; height: 100vh;}
#section01 .history_box { opacity: 0; position: relative; width: 100%; height: 100%;}
#section01 .history_cnt.scroll_x { overflow-x: auto; overflow-y: hidden;}
#section01 .history_box .history_list,
#section01 .history_box #commerce { position: absolute; width: 204.90928495197437vh; height: 100%;}
#section01 .history_cnt.scroll_x .history_list { height: calc(100% + 16px);}
#section01 .history_box .history_item { display: flex; flex-direction: column; align-items: center; position: absolute;}
#section01 .history_box .history_item:nth-child(1) {left: 16.008537886872997vh; bottom: calc(118 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(2) {left: 36.28601921024546vh; bottom: calc(192 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(3) {left: 48.23906083244397vh; bottom: calc(525 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(4) {left: 56.029882604055494vh; bottom: calc(263 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(5) {left: 72.78548559231591vh; top: calc(360 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(6) {left: 94.23692636072573vh; bottom: calc(438 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(7) {left: 113.12700106723585vh; bottom: calc(434 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(8) {left: 135.75240128068302vh; bottom: calc(431 / 937 * 100%);}
#section01 .history_box .history_item:nth-child(9) {left: 157.09711846318035vh; bottom: calc(450 / 937 * 100%);}
#section01 .history_box .history_item .text { height: 8.858057630736393vh;}
#section01 .history_box .history_item .dot { height: 19.637139807897544vh; margin-top: -5.869797225186766vh;}
#section01 .history_box .history_item:nth-child(3) .dot,
#section01 .history_box .history_item:nth-child(5) .dot { height: 0; margin-top: 0;}
#section01 .history_box svg { width: auto; height: 100%;}
#section01 .history_cnt.scroll_x svg { height: calc(100% + 16px);}
#section01 .history_box #path { stroke-dasharray: 2132.9912109375; stroke-dashoffset: 2132.9912109375;}

#section02 .inner { max-width: 134rem; position: relative;}
#section02 .partner_box .partner_list { display: grid; justify-content: center; align-items: center; grid-template-columns: repeat(auto-fill, minmax(auto, 22rem)); gap: 6rem; margin: 0 auto;}

#section03 .service_box .service_list { display: grid; justify-content: center; grid-template-columns: repeat(auto-fill, minmax(23.5rem, 25%)); gap: 13rem 0;}
#section03 .service_box .service_list .service_item { text-align: center;}
#section03 .service_box .service_list .service_item .ico.ico_service { display: block; width: 12rem; height: 12rem; margin: 0 auto 4.5rem; background-size: 100% auto;}
#section03 .service_box .service_list .service_item:nth-child(1) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_01.png');}
#section03 .service_box .service_list .service_item:nth-child(2) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_02.png');}
#section03 .service_box .service_list .service_item:nth-child(3) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_03.png');}
#section03 .service_box .service_list .service_item:nth-child(4) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_04.png');}
#section03 .service_box .service_list .service_item:nth-child(5) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_05.png');}
#section03 .service_box .service_list .service_item:nth-child(6) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_06.png');}
#section03 .service_box .service_list .service_item:nth-child(7) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_07.png');}
#section03 .service_box .service_list .service_item:nth-child(8) .ico.ico_service { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_service_08.png');}
#section03 .service_box .service_list .service_item .service_txt { font-weight: 500; font-size: 2.8rem; letter-spacing: -0.08em;}

#section04 .works_box .works_list { display: flex; justify-content: center; margin-top: 11rem; padding-bottom: 20rem;}
#section04 .works_box .works_list .works_item { position: relative; width: 23.5rem;}
#section04 .works_box .works_list .works_item:last-child { margin-right: 0 !important;}
#section04 .works_box .works_list .works_item:nth-child(2n-1) { transform: translateY(40px);}
#section04 .works_box .works_list .works_item.active:before { content: ''; display: block; position: absolute; width: 8.8rem; height: 4.2rem; bottom: -20rem; left: 50%; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_top_nst.png') no-repeat center center / cover; transform: translateX(-50%);}
#section04 .works_box .works_list .works_item.active:nth-child(2n-1):before { bottom: -16rem;}
#section04 .works_box .works_list .works_item .works_card { position: relative; padding: 5rem 3rem 3.5rem 2.5rem; border-radius: 1.5rem; background: linear-gradient(50deg, rgba(34,47,93,1) 0%, rgba(56,78,161,1) 70%); box-shadow: 12px 12px 13px rgba(0, 0, 0, .9); font-family: 'NanumSquare Neo'; font-size: 24px; text-align: left; letter-spacing: -0.02em; z-index: 5;}
#section04 .works_box .works_list .works_item .works_card::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--color-white); border-radius: 1.5rem; opacity: 0; visibility: hidden; z-index: -1; transform: scaleY(0); transform-origin: 50% 100%; transition: all .4s;}
#section04 .works_box .works_list .works_item.active .works_card:before { opacity: 1; visibility: visible; transform: scaleY(1);}
#section04 .works_box .works_list .works_item .works_card::after { content: ''; display: block; position: relative; z-index: 5; width: 4.4rem; height: 2.5rem; margin-top: 11.5rem; margin-left: auto; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_right_white.png') no-repeat center center / cover;}
#section04 .works_box .works_list .works_item.active .works_card::after { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_right_blue.png'); animation: arw_down .6s infinite;}
#section04 .works_box .works_list .works_item .works_card span { font-family: inherit; font-weight: inherit; font-size: inherit; transition: color .4s;}
#section04 .works_box .works_list .works_item.active .works_card span { color: var(--color-black);}
#section04 .works_box .works_list .works_item .works_card b { display: inline-block; width: 100%; margin-top: 2rem; font-family: 'NanumSquare Neo', '굴림', serif; font-weight: 500; font-size: 3.3rem; transition: color .4s; letter-spacing: -0.08em;}
#section04 .works_box .works_list .works_item.active .works_card b { color: var(--color-blue1);}
#section04 .works_container .works_content { padding: 9rem 0; background-color: var(--color-white);}
#section04 .works_container .works_content .works_cnt_list { display: grid; grid-template-columns: repeat(3, minmax(auto, 32rem)); justify-content: center; gap: 6rem;}
#section04 .works_container .works_content .works_cnt_list .works_cnt_item { position: relative; border: 1px solid var(--color-gray1);}
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link { display: block; width: 100%; height: 100%;}
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link .img.active { position: absolute; top: 0; left: 0; opacity: 0; visibility: hidden; transition: transform .4s;}
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link:hover .img,
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link:focus .img,
#section04 .works_container .works_content .works_cnt_list .works_cnt_item.open .work_link:hover .img { opacity: 0; visibility: hidden;}
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link:hover .img.active,
#section04 .works_container .works_content .works_cnt_list .works_cnt_item .work_link:focus .img.active,
#section04 .works_container .works_content .works_cnt_list .works_cnt_item.open .work_link:hover .img.active { opacity: 1; visibility: visible; transform: scale(1.05);}
#section04 .swiper .swiper_pagination { display: none;}

@media (hover: hover) {
    #section04 .works_box .works_list .works_item:hover .works_card:before { opacity: 1; visibility: visible; transform: scaleY(1);}
    #section04 .works_box .works_list .works_item:hover .works_card::after { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_right_blue.png'); animation: arw_down .6s infinite;}
    #section04 .works_box .works_list .works_item:hover .works_card span { color: var(--color-black);}
    #section04 .works_box .works_list .works_item:hover .works_card b { color: var(--color-blue1);}
}

#footer { padding: 13.5rem 0 10.5rem; background-color: var(--color-black);}
#footer * { font-family: 'NanumSquare Neo', '굴림', serif; font-weight: 300; font-size: 1.4rem;}
#footer .inner { display: flex; justify-content: space-between; max-width: 158rem; margin: 0 auto; padding: 0 1.5rem;}
#footer .footer_left .info_content,
#footer .footer_left .copyright { opacity: .5;}
#footer .footer_left .info_content { margin-top: 6rem;}
#footer .footer_left .info_content .dl { display: flex; margin-top: 1.5rem;}
#footer .footer_left .info_content .dl .dd + .dt { position: relative; margin-left: 1rem; padding-left: 1rem;}
#footer .footer_left .info_content .dl .dd + .dt::before { content: ''; display: block; position: absolute; top: 50%; left: 0; width: 1px; height: 1rem; background-color: #fff; opacity: .5; transform: translateY(-50%);}
#footer .footer_left .copyright { margin-top: 9rem; font-family: '굴림'; font-size: 1.2rem;}
.footer_right .btn { gap: 1rem; padding: 1.5rem; border-radius: 0; font-family: "Montserrat" !important; font-weight: 600 !important;}
.footer_right .btn .ico.ico_download { width: 1.2rem; height: 1.2rem; background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_download.png');}
.footer_right .footer_sns { display: flex; justify-content: end; align-items: center; gap: 1rem; margin-top: 5rem;}
.footer_right .footer_sns .footer_link { display: inline-block; width: 4rem; height: 4rem; border-radius: 100%; background: no-repeat center center / 2rem 2rem rgba(255, 255, 255, .1);}
.footer_right .footer_sns .footer_link.sns_facebook { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_facebook.png');}
.footer_right .footer_sns .footer_link.sns_insta { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_insta.png');}

.float_area { position: fixed; right: 5rem; bottom: 12.5rem; opacity: 0; visibility: 0; pointer-events: none; transition: all .4s; z-index: 990;}
.scroll_down .float_area { opacity: 1; visibility: visible; pointer-events: unset;}
.float_area .btn.btn_top { flex-direction: column; gap: 1rem; min-width: 6rem; height: 6rem; padding: 1rem; border: none; border-radius: 0; background-color: rgba(255, 255, 255, .1); font-size: 1.3rem; line-height: 1;}
.float_area .btn.btn_top::before { content: ''; display: block; width: 3rem; height: 1rem; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_top_white.png') no-repeat center center / cover;}

.modal.modal_works .btn_modal { position: absolute; top: 50%; width: 2rem; height: 3rem; background: no-repeat center center / 100% auto;}
.modal.modal_works .btn_modal.btn_next { right: -3.3854166666666665vw; background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_next_white.png'); transform: translate(100%, -50%);}
.modal.modal_works .btn_modal.btn_prev { left: -3.3854166666666665vw; background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_prev_white.png'); transform: translate(-100%, -50%);}

.people { overflow-x: hidden;}
.people .people_swiper { position: relative; overflow: unset;}
.people .img_list { padding: 10rem 0 12rem;}
.people .img_list .img_item { width: 30.5rem; height: 48rem; overflow: hidden;}
.people .btn_wrap { display: inline-flex; justify-content: end; align-items: center; gap: 3rem; position: relative; width: 100%; padding-right: 5rem;}
.people .btn_wrap .btn_round { width: 4rem; height: 4rem; background: no-repeat center center / cover;}
.people .btn_wrap .btn_round.btn_prev { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_prev_round.png');}
.people .btn_wrap .btn_round.btn_next { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_next_round.png');}

.people .welfare_box .welfare_list { display: grid; justify-content: end; grid-template-columns: repeat(3, minmax(auto, 38rem)); gap: 7rem 0;}
.people .welfare_box .welfare_list .welfare_item .welfare_content { display: flex; align-items: center; gap: 2rem;}
.people .welfare_box .welfare_list .welfare_item .welfare_content .ico_box { flex-shrink: 0; width: 10.5rem; height: 10.5rem; border-radius: 100%; background-color: var(--color-blue2);}
.people .welfare_box .welfare_list .welfare_item:nth-child(1) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_01.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(2) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_02.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(3) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_03.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(4) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_04.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(5) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_05.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(6) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_06.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(7) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_07.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(8) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_08.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(9) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_09.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(10) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_10.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(11) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_11.png');}
.people .welfare_box .welfare_list .welfare_item:nth-child(12) .welfare_content .ico_box .ico.ico_welfare { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_welfare_12.png');}
.people .welfare_box .welfare_list .welfare_item .welfare_content * { font-family: 'NanumSquare Neo', '굴림', serif; letter-spacing: -0.03em;}
.people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_ttl { margin-bottom: 1.5rem; font-weight: 800; font-size: 2.6rem;}
.people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_txt { font-weight: 300; font-size: 1.8rem;}

.people .recruit_box { display: flex; flex-direction: column; align-items: center;}
.people .step_area { width: 100%;}
.people .step_area .step_list { display: flex; justify-content: center; width: 100%;}
.people .step_area .step_list .step_item { position: relative; width: 25%; text-align: center;}
.people .step_area .step_list .step_item .ico_box { width: 10rem; height: 8.5rem; margin: 0 auto;}
.people .step_area .step_list .step_item::before { content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1.5rem; height: 2.5rem; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_next_white.png') no-repeat center center / cover; transform: translate(50%, -50%);}
.people .step_area .step_list .step_item:nth-child(4):before { content: none;}
.people .step_area .step_list .step_item:nth-child(1) .ico_box .ico.ico_step { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_step_01.png');}
.people .step_area .step_list .step_item:nth-child(2) .ico_box .ico.ico_step { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_step_02.png');}
.people .step_area .step_list .step_item:nth-child(3) .ico_box .ico.ico_step { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_step_03.png');}
.people .step_area .step_list .step_item:nth-child(4) .ico_box .ico.ico_step { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_step_04.png');}
.people .step_area .step_list .step_item .step_content { margin-top: 3rem;}
.people .step_area .step_list .step_item .step_content .step_txt { position: relative; font-family: 'NanumSquare Neo', '굴림', serif; font-weight: 700; font-size: 2.6rem; letter-spacing: -0.03em;}
.people .step_area .step_list .step_item .step_content .step_txt::before { content: ''; display: block; width: 70px; height: 25px; margin: 0 auto ; background: no-repeat center center / cover;}
.people .step_area .step_list .step_item:nth-child(1) .step_content .step_txt::before { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_step_01.png');}
.people .step_area .step_list .step_item:nth-child(2) .step_content .step_txt::before { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_step_02.png');}
.people .step_area .step_list .step_item:nth-child(3) .step_content .step_txt::before { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_step_03.png');}
.people .step_area .step_list .step_item:nth-child(4) .step_content .step_txt::before { background-image: url('http://blorange17.cdn3.cafe24.com/img/img_step_04.png');}
.people .field_area { width: 100%; margin-top: 8rem; border-top: 1px solid var(--color-white);}
.people .field_area .field_item { display: flex; min-height: 17.5rem; padding: 4rem 2.5rem;}
.people .field_area .field_item * { font-family: 'NanumSquare Neo', '굴림', serif;}
.people .field_area .field_item + .field_item { border-top: .5px solid rgba(255, 255, 255, 0.3);}
.people .field_area .field_item .field_header { width: 31.25%; padding: 0 2.5rem;}
.people .field_area .field_item .field_header .field_ttl { font-weight: 900; font-size: 3rem; color: var(--color-blue1);}
.people .field_area .field_item .field_body { padding-right: 2.5rem; flex: 1;}
.people .field_area .field_item .field_body .field_txt { font-size: 2rem; line-height: 1.7; letter-spacing: -0.03em;}
.people .recruit_box .btn { width: 41.5rem; min-height: 7rem; margin-top: 2rem; font-weight: 700; font-size: 2rem;}
.people .recruit_box .apply_address { margin-top: 2.5rem; font-size: 2.2rem; font-weight: 700;}

.contact .sec { min-height: unset; padding-bottom: 12.5rem;}
.contact .sec .inner { padding: 0 5.25rem;}
.contact .info_area { display: flex; flex-wrap: wrap; margin-top: 8.5rem;}
.contact .info_area .info_box { position: relative; width: calc(100% / 3); min-height: 8rem; text-align: center;}
.contact .info_area .info_box::before { content: ''; display: block; position: absolute; top: 50%; right: 0; width: 1px; height: 8rem; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_vertical_line.png') no-repeat center center / cover; transform: translateY(-50%);}
.contact .info_area .info_box:nth-child(3):before { content: none;}
.contact .info_area .info_box dl { display: flex; flex-direction: column; justify-content: space-between; height: 100%; padding: 0 1rem;}
.contact .info_area .info_box .address { margin-right: auto; padding-left: 0;}
.contact .info_area .info_box .media { margin-left: auto; padding-right: 0;}
.contact .info_area .info_box dt { font-weight: 300; font-size: 1.8rem; letter-spacing: -0.01em; line-height: 2; text-transform: uppercase;}
.contact .info_area .info_box dd { font-family: 'NanumSquare Neo', '굴림', serif; font-size: 1.6rem; line-height: 2;}
.contact .form_container { margin-top: 7.5rem;}
.contact .form_container .fancy_img_box { margin-top: 2.5rem;}
.contact .form_container .btn { width: 100%; min-height: 7rem; margin-top: 6.5rem; border-radius: 5px; font-weight: 700; font-size: 2rem; letter-spacing: 0.1em;}

@media all and (min-width: 1281px) {
    #section02 { padding-bottom: 12rem;}

    #section03 { padding-bottom: 14rem;}

    .works_box .swiper-wrapper { transform: unset !important;}
    .works_box .swiper-slide { margin-right: 30px;}

    #main_visual { padding-bottom: 5rem;}
    #welfare { padding-bottom: 15.5rem;}
    #recruit { padding-bottom: 13.5rem;}
}

@media all and (max-width: 1280px) {
    .pc { display: none;}
    .mob { display: block;}

    #header.mob_open { width: 100%; bottom: 0; background-color: var(--color-bg); overflow: hidden;}
    #header .header_inner { display: flex; justify-content: space-between; align-items: center; position: static;}
    #header.mob_open .header_inner { align-items: unset;}
    #header .logo { position: relative;}
    #header.mob_open .logo { display: none;}
    #header #gnb { display: none;}
    #header.mob_open #gnb { display: flex; flex-direction: column; align-items: stretch; height: 100%; margin-top: 10rem; margin-left: 0.5rem;}
    #header.mob_open #gnb .depth1_list { flex-direction: column; align-items: start; gap: 4.5rem; max-width: unset; height: unset;}
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link { font-weight: 400; font-size: 3rem;}
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link:hover,
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link:hover::before,
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link.active,
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link.active::before { color: var(--color-blue1);}
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link:hover::after,
    #header.mob_open #gnb .depth1_list .depth1_item .depth1_link.active::after { content: none;}
    #header .clone_footer .footer_right { position: absolute; bottom: 1.25rem; left: 1.5rem; right: 1.5rem; display: flex; flex-direction: row-reverse; justify-content: space-between;}
    #header .clone_footer .footer_right .footer_sns { margin-top: unset;}
    #header .clone_footer .footer_right .footer_sns .footer_link { background-color: unset;}
    #header .clone_footer .footer_right .btn { background-color: var(--color-blue1);}
    #header .nav_open { width: 5rem; height: 5rem; background: url('http://blorange17.cdn3.cafe24.com/icons/ico_gnb_open.png') no-repeat center center / cover;}
    #header.mob_open .nav_open { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_gnb_close.png');}

    #section04 .works_box .works_list { justify-content: unset; gap: unset; padding: 0 0 20rem;}
    #section04 .works_box .works_item { transform: translateX(calc(-50vw + 50% + 30px));}
    #section04 .works_box .works_list .works_item:nth-child(2n-1) { transform: translate(calc(-50vw + 50% + 30px), 40px);}
    #section04 .swiper { position: relative;}
    #section04 .swiper .swiper_pagination { display: flex; gap: 2rem; justify-content: center; position: absolute; bottom: 7rem; left: 50%; z-index: 10; transform: translateX(-50%);}
    #section04 .swiper .swiper_pagination .swiper-pagination-bullet { width: 1rem; height: 1rem; background-color: var(--color-blue3); opacity: 1; transform: scale(1);}
    #section04 .swiper .swiper_pagination .swiper-pagination-bullet-active { background-color: var(--color-gray4);}

    .people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_ttl { font-size: 1.8rem;}
    .people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_txt { font-size: 1.1rem;}
}

@media all and (max-width: 750px) {
    #header .header_inner { margin: 1.5rem;}
    #header .logo { height: 2.6rem;}
    #header .nav_open { width: 2.5rem; height: 2.5rem;}
    
    *::-webkit-scrollbar { width: 12px; height: 12px;}
    *::-webkit-scrollbar-thumb { border: 3px solid var(--color-bg);}

    .sec { padding: 4rem 0 5rem;}
    .sec .inner .sec_ttl + [class*="_box"], .contact .inner .info_area { margin-top: 5.25rem;}
    .sec .sec_ttl { gap: 0.5rem; font-size: 1.6rem;}
    .sec .sec_ttl .ico.ico_symbol { width: 1.2rem; height: 1.5rem;}

    .main_visual { display: flex; align-items: center;}
    .main_visual .video { height: unset;}
    .main_visual .ico_box { bottom: 1.5rem; width: 2rem; height: 1.6rem;}
    
    .about .sec .inner .sec_ttl + [class*="_box"] { margin-top: 6rem;}
    #section01 { min-height: 100vh;}

    #section02 .partner_box .partner_list { grid-template-columns: repeat(3, minmax(auto, 17.6rem)); gap: 3.5rem 0; padding: 0 3rem;}

    #section03 .service_box .service_list { grid-template-columns: repeat(2, minmax(auto, 50%)); gap: 4rem 0; margin-top: 6rem; padding: 0 3rem 2.5rem;}
    #section03 .service_box .service_list .service_item .ico.ico_service { width: 6rem; height: 6rem; margin-bottom: 1rem;}
    #section03 .service_box .service_list .service_item .service_txt { font-size: 1.4rem;}

    #section04 { padding-bottom: unset;}
    #section04 .works_box .works_list { margin-top: 5.5rem; padding-bottom: 6rem;}
    #section04 .works_box .works_list .works_item { width: 12.5rem;}
    #section04 .works_box .works_list .works_item:nth-child(2n-1) { transform: translate(calc(-50vw + 50% + 30px), 0);}
    #section04 .works_box .works_list .works_item.active:before { width: 5rem; height: 1.8rem;}
    #section04 .works_box .works_list .works_item.active:before { bottom: -6rem;}
    #section04 .works_box .works_list .works_item.active:nth-child(2n-1):before { bottom: -6rem;}
    #section04 .works_box .works_list .works_item .works_card { padding: 2.5rem 1.5rem 1.5rem 1.25rem; border-radius: 1.5rem; font-size: 1.2rem; box-shadow: unset;}
    #section04 .works_box .works_list .works_item .works_card::after { width: 1.6rem; height: 1rem; margin-top: 6rem;}
    #section04 .works_box .works_list .works_item .works_card b { margin-top: 1rem; font-size: 1.7rem;}
    #section04 .works_container .works_content { padding: 3.5rem 3rem;}
    #section04 .works_container .works_content .works_cnt_list { grid-template-columns: repeat(3, minmax(auto, 32rem)); gap: 1.5rem;}
    #section04 .swiper .swiper_pagination { gap: 1rem; bottom: 3.25rem;}
    #section04 .swiper .swiper_pagination .swiper-pagination-bullet { width: 0.5rem; height: 0.5rem;}

    #footer { padding: 5rem 0 4.5rem;}
    #footer * { font-size: 1.2rem;}
    #footer .footer_logo { width: 8rem;}
    #footer .footer_left .info_content { margin-top: 5rem;}
    #footer .footer_left .info_content .dl { display: flex; margin-top: 1.5rem;}
    #footer .footer_left .info_content .dl .dd + .dt { position: relative; margin-left: 1rem; padding-left: 1rem;}
    #footer .footer_left .info_content .dl .dd + .dt::before { height: 1rem;}
    #footer .footer_left .copyright { margin-top: 5.5rem;}
    #footer .footer_right { display: none;}

    .modal.modal_works .modal_body .btn_modal { position: static; width: 1rem; height: 1.5rem;}
    .modal.modal_works .modal_body .btn_modal.btn_next { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_next_gray.png'); transform: translate(0, 0);}
    .modal.modal_works .modal_body .btn_modal.btn_prev { background-image: url('http://blorange17.cdn3.cafe24.com/icons/ico_arw_prev_gray.png'); transform: translate(0, 0);}

    .float_area { right: 3rem; bottom: 20rem;}
    .float_area .btn.btn_top { gap: 0.75rem; min-width: 3rem; height: unset; padding: 0.75rem; font-size: 1.2rem;}
    .float_area .btn.btn_top::before { width: 1.5rem; height: 0.6rem;}

    .people .img_list { padding: 6rem 0 5.5rem;}
    .people .img_list .img_item { width: 20rem; height: 31.25rem;}
    .people .btn_wrap { right: 1.5rem; gap: 2.5rem; padding-right: 1.5rem;}
    .people .btn_wrap .btn_round { width: 3rem; height: 3rem;}

    .people .main .sec { padding-bottom: 6rem;}
    .people #welfare { padding-top: 1rem;}
    .people .welfare_box { margin-top: 6rem; padding: 0 4rem;}
    .people .welfare_box .welfare_list { gap: 3rem 1.5rem;}
    .people .welfare_box .welfare_list .welfare_item .welfare_content { flex-direction: column; gap: 1.5rem;}
    .people .welfare_box .welfare_list .welfare_item .welfare_content .ico_box { width: 5.25rem; height: 5.25rem;}
    .people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_ttl { margin-bottom: 0.8rem; font-size: 1.3rem; text-align: center;}
    .people .welfare_box .welfare_list .welfare_item .welfare_content .welfare_txt { font-size: 1rem;}

    .people .recruit_box { margin-top: 5rem; padding: 0 4rem;}
    .people .step_area .step_list .step_item .ico_box { width: 5rem; height: 4rem;}
    .people .step_area .step_list .step_item::before { width: 0.6rem; height: 1rem;}
    .people .step_area .step_list .step_item .step_content { margin-top: 0.75rem;}
    .people .step_area .step_list .step_item .step_content .step_txt { font-size: 1.2rem;}
    .people .step_area .step_list .step_item .step_content .step_txt::before { width: 2.5rem; height: 1rem;}
    .people .field_area { width: 100%; margin-top: 4.5rem;}
    .people .field_area .field_item { flex-direction: column; align-items: unset; gap: 1.5rem 0; min-height: 12rem; padding: 2rem 0;}
    .people .field_area .field_item .field_header { width: unset; padding: 0;}
    .people .field_area .field_item .field_header .field_ttl { font-size: 1.8rem;}
    .people .field_area .field_item .field_body { padding: 0;}
    .people .field_area .field_item .field_body .field_txt { font-size: 1.2rem;}
    .people .recruit_box .btn { width: 100%; min-height: 3.5rem; margin-top: 2.5rem; font-size: 1.4rem;}
    .people .recruit_box .apply_address { margin-top: 1.5rem; font-size: 1.3rem;}

    .contact .sec { padding-bottom: 5rem;}
    .contact .sec .inner { padding: 0 4.5rem;}
    .contact .info_area { gap: 2.25rem; margin-top: 0;}
    .contact .info_area .info_box { width: 100%; min-height: unset; text-align: unset;}
    .contact .info_area .info_box::before { content: none;}
    .contact .info_area .info_box dl { flex-direction: row; justify-content: start; gap: unset; padding: unset;}
    .contact .info_area .info_box .address { margin-right: unset;}
    .contact .info_area .info_box .media { margin-left: unset;}
    .contact .info_area .info_box dt { width: 30%; min-width: 10rem; font-size: 1.2rem;}
    .contact .info_area .info_box dd { margin-top: unset; font-size: 1.2rem;}
    .contact .form_container { margin-top: 4.25rem;}
    .contact .form_container .fancy_img_box { margin-top: 1.25rem;}
    .contact .form_container .btn { min-height: 3.5rem; margin-top: 4.25rem; padding: 1rem; border-radius: 0.5rem; font-size: 1.3rem;}
}

@keyframes arw_down {
    0% {
        transform: rotate(90deg) translateX(0);
    }
    50% {
        transform: rotate(90deg) translateX(-1rem);
    }
    100% {
        transform: rotate(90deg) translateX(0);
    }
}