@charset "UTF-8";
/*color*/
/*font-size*/
/* base */
/*바로가기*/
.skip a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999em;
  width: 100%;
  padding: 15px 0;
  background-color: #494e53;
  color: #fff;
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  text-align: center;
  z-index: 99999;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
  top: 0;
}

.img-box {
  position: relative;
  width: 100%;
}
.img-box__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.pc {
  display: block !important;
}
@media all and (max-width: 1200px) {
  .pc {
    display: none !important;
  }
}

.mobile {
  display: none !important;
}
@media all and (max-width: 1200px) {
  .mobile {
    display: block !important;
  }
}

.blind {
  display: none !important;
}

.hidden {
  overflow: hidden !important;
}

.col_1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col_2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col_3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col_4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col_5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col_7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col_8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col_9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col_10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col_11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.mt_0 {
  margin-top: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Pretendard", "맑은 고딕", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
li,
dd,
a,
address {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
tr,
td,
thead,
tbody,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

i,
em,
address {
  font-style: normal;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

img,
fieldset,
iframe {
  border: none;
}

img {
  vertical-align: top;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  vertical-align: middle;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border: none;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

table td {
  word-break: break-all;
}

u {
  text-decoration: none;
}

font {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

legend,
caption {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

caption {
  position: static;
  color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

::-webkit-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

::-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-ms-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

input[type=reset],
input[type=button],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard-Light"), url("/frontLayer/font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard-Regular"), url("/frontLayer/font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard-Medium"), url("/frontLayer/font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard-SemiBold"), url("/frontLayer/font/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard-Bold"), url("/frontLayer/font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard-Black"), url("/frontLayer/font/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: swap;
  src: local("Roboto-Thin"), url("/frontLayer/font/Roboto-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("/frontLayer/font/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url("/frontLayer/font/Roboto-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"), url("/frontLayer/font/Roboto-Bold.ttf") format("ttf");
}
/* common */
.badge {
  flex-wrap: wrap;
  min-width: 44px;
  padding: 3px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.badge--primary {
  background-color: #749ec5;
}
.badge--secondary {
  background-color: #7B7B7B;
}
.badge--success {
  background-color: #175e9e;
}

.btn {
  flex-wrap: wrap;
  width: 100%;
  padding: 9px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn--primary {
  background-color: #749ec5;
}
.btn--success {
  background-color: #175e9e;
}
.btn:disabled {
  background-color: #7B7B7B;
  cursor: not-allowed;
}
.btn--dark {
  background-color: #121212;
}
.btn--hamburger {
  width: 40px;
  height: 40px;
  background: url("../images/icons/ico_hamburger.svg") no-repeat center center/100% auto;
}
.header.on .btn--hamburger {
  background-image: url("../images/icons/ico_close.svg");
  background-size: 20px 20px;
}

/* layout */
.footer .img-box {
  height: 100%;
}
.footer .img-box__img {
  object-fit: contain;
}
.footer__inner {
  position: relative;
  display: flex;
  align-items: center;
}
.footer__swiper {
  overflow: hidden;
  width: 100%;
  height: 140px;
  margin: 0 55px;
}
.footer__btn {
  width: 30px;
  height: 60px;
}
.footer__btn--prev {
  left: 24px;
  background-image: url("../images/icons/arw_slider_prev_black_thin.svg");
}
.footer__btn--next {
  right: 24px;
  background-image: url("../images/icons/arw_slider_next_black_thin.svg");
}
.footer__top {
  padding: 30px 0;
  border-top: 1px solid #e2e2e2;
}
.footer__top .footer__inner {
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer-nav__link {
  font-weight: 700;
  font-size: 18px;
}
.footer__util .util-social__list {
  gap: 34px;
}
.footer__bottom {
  padding: 40px 0;
  border-top: 1px solid #e2e2e2;
}
.footer__bottom .footer__inner {
  gap: 40px;
}

.dl-wrap {
  display: flex;
  gap: 5px 10px;
}
.dl-wrap__content {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.dl-wrap__ttl, .dl-wrap__txt {
  font-size: 14px;
  line-height: 1.5;
}
.dl-wrap__ttl {
  color: #6d6d6d;
}
.dl-wrap__txt {
  color: #373737;
}
.dl-wrap__link {
  font-size: inherit;
  color: inherit;
}

.copyright {
  background-color: #121212;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.header {
  position: relative;
  z-index: 500;
  height: 120px;
  border-bottom: 1px solid #e2e2e2;
}
.header__inner {
  height: 100%;
  margin: 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header.on, body.scroll_down .header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  background-color: #fff;
}

.nav__bg {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item {
  display: inline-block;
  position: relative;
  width: 173px;
  text-align: center;
}
.nav__item:first-child .nav__submenu {
  border-left: none;
}
.nav__submenu {
  display: none;
  position: absolute;
  top: 121px;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  padding: 24px 0;
  border-right: 1px solid #e2e2e2;
}
.nav__item:first-child .nav__submenu {
  border-left: 1px solid #e2e2e2;
}

.nav__submenu::before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
  transform: scale(0.8);
  transition: opacity 0.1s, transform 0.3s;
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.nav-submenu__link, .nav-submenu__link--arrow {
  display: inline-block;
  padding: 8px 0;
  font-size: 18px;
}
.nav-submenu__link--arrow {
  display: flex;
}
.nav-submenu__link--arrow--active::after {
  transform: rotate(180deg) !important;
}
.nav-submenu__link--arrow::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url("../images/icons/arw_down_gray.svg") no-repeat center/100% auto;
  transform: rotate(0);
  transition: transform 0.4s;
}
.nav-submenu__depth03 {
  margin: 0 40px;
  padding: 4px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.nav-depth03__link {
  display: inline-block;
  padding: 4px 0;
  font-size: 16px;
  text-align: center;
}
.nav__link {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 120px;
  transition: color 0.3s;
}
.nav__link::before {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #175e9e;
  transform: scaleX(0);
  transition: transform 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.nav__ad {
  display: none;
  position: absolute;
  top: 121px;
  right: 0;
  width: calc((100% - 865px) / 2);
  padding: 32px 80px 0;
}

.nav-ad {
  max-width: 368px;
}
.nav-ad__imgBox {
  overflow: hidden;
  width: 100%;
  padding-top: 54.347826087%;
  border-radius: 10px;
}

.util {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__list, .util-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__item + .util-auth__item::before {
  width: 1px;
  height: 16px;
  margin: 0 8px;
  background-color: #e2e2e2;
  vertical-align: middle;
  display: inline-block;
  position: static;
  content: "";
}
.util-auth__link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #373737;
  transition: color 0.3s;
}
.util-auth__link:hover, .util-auth__link:focus, .util-auth__link--blue {
  color: #175e9e;
}

.mGnb {
  display: none;
  position: fixed;
  top: 96px;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  overflow-y: auto;
  height: 100%;
}

@media all and (min-width: 1201px) {
  .nav__item.on .nav__submenu:before {
    transform: scale(1);
    opacity: 1;
  }
  .nav__submenu::before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
    transform: scale(0.8);
    transition: opacity 0.1s, transform 0.3s;
    opacity: 0;
    display: block;
    position: absolute;
    content: "";
  }
  .nav__item.on .nav__link::before {
    transform: scaleX(1);
  }
  .nav__item.on .nav__link, .nav__link:hover, .nav__link:focus {
    color: #175e9e;
  }
}
@media all and (max-width: 1599px) {
  .header__inner {
    margin: 0 44px;
  }
  .nav__item {
    width: 138px;
  }
  .nav-submenu__link, .nav-submenu__link--arrow {
    font-size: 14px;
  }
  .nav-submenu__depth03 {
    margin: 0 32px;
  }
  .nav-depth03__link {
    font-size: 12px;
  }
  .nav__link {
    font-size: 18px;
  }
  .nav__ad {
    width: calc((100% - 690px) / 2);
    padding: 32px 64px 0;
  }
}
@media all and (max-width: 1399px) {
  .header__inner {
    margin: 0 34px;
  }
  .nav__item {
    width: 7.8627591137%;
  }
  .nav__ad {
    width: 30%;
    padding: 32px 50px 0;
  }
}
@media all and (max-width: 1200px) {
  .header {
    height: 96px;
  }
  .header__inner {
    margin: 0 24px;
  }
  .logo__link img {
    height: 64px;
  }
  .nav__list {
    flex-direction: column;
    overflow-y: auto;
  }
  .nav__item {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
  }
  .nav__item:last-child .nav__link::after {
    content: none;
  }
  .nav__item--active .nav__link {
    background-color: #175e9e;
    color: #fff;
  }
  .nav__item--active .nav__link::after {
    filter: invert(1);
    transform: rotate(180deg);
  }
  .nav__submenu {
    position: static;
    padding: 0;
    border: none;
  }
  .nav-submenu {
    padding: 16px 24px;
    text-align: left;
  }
  .nav-submenu__link, .nav-submenu__link--arrow {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
  }
  .nav-submenu__depth03 {
    display: none;
    margin: 0;
    padding: 12px 0;
  }
  .nav-depth03__link {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    font-size: 18px;
  }
  .nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
  }
  .nav__link::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: auto;
    background: url("../images/icons/arw_down_black2.svg") no-repeat center/cover;
    transition: transform 0.4s;
  }
  .nav__ad {
    display: block;
    position: static;
    padding: 38px 10px;
    width: 100%;
  }
  .nav-ad {
    margin: 0 auto;
  }
  .util {
    position: static;
    height: 60px;
    padding: 16px 24px;
    border-bottom: 1px solid #e2e2e2;
    transform: translateY(0);
  }
  .util-social {
    margin-left: auto;
  }
}
/* pages */
.sec {
  margin: 90px 0 120px;
}
@media all and (max-width: 1200px) {
  .sec {
    margin: 72px 0 96px;
  }
}
@media all and (max-width: 768px) {
  .sec {
    margin: 60px 0;
  }
}
.sec__inner, .main-visual__txtarea, .footer__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
@media all and (max-width: 1200px) {
  .sec__inner, .main-visual__txtarea, .footer__inner {
    max-width: 100%;
  }
}
.sec__ttl {
  padding: 0 0 56px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}
@media all and (max-width: 1200px) {
  .sec__ttl {
    padding-bottom: 44px;
    font-size: 24px;
  }
}
@media all and (max-width: 768px) {
  .sec__ttl {
    padding-bottom: 32px;
  }
}

.swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-pagination {
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: width 0.3s;
  opacity: 1;
  border-radius: 4px;
}
.schedule .swiper-pagination-bullet {
  background-color: #E2E2E2;
}
.schedule .swiper-pagination-bullet-active {
  background-color: #749ec5;
}

.swiper-pagination-bullet-active {
  width: 24px;
  background-color: #749ec5;
}

.main-visual {
  position: relative;
  overflow: hidden;
  height: 560px;
}
@media all and (max-width: 1200px) {
  .main-visual {
    height: 450px;
  }
}
@media all and (max-width: 768px) {
  .main-visual {
    height: 240px;
  }
}
.main-visual ul {
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual__slide01 {
  background-image: url("../images/img/img_slides_01.jpg");
}
.main-visual__slide02 {
  background-image: url("../images/img/img_slides_02.jpg");
}
.main-visual__slide03 {
  background-image: url("../images/img/img_slides_03.jpg");
}
.main-visual__slide04 {
  background-image: url("../images/img/img_slides_04.jpg");
}
.main-visual__slide05 {
  background-image: url("../images/img/img_slides_05.jpg");
}
.main-visual__slide06 {
  background-image: url("../images/img/img_slides_06.jpg");
}
.main-visual__btn {
  width: 56px;
  height: 56px;
}
@media all and (max-width: 1200px) {
  .main-visual__btn {
    display: none;
  }
}
.main-visual__btn--prev {
  left: 64px;
  background-image: url("../images/icons/arw_slider_prev.svg");
}
@media all and (max-width: 1200px) {
  .main-visual__btn--prev {
    left: 24px;
  }
}
.main-visual__btn--next {
  right: 64px;
  background-image: url("../images/icons/arw_slider_next.svg");
}
@media all and (max-width: 1200px) {
  .main-visual__btn--next {
    right: 24px;
  }
}
.main-visual__pagination {
  position: absolute;
  bottom: 16px !important;
}
@media all and (min-width: 1201px) {
  .main-visual__pagination {
    left: 50% !important;
  }
}
@media all and (max-width: 1200px) {
  .main-visual__pagination {
    left: auto;
    right: 24px;
    width: 48px;
    padding: 4px;
    border-radius: 24px;
    background-color: rgba(116, 158, 197, 0.6);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    transform: translateX(0);
  }
  .main-visual__pagination span {
    color: inherit;
  }
  .main-visual__pagination-total {
    font-weight: 400;
    opacity: 0.8;
  }
}
.main-visual__txtarea {
  height: 100%;
  display: flex;
  align-items: center;
}
@media all and (max-width: 1399px) {
  .main-visual__txtarea {
    padding: 0 144px;
  }
}
@media all and (max-width: 1200px) {
  .main-visual__txtarea {
    padding: 0 7.5%;
  }
}
@media all and (max-width: 768px) {
  .main-visual__txtarea {
    padding: 0 24px;
  }
}
.main-visual__ttl {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  line-height: 1.3;
}
@media all and (max-width: 1200px) {
  .main-visual__ttl {
    font-size: 38px;
  }
}
@media all and (max-width: 768px) {
  .main-visual__ttl {
    font-size: 26px;
  }
}

@media all and (max-width: 768px) {
  .schedule {
    position: relative;
  }
}
.schedule__pagination, .schedule__btn {
  display: none;
}
@media all and (max-width: 1200px) {
  .schedule__pagination {
    display: block;
    left: 50% !important;
    bottom: 0 !important;
  }
}
.schedule__list {
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .schedule__list {
    gap: 16px;
    padding-bottom: 32px;
  }
}
.schedule__slide {
  width: calc((100% - 48px) / 3);
}
@media all and (max-width: 1200px) {
  .schedule__slide {
    width: calc((100% - 32px) / 3);
  }
}
@media all and (max-width: 768px) {
  .schedule__slide {
    width: 256px;
  }
}
.schedule__imgbox {
  padding-top: 54.347826087%;
  border-radius: 10px;
  overflow: hidden;
}
@media all and (max-width: 1200px) {
  .schedule__imgbox {
    padding-top: 70.3125%;
  }
}
.schedule__txt {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  gap: 5px;
  display: flex;
  align-items: center;
}
@media all and (max-width: 1200px) {
  .schedule__txt {
    font-size: 20px;
    right: 12px;
    bottom: 12px;
  }
}
@media all and (max-width: 768px) {
  .schedule__txt {
    font-size: 16px;
  }
}
.schedule__txt::after {
  width: 24px;
  height: 24px;
  background: url("../images/icons/arw_right_white_sm.svg") no-repeat center/100% auto;
  display: block;
  content: "";
}
@media all and (max-width: 768px) {
  .schedule__txt::after {
    width: 16px;
    height: 16px;
  }
}

.notice__inner {
  display: flex;
}
@media all and (max-width: 768px) {
  .notice__inner {
    flex-direction: column;
  }
}
.notice .ttl-wrap {
  position: relative;
  padding-right: 80px;
}
@media all and (max-width: 768px) {
  .notice .ttl-wrap {
    max-width: 100%;
    flex: 1 1 100%;
    padding-right: 0;
  }
}
.notice .ttl-wrap::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: -9999px;
  z-index: -1;
  background-color: #f9f9f9;
  display: block;
  position: absolute;
  content: "";
}
@media all and (max-width: 768px) {
  .notice .ttl-wrap::before {
    right: 17.7083333333%;
  }
}
.notice .ttl-wrap__area {
  display: none;
  padding: 40px 0;
}
@media all and (max-width: 1200px) {
  .notice .ttl-wrap__area {
    padding: 32px 0;
  }
}
@media all and (max-width: 768px) {
  .notice .ttl-wrap__area {
    padding: 16px 0;
  }
}
.notice .ttl-wrap__area--active {
  display: block;
}
.notice .ttl-wrap__ttl {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  gap: 16px;
  display: flex;
  align-items: center;
}
@media all and (max-width: 1200px) {
  .notice .ttl-wrap__ttl {
    font-size: 44px;
  }
}
@media all and (max-width: 768px) {
  .notice .ttl-wrap__ttl {
    font-size: 32px;
    gap: 8px;
  }
}
.notice .ttl-wrap__ttl::after {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display: block;
  content: "";
}
@media all and (max-width: 768px) {
  .notice .ttl-wrap__ttl::after {
    width: 24px;
    height: 24px;
  }
}
.notice .ttl-wrap__ttl:nth-child(1)::after {
  background-image: url("../images/icons/ico_notice.svg");
}
.notice .ttl-wrap__ttl:nth-child(2)::after {
  background-image: url("../images/icons/ico_asteriskSimple.svg");
}
.notice .ttl-wrap__txt {
  position: relative;
  gap: 4px;
  display: flex;
  align-items: center;
}
.notice .ttl-wrap__txt::after {
  width: 100%;
  max-width: 16px;
  height: 16px;
  background: url("../images/icons/arw_right_black.svg") no-repeat center/100% auto;
  display: block;
  content: "";
}
.notice__content {
  padding: 40px 60px;
}
@media all and (max-width: 1200px) {
  .notice__content {
    padding: 32px 0 32px 48px;
  }
}
@media all and (max-width: 768px) {
  .notice__content {
    padding: 24px 0;
    max-width: 100%;
    flex: 1 1 100%;
  }
}
.notice__tab {
  padding-right: 0;
}
.notice__tab .tabs {
  display: flex;
  gap: 40px;
}
.notice__tab .tabs__item {
  position: relative;
}
.notice__tab .tabs__item--active::before {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #175e9e;
  display: block;
  position: absolute;
  content: "";
}
.notice__tab .tabs__item--active .tabs__btn {
  font-weight: 600;
  color: #121212;
}
.notice__tab .tabs__btn {
  display: inline-block;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  color: #6d6d6d;
  line-height: 1.5;
}
.notice__tab .tab-content {
  display: none;
  width: 100%;
  height: 285px;
}
.notice__tab .tab-content li:last-child {
  border-bottom: 1px solid #e2e2e2;
}
.notice__tab .tab-content--active {
  display: block;
}
.notice__tab .tab-content__item {
  padding: 16px 8px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notice__tab .tab-content__ttl {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice__tab .tab-content__date {
  display: inline-block;
  width: 112px;
  color: #6d6d6d;
  text-align: center;
  line-height: 1.5;
}