@charset "UTF-8";
/*color*/
/*font-size*/
/* base */
/*바로가기*/
.skip a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999em;
  width: 100%;
  padding: 15px 0;
  background-color: #494e53;
  color: #fff;
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  text-align: center;
  z-index: 99999;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
  top: 0;
}

.pc {
  display: block !important;
}

.blind,
.mobile {
  display: none !important;
}

.img-box {
  position: relative;
  width: 100%;
}
.img-box__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Pretendard", "맑은 고딕", "sans-serif";
  font-size: 10px;
  font-weight: 400;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
li,
dd,
a,
address {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
tr,
td,
thead,
tbody,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

i,
em,
address {
  font-style: normal;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

img,
fieldset,
iframe {
  border: none;
}

img {
  vertical-align: top;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  vertical-align: middle;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border: none;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

table td {
  word-break: break-all;
}

u {
  text-decoration: none;
}

font {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

legend,
caption {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

caption {
  position: static;
  color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

::-webkit-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

::-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-ms-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

input[type=reset],
input[type=button],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard-Light"), url("/frontLayer/font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard-Regular"), url("/frontLayer/font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard-Medium"), url("/frontLayer/font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard-SemiBold"), url("/frontLayer/font/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard-Bold"), url("/frontLayer/font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard-Black"), url("/frontLayer/font/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: swap;
  src: local("Roboto-Thin"), url("/frontLayer/font/Roboto-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("/frontLayer/font/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url("/frontLayer/font/Roboto-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"), url("/frontLayer/font/Roboto-Bold.ttf") format("ttf");
}
/* common */
.badge {
  flex-wrap: wrap;
  min-width: 44px;
  padding: 3px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.badge--primary {
  background-color: #749ec5;
}
.badge--secondary {
  background-color: #7B7B7B;
}
.badge--success {
  background-color: #175e9e;
}

.btn {
  flex-wrap: wrap;
  width: 100%;
  padding: 9px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn--primary {
  background-color: #749ec5;
}
.btn--success {
  background-color: #175e9e;
}
.btn:disabled {
  background-color: #7B7B7B;
  cursor: not-allowed;
}
.btn--dark {
  background-color: #121212;
}

/* layout */
.header {
  height: 120px;
  border-bottom: 1px solid #e2e2e2;
}
.header__inner {
  height: 100%;
  margin: 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  width: 100%;
  z-index: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-submenu__link {
  display: inline-block;
  padding: 8px 0;
  font-size: 18px;
}
.nav-submenu__depth03 {
  margin: 0 40px;
  padding: 4px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.nav-depth03__link {
  display: inline-block;
  padding: 4px 0;
  font-size: 16px;
  text-align: center;
}
.nav__bg {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item {
  display: inline-block;
  position: relative;
  width: 173px;
  text-align: center;
}
.nav__link {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 120px;
  transition: color 0.3s;
}
.nav__item.on .nav__link::before {
  transform: scaleX(1);
}

.nav__item.on .nav__link, .nav__link:hover, .nav__link:focus {
  color: #175e9e;
}

.nav__link::before {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #175e9e;
  transform: scaleX(0);
  transition: transform 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.nav__submenu {
  display: none;
  position: absolute;
  top: 121px;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  padding: 24px 0;
  border-right: 1px solid #e2e2e2;
}
.nav__item:first-child .nav__submenu {
  border-left: 1px solid #e2e2e2;
}

.nav__submenu::before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
  transform: scale(0.8);
  transition: opacity 0.1s, transform 0.3s;
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.nav__item.on .nav__submenu:before {
  transform: scale(1);
  opacity: 1;
}

.nav__ad {
  display: none;
  position: absolute;
  top: 121px;
  right: 0;
  width: 27.4739583333%;
  padding: 32px 80px 0;
}

.nav-ad__imgbox {
  overflow: hidden;
  max-width: 368px;
  padding-top: 54.347826087%;
  border-radius: 10px;
}

.util {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__list, .util-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__item + .util-auth__item::before {
  width: 1px;
  height: 16px;
  margin: 0 8px;
  background-color: #e2e2e2;
  vertical-align: middle;
  display: inline-block;
  position: static;
  content: "";
}
.util-auth__link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #373737;
  transition: color 0.3s;
}
.util-auth__link:hover, .util-auth__link:focus, .util-auth__link--blue {
  color: #175e9e;
}

/* pages */