@charset "UTF-8";
/*color*/
/*font-size*/
/* base */
/*바로가기*/
.skip a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999em;
  width: 100%;
  padding: 15px 0;
  background-color: #494e53;
  color: #fff;
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  text-align: center;
  z-index: 99999;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
  top: 0;
}

.img-box {
  position: relative;
  width: 100%;
}
.img-box__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.pc {
  display: block !important;
}

.mobile {
  display: none !important;
}

.blind {
  display: none !important;
}

.hidden {
  overflow: hidden !important;
}

.col_1 {
  flex: 0 0 calc(100% / 12 * 1);
  max-width: calc(100% / 12 * 1);
}

.col_2 {
  flex: 0 0 calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
}

.col_3 {
  flex: 0 0 calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
}

.col_4 {
  flex: 0 0 calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
}

.col_5 {
  flex: 0 0 calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
}

.col_6 {
  flex: 0 0 calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6);
}

.col_7 {
  flex: 0 0 calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
}

.col_8 {
  flex: 0 0 calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col_9 {
  flex: 0 0 calc(100% / 12 * 9);
  max-width: calc(100% / 12 * 9);
}

.col_10 {
  flex: 0 0 calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

.col_11 {
  flex: 0 0 calc(100% / 12 * 11);
  max-width: calc(100% / 12 * 11);
}

.col_12 {
  flex: 0 0 calc(100% / 12 * 12);
  max-width: calc(100% / 12 * 12);
}

.mt_0 {
  margin-top: calc(0 * 5px);
}

.w_0 {
  width: 0%;
}

.mt_5 {
  margin-top: calc(1 * 5px);
}

.w_5 {
  width: 5%;
}

.mt_10 {
  margin-top: calc(2 * 5px);
}

.w_10 {
  width: 10%;
}

.mt_15 {
  margin-top: calc(3 * 5px);
}

.w_15 {
  width: 15%;
}

.mt_20 {
  margin-top: calc(4 * 5px);
}

.w_20 {
  width: 20%;
}

.mt_25 {
  margin-top: calc(5 * 5px);
}

.w_25 {
  width: 25%;
}

.mt_30 {
  margin-top: calc(6 * 5px);
}

.w_30 {
  width: 30%;
}

.mt_35 {
  margin-top: calc(7 * 5px);
}

.w_35 {
  width: 35%;
}

.mt_40 {
  margin-top: calc(8 * 5px);
}

.w_40 {
  width: 40%;
}

.mt_45 {
  margin-top: calc(9 * 5px);
}

.w_45 {
  width: 45%;
}

.mt_50 {
  margin-top: calc(10 * 5px);
}

.w_50 {
  width: 50%;
}

.mt_55 {
  margin-top: calc(11 * 5px);
}

.w_55 {
  width: 55%;
}

.mt_60 {
  margin-top: calc(12 * 5px);
}

.w_60 {
  width: 60%;
}

.mt_65 {
  margin-top: calc(13 * 5px);
}

.w_65 {
  width: 65%;
}

.mt_70 {
  margin-top: calc(14 * 5px);
}

.w_70 {
  width: 70%;
}

.mt_75 {
  margin-top: calc(15 * 5px);
}

.w_75 {
  width: 75%;
}

.mt_80 {
  margin-top: calc(16 * 5px);
}

.w_80 {
  width: 80%;
}

.mt_85 {
  margin-top: calc(17 * 5px);
}

.w_85 {
  width: 85%;
}

.mt_90 {
  margin-top: calc(18 * 5px);
}

.w_90 {
  width: 90%;
}

.mt_95 {
  margin-top: calc(19 * 5px);
}

.w_95 {
  width: 95%;
}

.mt_100 {
  margin-top: calc(20 * 5px);
}

.w_100 {
  width: 100%;
}

@media all and (max-width: 1200px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Pretendard", "맑은 고딕", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
li,
dd,
a,
address {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
tr,
td,
thead,
tbody,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

i,
em,
address {
  font-style: normal;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

img,
fieldset,
iframe {
  border: none;
}

img {
  vertical-align: top;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  vertical-align: middle;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border: none;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

table td {
  word-break: break-all;
}

u {
  text-decoration: none;
}

font {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

legend,
caption {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

caption {
  position: static;
  color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

::-webkit-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

::-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-ms-input-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

:-moz-placeholder {
  font: 16px "Pretendard", "맑은 고딕", "sans-serif";
  font-weight: 400;
  color: #D4D4D4;
}

input[type=reset],
input[type=button],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard-Light"), url("/frontLayer/font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard-Regular"), url("/frontLayer/font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard-Medium"), url("/frontLayer/font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard-SemiBold"), url("/frontLayer/font/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard-Bold"), url("/frontLayer/font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard-Black"), url("/frontLayer/font/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: swap;
  src: local("Roboto-Thin"), url("/frontLayer/font/Roboto-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: local("Roboto-Regular"), url("/frontLayer/font/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: local("Roboto-Medium"), url("/frontLayer/font/Roboto-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: local("Roboto-Bold"), url("/frontLayer/font/Roboto-Bold.ttf") format("ttf");
}
/* common */
.badge {
  flex-wrap: wrap;
  min-width: 44px;
  padding: 3px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.badge--primary {
  background-color: #749ec5;
}
.badge--secondary {
  background-color: #7B7B7B;
}
.badge--success {
  background-color: #175e9e;
}

.btn {
  flex-wrap: wrap;
  width: 100%;
  padding: 9px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* s: Block */
  /* e: Block */
  /* s: Modified */
  /* e: Modified */
}
.btn-social {
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
}
.btn-social__txt {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social__txt::before {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display: inline-block;
  content: "";
}
.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--primary {
  background-color: #749ec5;
}
.btn--secondary {
  background-color: #bcbcbc;
}
.btn--success, .btn--active {
  background-color: #175e9e;
}
.btn:disabled {
  background-color: #7B7B7B;
  cursor: not-allowed;
}
.btn--dark {
  background-color: #121212;
}
.btn--hamburger {
  width: 40px;
  height: 40px;
  background: url("../images/icons/ico_hamburger.svg") no-repeat center center/100% auto;
}
.header.on .btn--hamburger {
  background-image: url("../images/icons/ico_close.svg");
  background-size: 20px 20px;
}

.btn--kakao {
  background-color: #FEE500;
  color: #000;
}
.btn__txt--kakao::before {
  width: 20px;
  background-image: url("../images/icons/ico_kakao.svg");
}
.btn--chk-id {
  width: 34.5%;
}

@media all and (max-width: 1200px) {
  .btn {
    padding: 8px;
    font-size: 14px;
    /* s: Block */
    /* e: Block */
    /* s: Modified */
    /* e: Modified */
  }
  .btn-social {
    padding: 12px;
    font-size: 12px;
  }
  .btn-social__txt {
    gap: 4px;
  }
  .btn-social__txt::before {
    width: 14px;
    height: 14px;
  }
  .btn--hamburger {
    width: 32px;
    height: 32px;
  }
  .header.on .btn--hamburger {
    background-size: 16px 16px;
  }
  .btn__txt--kakao::before {
    width: 16px;
  }
  .btn--chk-id {
    width: 100%;
  }
}
/* s: block */
.form-control {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;
  padding: 12px 15px;
  border: 1px solid #bcbcbc;
  background-color: #fff;
  font-size: 16px;
  color: #666;
  line-height: 1.25;
  transition: text-indent 0.45s;
  border-radius: 8px;
  outline: none;
}
.form-control::placeholder {
  color: #bcbcbc;
  transition: all 0.25s ease;
}
.form-control:focus::placeholder {
  transform: translate(0.2em);
}
.form-control:placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-control:disabled, .form-control:read-only {
  border: none;
  background-color: #f9f9f9;
  cursor: not-allowed;
}
.form-control.form_datepicker, .form-control.form_timepicker {
  padding-right: 54px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px auto;
}
.form-control.form_datepicker {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 14C12.1978 14 12.3911 13.9414 12.5556 13.8315C12.72 13.7216 12.8482 13.5654 12.9239 13.3827C12.9996 13.2 13.0194 12.9989 12.9808 12.8049C12.9422 12.6109 12.847 12.4327 12.7071 12.2929C12.5673 12.153 12.3891 12.0578 12.1951 12.0192C12.0011 11.9806 11.8 12.0004 11.6173 12.0761C11.4346 12.1518 11.2784 12.28 11.1685 12.4444C11.0586 12.6089 11 12.8022 11 13C11 13.2652 11.1054 13.5196 11.2929 13.7071C11.4804 13.8946 11.7348 14 12 14ZM17 14C17.1978 14 17.3911 13.9414 17.5556 13.8315C17.72 13.7216 17.8482 13.5654 17.9239 13.3827C17.9996 13.2 18.0194 12.9989 17.9808 12.8049C17.9422 12.6109 17.847 12.4327 17.7071 12.2929C17.5673 12.153 17.3891 12.0578 17.1951 12.0192C17.0011 11.9806 16.8 12.0004 16.6173 12.0761C16.4346 12.1518 16.2784 12.28 16.1685 12.4444C16.0586 12.6089 16 12.8022 16 13C16 13.2652 16.1054 13.5196 16.2929 13.7071C16.4804 13.8946 16.7348 14 17 14ZM12 18C12.1978 18 12.3911 17.9414 12.5556 17.8315C12.72 17.7216 12.8482 17.5654 12.9239 17.3827C12.9996 17.2 13.0194 16.9989 12.9808 16.8049C12.9422 16.6109 12.847 16.4327 12.7071 16.2929C12.5673 16.153 12.3891 16.0578 12.1951 16.0192C12.0011 15.9806 11.8 16.0004 11.6173 16.0761C11.4346 16.1518 11.2784 16.28 11.1685 16.4444C11.0586 16.6089 11 16.8022 11 17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18ZM17 18C17.1978 18 17.3911 17.9414 17.5556 17.8315C17.72 17.7216 17.8482 17.5654 17.9239 17.3827C17.9996 17.2 18.0194 16.9989 17.9808 16.8049C17.9422 16.6109 17.847 16.4327 17.7071 16.2929C17.5673 16.153 17.3891 16.0578 17.1951 16.0192C17.0011 15.9806 16.8 16.0004 16.6173 16.0761C16.4346 16.1518 16.2784 16.28 16.1685 16.4444C16.0586 16.6089 16 16.8022 16 17C16 17.2652 16.1054 17.5196 16.2929 17.7071C16.4804 17.8946 16.7348 18 17 18ZM7 14C7.19778 14 7.39112 13.9414 7.55557 13.8315C7.72002 13.7216 7.84819 13.5654 7.92388 13.3827C7.99957 13.2 8.01937 12.9989 7.98079 12.8049C7.9422 12.6109 7.84696 12.4327 7.70711 12.2929C7.56725 12.153 7.38907 12.0578 7.19509 12.0192C7.00111 11.9806 6.80004 12.0004 6.61732 12.0761C6.43459 12.1518 6.27841 12.28 6.16853 12.4444C6.05865 12.6089 6 12.8022 6 13C6 13.2652 6.10536 13.5196 6.29289 13.7071C6.48043 13.8946 6.73478 14 7 14ZM19 4H18V3C18 2.73478 17.8946 2.48043 17.7071 2.29289C17.5196 2.10536 17.2652 2 17 2C16.7348 2 16.4804 2.10536 16.2929 2.29289C16.1054 2.48043 16 2.73478 16 3V4H8V3C8 2.73478 7.89464 2.48043 7.70711 2.29289C7.51957 2.10536 7.26522 2 7 2C6.73478 2 6.48043 2.10536 6.29289 2.29289C6.10536 2.48043 6 2.73478 6 3V4H5C4.20435 4 3.44129 4.31607 2.87868 4.87868C2.31607 5.44129 2 6.20435 2 7V19C2 19.7956 2.31607 20.5587 2.87868 21.1213C3.44129 21.6839 4.20435 22 5 22H19C19.7956 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7956 22 19V7C22 6.20435 21.6839 5.44129 21.1213 4.87868C20.5587 4.31607 19.7956 4 19 4V4ZM20 19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H5C4.73478 20 4.48043 19.8946 4.29289 19.7071C4.10536 19.5196 4 19.2652 4 19V10H20V19ZM20 8H4V7C4 6.73478 4.10536 6.48043 4.29289 6.29289C4.48043 6.10536 4.73478 6 5 6H19C19.2652 6 19.5196 6.10536 19.7071 6.29289C19.8946 6.48043 20 6.73478 20 7V8ZM7 18C7.19778 18 7.39112 17.9414 7.55557 17.8315C7.72002 17.7216 7.84819 17.5654 7.92388 17.3827C7.99957 17.2 8.01937 16.9989 7.98079 16.8049C7.9422 16.6109 7.84696 16.4327 7.70711 16.2929C7.56725 16.153 7.38907 16.0578 7.19509 16.0192C7.00111 15.9806 6.80004 16.0004 6.61732 16.0761C6.43459 16.1518 6.27841 16.28 6.16853 16.4444C6.05865 16.6089 6 16.8022 6 17C6 17.2652 6.10536 17.5196 6.29289 17.7071C6.48043 17.8946 6.73478 18 7 18Z' fill='%23878787'/%3E%3C/svg%3E");
}
.form-control.form_timepicker {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V12L15 15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z' stroke='%23878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.input-group {
  position: relative;
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  align-items: stretch;
}
.input-group__timer {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #6d6d6d;
  transform: translateY(-50%);
}

/* e: block */
@media all and (max-width: 1200px) {
  .form-control {
    min-height: 38px;
    padding: 10px 12px;
    font-size: 12px;
  }
  .form-control::placeholder {
    font-size: 12px;
  }
  .input-group__timer {
    right: 12px;
    font-size: 12px;
  }
}
/* layout */
.footer__inner {
  position: relative;
  display: flex;
  align-items: center;
}
.footer__swiper {
  overflow: hidden;
  width: 100%;
  height: 140px;
  margin: 0 55px;
}
.footer__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .img-box {
  text-align: center;
}
.footer .img-box__img {
  position: static;
  width: auto;
  height: auto;
  object-fit: contain;
}
.footer__btn {
  width: 30px;
  height: 60px;
}
.footer__btn--prev {
  left: 24px;
  background-image: url("../images/icons/arw_slider_prev_black_thin.svg");
}
.footer__btn--next {
  right: 24px;
  background-image: url("../images/icons/arw_slider_next_black_thin.svg");
}
.footer__top {
  padding: 30px 0;
  border-top: 1px solid #e2e2e2;
}
.footer__top .footer__inner {
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer-nav__link {
  font-weight: 700;
  font-size: 18px;
}
.footer__util.util {
  padding: 0;
  border-bottom: none;
}
.footer__util .util-social__list {
  gap: 34px;
}
.footer__bottom {
  padding: 40px 0;
  border-top: 1px solid #e2e2e2;
}
.footer__bottom .footer__inner {
  gap: 40px;
}

.dl-wrap {
  display: flex;
  gap: 5px 10px;
}
.dl-wrap__content {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.dl-wrap__ttl, .dl-wrap__txt {
  font-size: 14px;
  line-height: 1.5;
}
.dl-wrap__ttl {
  color: #6d6d6d;
}
.dl-wrap__txt {
  color: #373737;
}
.dl-wrap__link {
  font-size: inherit;
  color: inherit;
}

.copyright {
  background-color: #121212;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

@media all and (max-width: 1200px) {
  .footer__swiper {
    height: 110px;
    margin: 0 44px;
  }
  .footer__btn {
    width: 24px;
    height: 48px;
  }
  .footer__top {
    padding: 24px 0;
  }
  .footer-nav {
    gap: 56px;
  }
  .footer-nav__link {
    font-size: 14px;
  }
  .footer__util .util-social__list {
    gap: 28px;
  }
  .footer__bottom {
    padding: 32px 0;
  }
  .footer__bottom .footer__inner {
    gap: 32px;
  }
}
@media all and (max-width: 768px) {
  .footer__swiper {
    height: 98px;
    margin: 0 16px;
  }
  .footer .img-box {
    height: 50px;
  }
  .footer .img-box__img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .footer__btn {
    width: 20px;
    height: 40px;
  }
  .footer__btn--prev {
    left: 10px;
  }
  .footer__btn--next {
    right: 10px;
  }
  .footer__top {
    padding: 15px 0;
  }
  .footer__top .footer__inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-nav {
    flex-wrap: wrap;
    gap: 8px 38px;
  }
  .footer-nav__link {
    font-size: 16px;
  }
  .footer__util {
    margin-left: auto;
  }
  .footer__util .util-social__list {
    gap: 24px;
  }
  .footer__bottom {
    padding: 24px 0;
  }
  .footer__logo.logo__link img {
    height: 74px;
  }
  .logoTxt {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .dl-wrap {
    flex-wrap: wrap;
    gap: 0 10px;
  }
  .dl-wrap__content {
    gap: 10px;
  }
  .dl-wrap__ttl, .dl-wrap__txt {
    font-size: 12px;
  }
  .copyright {
    line-height: 32px;
  }
}
.form {
  /* s: block */
  /* e: block */
  /* s: elements */
  /* e: elements */
}
.form-group {
  display: flex;
}
.form-group + .form-group, .caution + .form-group {
  margin-top: 16px;
}
.form-group__label {
  display: inline-block;
  width: 100%;
  min-width: 110px;
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #373737;
  letter-spacing: -0.01em;
  word-break: break-all;
}
.form-group__caution {
  padding-top: 10px;
  font-size: 12px;
  color: #d7414a;
}
.form-group__caution + .form-group {
  margin-top: 16px;
}
.form-group__box {
  gap: 8px;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.form-group--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group--active .form-control {
  border-color: #d7414a;
}
.form__container {
  margin: 0 60px;
}
.form__ttl {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
.form__wrap {
  margin: 40px 0;
}
.form__label {
  padding: 0;
}
.form__btn {
  margin-top: 24px;
}
.form__util {
  margin-top: 16px;
}
.form__util-item.util-auth__item + .form__util-item.util-auth__item::before {
  margin: 0 16px;
}
.form__util-link.util-auth__link {
  font-size: 16px;
}

@media all and (max-width: 1200px) {
  .form {
    /* e: block */
    /* s: elements */
  }
  .form-group + .form-group, .caution + .form-group {
    margin-top: 12px;
  }
  .form-group__label {
    font-size: 14px;
  }
  .form-group__caution {
    padding-top: 8px;
  }
  .form-group__caution + .form-group {
    margin-top: 12px;
  }
  .form-group__box {
    gap: 6px;
  }
  .form__container {
    margin: 0 48px;
  }
  .form__ttl {
    font-size: 28px;
    text-align: center;
  }
  .form__wrap {
    margin: 32px 0;
  }
  .form__btn {
    margin-top: 20px;
  }
  .form__util {
    margin-top: 12px;
  }
  .form__util.util {
    height: auto;
    padding: 0;
    border-bottom: none;
  }
  .form__util-item.util-auth__item + .form__util-item.util-auth__item::before {
    margin: 0 12px;
  }
  .form__util-link.util-auth__link {
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
  .form__container {
    margin: 0 24px;
  }
}
.header {
  position: relative;
  z-index: 500;
  height: 120px;
  border-bottom: 1px solid #e2e2e2;
}
.header__inner {
  height: 100%;
  margin: 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header.on, body.scroll_down .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  background-color: #fff;
}

.nav__bg {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item {
  display: inline-block;
  position: relative;
  width: 173px;
  text-align: center;
}
.nav__item:first-child .nav__submenu {
  border-left: none;
}
.nav__submenu {
  display: none;
  position: absolute;
  top: 121px;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  padding: 24px 0;
  border-right: 1px solid #e2e2e2;
}
.nav__item:first-child .nav__submenu {
  border-left: 1px solid #e2e2e2;
}

.nav__submenu::before {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
  transform: scale(0.8);
  transition: opacity 0.1s, transform 0.3s;
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
}
.nav-submenu__link, .nav-submenu__link--arrow {
  display: inline-block;
  padding: 8px 0;
  font-size: 18px;
}
.nav-submenu__link--arrow {
  display: flex;
}
.nav-submenu__link--arrow--active::after {
  transform: rotate(180deg) !important;
}
.nav-submenu__link--arrow::after {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url("../images/icons/arw_down_gray.svg") no-repeat center/100% auto;
  transform: rotate(0);
  transition: transform 0.4s;
  display: inline-block;
  content: "";
}
.nav-submenu__depth03 {
  margin: 0 40px;
  padding: 4px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.nav-depth03__link {
  display: inline-block;
  padding: 4px 0;
  font-size: 16px;
  text-align: center;
}
.nav__link {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 120px;
  transition: color 0.3s;
}
.nav__link::before {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #175e9e;
  transform: scaleX(0);
  transition: transform 0.3s;
  display: block;
  position: absolute;
  content: "";
}
.nav__ad {
  display: none;
  position: absolute;
  top: 121px;
  right: 0;
  width: calc((100% - 865px) / 2);
  padding: 32px 80px 0;
}

.nav-ad {
  max-width: 368px;
}
.nav-ad__imgBox {
  overflow: hidden;
  width: 100%;
  padding-top: 54.347826087%;
  border-radius: 10px;
}

.util {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__list, .util-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.util-auth__item + .util-auth__item::before {
  width: 1px;
  height: 16px;
  margin: 0 8px;
  background-color: #e2e2e2;
  vertical-align: middle;
  display: inline-block;
  position: static;
  content: "";
}
.util-auth__link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #373737;
  transition: color 0.3s;
}
.util-auth__link:hover, .util-auth__link:focus, .util-auth__link--blue {
  color: #175e9e;
}
.util-social__list {
  gap: 24px;
}

.mGnb {
  display: none;
  position: fixed;
  top: 96px;
  right: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
}

@media all and (min-width: 1201px) {
  .nav__item.on .nav__submenu:before {
    transform: scale(1);
    opacity: 1;
  }
  .nav__submenu::before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #F6F9FB 0%, rgba(255, 255, 255, 0) 100%);
    transform: scale(0.8);
    transition: opacity 0.1s, transform 0.3s;
    opacity: 0;
    display: block;
    position: absolute;
    content: "";
  }
  .nav__item.on .nav__link::before {
    transform: scaleX(1);
  }
  .nav__item.on .nav__link, .nav__link:hover, .nav__link:focus {
    color: #175e9e;
  }
}
@media all and (max-width: 1599px) {
  .header__inner {
    margin: 0 44px;
  }
  .nav__item {
    width: 138px;
  }
  .nav-submenu__link, .nav-submenu__link--arrow {
    font-size: 14px;
  }
  .nav-submenu__depth03 {
    margin: 0 32px;
  }
  .nav-depth03__link {
    font-size: 12px;
  }
  .nav__link {
    font-size: 18px;
  }
  .nav__ad {
    width: calc((100% - 690px) / 2);
    padding: 32px 64px 0;
  }
}
@media all and (max-width: 1399px) {
  .header__inner {
    margin: 0 34px;
  }
  .nav__item {
    width: 7.8627591137%;
  }
  .nav__ad {
    width: 30%;
    padding: 32px 50px 0;
  }
}
@media all and (max-width: 1200px) {
  .header {
    height: 96px;
  }
  .header__inner {
    margin: 0 24px;
  }
  .logo__link img {
    height: 64px;
  }
  .nav__list {
    flex-direction: column;
    overflow-y: auto;
  }
  .nav__item {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
  }
  .nav__item:last-child .nav__link::after {
    content: none;
  }
  .nav__item--active .nav__link {
    background-color: #175e9e;
    color: #fff;
  }
  .nav__item--active .nav__link::after {
    transform: rotate(180deg);
    filter: invert(1);
  }
  .nav__submenu {
    position: static;
    padding: 0;
    border: none;
  }
  .nav-submenu {
    padding: 16px 24px;
    text-align: left;
  }
  .nav-submenu__link, .nav-submenu__link--arrow {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
  }
  .nav-submenu__depth03 {
    display: none;
    margin: 0;
    padding: 12px 0;
  }
  .nav-depth03__link {
    width: 100%;
    padding: 12px 16px;
    font-size: 18px;
    text-align: left;
  }
  .nav__link {
    padding: 32px 24px;
    font-size: 24px;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__link::after {
    width: 24px;
    height: 24px;
    margin-left: auto;
    background: url("../images/icons/arw_down_black2.svg") no-repeat center/cover;
    transition: transform 0.4s;
    display: inline-block;
    content: "";
  }
  .nav__ad {
    display: block;
    position: static;
    width: 100%;
    padding: 38px 10px 100px;
  }
  .nav-ad {
    margin: 0 auto;
  }
  .util {
    position: static;
    height: 60px;
    padding: 16px 24px;
    border-bottom: 1px solid #e2e2e2;
    transform: translateY(0);
  }
  .util-social {
    margin-left: auto;
  }
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  overflow-y: auto;
  animation-timing-function: ease-out;
  animation-name: modal-open;
}
.modal-close {
  display: none;
  opacity: 0;
}
.modal-close__centered {
  transform: translate(0, 100px);
}
.modal__centered {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__box {
  position: relative;
  z-index: 100;
  width: 88.888888%;
  max-width: 560px;
  margin: auto;
  padding: 65px 40px 40px;
  background-color: #fff;
  text-align: center;
  transform: translate(0, 0);
  transition: transform 0.3s ease-out;
  border-radius: 10px;
  border-radius: 10px;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-inner;
}
.modal__btn-wrap {
  margin-top: 50px;
  gap: 16px;
  display: flex;
  justify-content: center;
}
.modal__alert {
  font-weight: 500;
  font-size: 20px;
}
.modal__alert--em {
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  padding: 16px;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-weight: 700;
  font-size: 24px;
}
.modal__btn {
  width: 200px;
}

@media all and (max-width: 1200px) {
  .modal__box {
    width: 88.888888%;
    max-width: 450px;
    padding: 52px 32px 32px;
  }
  .modal__btn-wrap {
    margin-top: 40px;
    gap: 12px;
  }
  .modal__alert {
    font-size: 16px;
  }
  .modal__alert--em {
    margin: 12px 0;
    padding: 12px;
    font-size: 20px;
  }
  .modal__btn {
    width: 160px;
  }
}
@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
/* pages */
/* s: common */
.sec {
  margin: 90px 0 120px;
}
.sec__inner, .main-visual__txtarea, .footer__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.sec__ttl {
  padding: 0 0 56px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}
.sec__ttl--front-line {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
}
.sec__ttl--front-line::before {
  width: 4px;
  height: 30px;
  margin-right: 16px;
  background-color: #175e9e;
  display: inline-block;
  content: "";
}

.swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  transform: translateY(-50%);
  cursor: pointer;
}

.swiper-pagination {
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: width 0.3s;
  opacity: 1;
  border-radius: 4px;
}
.schedule .swiper-pagination-bullet {
  background-color: #E2E2E2;
}
.schedule .swiper-pagination-bullet-active {
  background-color: #749ec5;
}

.swiper-pagination-bullet-active {
  width: 24px;
  background-color: #749ec5;
}

/* e: common */
/* s: index */
.main-visual {
  position: relative;
  overflow: hidden;
  height: 560px;
}
.main-visual__slide01 {
  background-image: url("../images/img/img_slides_01.jpg");
}
.main-visual__slide02 {
  background-image: url("../images/img/img_slides_02.jpg");
}
.main-visual__slide03 {
  background-image: url("../images/img/img_slides_03.jpg");
}
.main-visual__slide04 {
  background-image: url("../images/img/img_slides_04.jpg");
}
.main-visual__slide05 {
  background-image: url("../images/img/img_slides_05.jpg");
}
.main-visual__slide06 {
  background-image: url("../images/img/img_slides_06.jpg");
}
.main-visual ul {
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual__btn {
  width: 56px;
  height: 56px;
}
.main-visual__btn--prev {
  left: 64px;
  background-image: url("../images/icons/arw_slider_prev.svg");
}
.main-visual__btn--next {
  right: 64px;
  background-image: url("../images/icons/arw_slider_next.svg");
}
.main-visual__pagination {
  position: absolute;
  bottom: 16px !important;
}
.main-visual__txtarea {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-visual__ttl {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  line-height: 1.3;
}

.schedule__pagination, .schedule__btn {
  display: none;
}
.schedule__list {
  justify-content: space-between;
}
.schedule__slide {
  width: calc((100% - 48px) / 3);
}
.schedule__imgbox {
  overflow: hidden;
  padding-top: 54.347826087%;
  border-radius: 10px;
}
.schedule__txt {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  gap: 5px;
  display: flex;
  align-items: center;
}
.schedule__txt::after {
  width: 24px;
  height: 24px;
  background: url("../images/icons/arw_right_white_sm.svg") no-repeat center/100% auto;
  display: block;
  content: "";
}

.notice__inner {
  display: flex;
}
.notice .ttl-wrap {
  position: relative;
  padding-right: 80px;
}
.notice .ttl-wrap::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: -9999px;
  z-index: -1;
  background-color: #f9f9f9;
  display: block;
  position: absolute;
  content: "";
}
.notice .ttl-wrap__area {
  display: none;
  padding: 40px 0;
}
.notice .ttl-wrap__area--active {
  display: block;
}
.notice .ttl-wrap__area:nth-child(1) .ttl-wrap__ttl::after {
  background-image: url("../images/icons/ico_notice.svg");
}
.notice .ttl-wrap__area:nth-child(2) .ttl-wrap__ttl::after {
  background-image: url("../images/icons/ico_asteriskSimple.svg");
}
.notice .ttl-wrap__ttl {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  gap: 16px;
  display: flex;
  align-items: center;
}
.notice .ttl-wrap__ttl::after {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display: block;
  content: "";
}
.notice .ttl-wrap__txt {
  position: relative;
  gap: 4px;
  display: flex;
  align-items: center;
}
.notice .ttl-wrap__txt::after {
  width: 100%;
  max-width: 16px;
  height: 16px;
  background: url("../images/icons/arw_right_black.svg") no-repeat center/100% auto;
  display: block;
  content: "";
}
.notice__content {
  padding: 40px 60px;
}
.notice__tab {
  padding-right: 0;
}
.notice__tab .tabs {
  display: flex;
  gap: 40px;
}
.notice__tab .tabs__item {
  position: relative;
}
.notice__tab .tabs__item--active::before {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #175e9e;
  display: block;
  position: absolute;
  content: "";
}
.notice__tab .tabs__item--active .tabs__btn {
  font-weight: 600;
  color: #121212;
}
.notice__tab .tabs__btn {
  display: inline-block;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  color: #6d6d6d;
  line-height: 1.5;
}
.notice__tab .tab-content {
  display: none;
  width: 100%;
  height: 285px;
}
.notice__tab .tab-content li:last-child {
  border-bottom: 1px solid #e2e2e2;
}
.notice__tab .tab-content--active {
  display: block;
}
.notice__tab .tab-content__item {
  padding: 16px 8px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notice__tab .tab-content__ttl {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice__tab .tab-content__date {
  display: inline-block;
  min-width: 112px;
  color: #6d6d6d;
  text-align: center;
  line-height: 1.5;
}

/* e: index */
@media all and (max-width: 1399px) {
  .main-visual__txtarea {
    padding: 0 144px;
  }
}
@media all and (max-width: 1200px) {
  .sec {
    margin: 72px 0 96px;
  }
  .sec__inner, .footer__inner, .main-visual__txtarea {
    max-width: 100%;
  }
  .sec__ttl {
    padding-bottom: 44px;
    font-size: 24px;
  }
  .main-visual {
    height: 450px;
  }
  .main-visual__btn {
    display: none;
  }
  .main-visual__btn--prev {
    left: 24px;
  }
  .main-visual__btn--next {
    right: 24px;
  }
  .main-visual__pagination {
    right: 24px;
    left: auto;
    width: 48px;
    padding: 4px;
    background-color: rgba(116, 158, 197, 0.6);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    transform: translateX(0);
    border-radius: 24px;
  }
  .main-visual__pagination span {
    color: inherit;
  }
  .main-visual__pagination-total {
    font-weight: 400;
    opacity: 0.8;
  }
  .main-visual__txtarea {
    padding: 0 7.5%;
  }
  .main-visual__ttl {
    font-size: 38px;
  }
  .schedule__pagination {
    display: block;
    bottom: 0 !important;
    left: 50% !important;
  }
  .schedule__slide {
    width: calc((100% - 32px) / 3);
  }
  .schedule__imgbox {
    padding-top: 70.3125%;
  }
  .schedule__txt {
    right: 12px;
    bottom: 12px;
    font-size: 20px;
  }
  .notice .ttl-wrap__area {
    padding: 32px 0;
  }
  .notice .ttl-wrap__ttl {
    font-size: 44px;
  }
  .notice__content {
    padding: 32px 0 32px 48px;
  }
  .notice__tab .tabs__btn {
    font-size: 20px;
  }
  .notice .tab-content__date {
    min-width: 90px;
    font-size: 14px;
  }
}
@media all and (max-width: 768px) {
  .sec {
    margin: 60px 0;
  }
  .sec__ttl {
    padding-bottom: 32px;
  }
  .main-visual {
    height: 240px;
  }
  .main-visual__txtarea {
    padding: 0 24px;
  }
  .main-visual__ttl {
    font-size: 26px;
  }
  .schedule {
    position: relative;
    overflow: hidden;
  }
  .schedule__list {
    padding-bottom: 32px;
    gap: 16px;
  }
  .schedule__slide {
    width: 256px;
  }
  .schedule__txt {
    font-size: 16px;
  }
  .schedule__txt::after {
    width: 16px;
    height: 16px;
  }
  .notice__inner {
    flex-direction: column;
  }
  .notice .ttl-wrap {
    max-width: 100%;
    padding-right: 0;
    flex: 1 1 100%;
  }
  .notice .ttl-wrap::before {
    right: 17.7083333333%;
  }
  .notice .ttl-wrap__area {
    padding: 16px 0;
  }
  .notice .ttl-wrap__ttl {
    font-size: 32px;
    gap: 8px;
  }
  .notice .ttl-wrap__ttl::after {
    width: 24px;
    height: 24px;
  }
  .notice__content {
    max-width: 100%;
    padding: 24px 0;
    flex: 1 1 100%;
  }
  .notice__content__tab .tabs__btn {
    font-size: 18px;
  }
  .notice__content .tab-content__item {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .notice__content .tab-content__ttl {
    font-size: 14px;
  }
  .notice__content .tab-content__date {
    min-width: auto;
    font-size: 12px;
  }
}
@media all and (min-width: 1201px) and (min-width: 1201px) {
  .main-visual__pagination {
    left: 50% !important;
  }
}
/* s: account */
.login__container {
  margin: 120px 0 160px;
}
.login__inner {
  max-width: 520px;
  margin: 0 auto;
}
.login-social {
  padding: 40px 60px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 10px;
}
.login-social__ttl {
  margin-bottom: 24px;
  font-weight: 500;
}

/* e: account */
@media all and (max-width: 1200px) {
  .login__container {
    margin: 96px 0 128px;
  }
  .login-social {
    padding: 32px 48px;
  }
  .login-social__ttl {
    margin-bottom: 20px;
  }
}